In [24]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
import pkdb_analysis as pka

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
# get all data and store as hdf5
#data = pka.PKDBData.from_db()
#data.to_hdf5("pkdb_all.h5")

In [27]:
# data with filters
general_filter = {"study_name": "Allonen1981"}
# todo: unify Y, "true", True ?
filters = {
    
    "groups":{
        **general_filter, 
       
    },
    "individuals":{
         **general_filter, 
    },
    "interventions": {
       **general_filter, 
        "normed":"true"
    },
    "outputs": {
         **general_filter, 
        "calculated":"true",
        "normed":"true"

    },
    "timecourses": {
         **general_filter, 
        "normed":"true"

    }
}
data = pka.PKDBData.from_db(filters)


print("groups")
display(data.groups)
print("individuals")
display(data.individuals)
print("interventions")
display(data.interventions)
print("outputs")
display(data.outputs)
print("timecourses")
display(data.timecourses)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&study_name=Allonen1981&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&study_name=Allonen1981&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Allonen1981
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Allonen1981&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Allonen1981
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Allonen1981&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&study_name=Allonen1981&calculated=true&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&study_name=Allonen1981&calculated=true&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&study_name=Allonen1981&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&study_name=Allonen1981&normed=true&page=1
WARNING:root:Calculating choices

groups

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,1,all,6,-1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,PKDB00181,Allonen1981,1,all,6,-1,11,6,age,None,None,NaN,NaN,NaN,25.0,37.0,NaN,NaN,NaN,yr
2,PKDB00181,Allonen1981,1,all,6,-1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,PKDB00181,Allonen1981,1,all,6,-1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,PKDB00181,Allonen1981,1,all,6,-1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,PKDB00181,Allonen1981,1,all,6,-1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

individuals

,study_sid,study_name,individual_pk,individual_name,individual_group_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,6,GZ,1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,PKDB00181,Allonen1981,6,GZ,1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,PKDB00181,Allonen1981,6,GZ,1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,PKDB00181,Allonen1981,6,GZ,1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,PKDB00181,Allonen1981,6,GZ,1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,PKDB00181,Allonen1981,6,GZ,1,36,1,age,None,None,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
6,PKDB00181,Allonen1981,6,GZ,1,35,1,weight,None,None,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
7,PKDB00181,Allonen1981,1,WS,1,16,1,age,None,None,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
8,PKDB00181,Allonen1981,1,WS,1,15,1,weight,None,None,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
9,PKDB00181,Allonen1981,1,WS,1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
10,PKDB00181,Allonen1981,1,WS,1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
11,PKDB00181,Allonen1981,1,WS,1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,PKDB00181,Allonen1981,1,WS,1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,PKDB00181,Allonen1981,1,WS,1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14,PKDB00181,Allonen1981,3,TF,1,24,1,age,None,None,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
15,PKDB00181,Allonen1981,3,TF,1,23,1,weight,None,None,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
16,PKDB00181,Allonen1981,3,TF,1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
17,PKDB00181,Allonen1981,3,TF,1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
18,PKDB00181,Allonen1981,3,TF,1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
19,PKDB00181,Allonen1981,3,TF,1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
20,PKDB00181,Allonen1981,3,TF,1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
21,PKDB00181,Allonen1981,5,FS,1,31,1,weight,None,None,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
22,PKDB00181,Allonen1981,5,FS,1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
23,PKDB00181,Allonen1981,5,FS,1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
24,PKDB00181,Allonen1981,5,FS,1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
25,PKDB00181,Allonen1981,5,FS,1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
26,PKDB00181,Allonen1981,5,FS,1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
27,PKDB00181,Allonen1981,5,FS,1,32,1,age,None,None,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
28,PKDB00181,Allonen1981,2,HA,1,20,1,age,None,None,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
29,PKDB00181,Allonen1981,2,HA,1,19,1,weight,None,None,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
30,PKDB00181,Allonen1981,2,HA,1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
31,PKDB00181,Allonen1981,2,HA,1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
32,PKDB00181,Allonen1981,2,HA,1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
33,PKDB00181,Allonen1981,2,HA,1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
34,PKDB00181,Allonen1981,2,HA,1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
35,PKDB00181,Allonen1981,4,UK,1,28,1,age,None,None,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
36,PKDB00181,Allonen1981,4,UK,1,27,1,weight,None,None,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
37,PKDB00181,Allonen1981,4,UK,1,12,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
38,PKDB00181,Allonen1981,4,UK,1,10,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
39,PKDB00181,Allonen1981,4,UK,1,9,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
40,PKDB00181,Allonen1981,4,UK,1,8,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
41,PKDB00181,Allonen1981,4,UK,1,7,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

interventions

,study_sid,study_name,pk,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,4,2,True,po15,oral,tablet,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
1,PKDB00181,Allonen1981,3,1,True,po75,oral,tablet,single dose,0.0,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
2,PKDB00181,Allonen1981,6,5,True,iv,iv,solution,single dose,0.0,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,191,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.006200,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute
1,PKDB00181,Allonen1981,206,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000134,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
2,PKDB00181,Allonen1981,207,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.006300,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute
3,PKDB00181,Allonen1981,188,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000310,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
4,PKDB00181,Allonen1981,204,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000372,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
5,PKDB00181,Allonen1981,187,6,1,-1,True,True,plasma,7.00,...,midazolam,NaN,0.000282,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
6,PKDB00181,Allonen1981,189,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.242000,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram
7,PKDB00181,Allonen1981,193,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.650000,NaN,NaN,NaN,NaN,NaN,NaN,liter / kilogram
8,PKDB00181,Allonen1981,203,4,1,-1,True,True,plasma,7.01,...,midazolam,NaN,0.000343,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
9,PKDB00181,Allonen1981,205,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,37.900000,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour
10,PKDB00181,Allonen1981,190,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000185,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
11,PKDB00181,Allonen1981,192,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,1.860000,NaN,NaN,NaN,NaN,NaN,NaN,hour
12,PKDB00181,Allonen1981,194,6,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,hour
13,PKDB00181,Allonen1981,208,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,1.830000,NaN,NaN,NaN,NaN,NaN,NaN,hour
14,PKDB00181,Allonen1981,209,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,liter
15,PKDB00181,Allonen1981,210,4,1,-1,True,True,plasma,NaN,...,midazolam,NaN,0.750000,NaN,NaN,NaN,NaN,NaN,NaN,hour

timecourses

,study_sid,study_name,timecourse_pk,intervention_pk,group_pk,individual_pk,normed,tissue,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,3,6,1,-1,True,plasma,"[0.00e+00, 1.70e-01, 3.30e-01, 5.00e-01, 7.50e...",hr,...,midazolam,None,"[1.85e-04, 1.44e-04, 1.21e-04, 1.06e-04, 8.38e...",None,None,None,"[2.33e-05, 1.82e-05, 2.06e-05, 2.68e-05, 1.03e...","[9.52e-06, 7.42e-06, 8.40e-06, 1.09e-05, 4.19e...","[1.26e-01, 1.26e-01, 1.71e-01, 2.53e-01, 1.23e...",gram / liter
1,PKDB00181,Allonen1981,4,4,1,-1,True,plasma,"[1.70e-01, 3.30e-01, 7.50e-01, 1.00e+00, 1.50e...",hr,...,midazolam,None,"[1.01e-05, 1.32e-04, 1.34e-04, 9.67e-05, 9.66e...",None,None,None,"[4.76e-06, 7.49e-05, 3.01e-05, 4.23e-05, 5.29e...","[1.94e-06, 3.06e-05, 1.23e-05, 1.73e-05, 2.16e...","[4.71e-01, 5.66e-01, 2.24e-01, 4.37e-01, 5.48e...",gram / liter

In [23]:
data.to_hdf5("example1.h5")
data2 = pka.PKDBData.from_hdf5("example1.h5")

WARNING:root:interventions
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['study_sid', 'study_name', 'name', 'route', 'form', 'application', 'time_unit', 'measurement_type', 'choice', 'substance', 'unit']]

  """Entry point for launching an IPython kernel.
WARNING:root:individuals
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_sid', 'study_name', 'individual_name', 'measurement_type', 'choice', 'substance', 'unit']]

  """Entry point for launching an IPython kernel.
WARNING:root:groups
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_sid', 'study_name', 'group_name', 'measurement_type', 'choice', 'substance', 'unit']]

  """Entry point for launching an IPython kernel.
WARNING:root:outputs
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['study_sid', 'study_name', 'tissue', 'time_unit', 'measurement_type', 'choice', 'substance', 'unit']]

  """Entry point for launching an IPython kernel.
WARNING:root:timecourses
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_sid', 'study_name', 'tissue', 'time', 'time_unit', 'measurement_type', 'choice', 'substance', 'value', 'mean', 'median', 'min', 'max', 'sd', 'se', 'cv', 'unit']]

  """Entry point for launching an IPython kernel.
WARNING:root:/characteristica
WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses

TypeError: __init__() got an unexpected keyword argument 'characteristica'

# Example queries

## 1. Query study

In [ ]:
# Allonen1981 (sid=PKDB00181)
# TODO: queries

## Query groups and individuals
### 2.1 Get data for groups with characteristica/keywords X
healthy=True, smoking=F, disease=None,
 individual queries and combinations.

TODO: implement merge of PKDBData

### 2.2 Get data for individuals with characteristica X
### 2.3 Get data for an exclusion criteria, i.e. NOT diease=None

## 3 Query interventions
### 3.1 Get outputs/timecourses for intervention with substance
intervention with measurement_type "dosing" and substance "caffeine"
### 3.2 Get outputs/timecourses where multiple interventions were given

## 4 Query outputs/timecourses
### 4.1 query by measurement_type
### 4.2 complex
query all outputs