In [1]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
import pkdb_analysis as pka

In [5]:
# get all data and store as hdf5
data = pka.PKDBData.from_db()
data.to_hdf5("pkdb_all.h5")

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=4
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=5
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=6
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=7
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=8
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=9
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=10
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=11
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=12
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=13
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=14
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=4
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=5
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=6
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=7
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=8
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=9
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=10
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=11
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&page=1
WARNING:root:interventions
/home/mkoenig/envs/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['study_sid', 'study_name', 'name', 'route', 'form', 'application', 'time_unit', 'measurement_type', 'choice', 'substance', 'unit']]

  This is separate from the ipykernel package so we can avoid doing imports until
WARNING:root:individuals
/home/mkoenig/envs/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_sid', 'study_name', 'measurement_type', 'choice', 'unit', 'substance']]

  This is separate from the ipykernel package so we can avoid doing imports until
WARNING:root:groups
/home/mkoenig/envs/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_sid', 'study_name', 'group_name', 'measurement_type', 'choice', 'unit', 'substance']]

  This is separate from the ipykernel package so we can avoid doing imports until
WARNING:root:outputs
/home/mkoenig/envs/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_sid', 'study_name', 'tissue', 'time_unit', 'measurement_type', 'choice', 'substance', 'unit']]

  This is separate from the ipykernel package so we can avoid doing imports until
WARNING:root:timecourses
/home/mkoenig/envs/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['study_sid', 'study_name', 'tissue', 'time', 'time_unit', 'measurement_type', 'choice', 'substance', 'value', 'mean', 'median', 'min', 'max', 'sd', 'se', 'cv', 'unit']]

  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# data with filters
filters = {
    "interventions": {
        "study_name": "Allonen1981", 
        "normed":"true"
    }
}
data = pka.PKDBData.from_db(filters)

print("interventions")
display(data.interventions)
print("individuals")
display(data.individuals)
print("groups")
display(data.groups)
print("outputs")
display(data.outputs)
print("timecourses")
display(data.timecourses)

interventions

,study_sid,study_name,pk,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,4,2,True,po15,oral,tablet,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
1,PKDB00181,Allonen1981,3,1,True,po75,oral,tablet,single dose,0.0,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
2,PKDB00181,Allonen1981,6,5,True,iv,iv,solution,single dose,0.0,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

individuals

,study_sid,study_name,individual_pk,individual_name,individual_group_pk,characteristica_pk,count,measurement_type,choice,value,mean,median,min,max,sd,se,cv,unit,substance
0,PKDB00181,Allonen1981,6,6,1,35,1,weight,None,79.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram,NaN
1,PKDB00181,Allonen1981,6,6,1,36,1,age,None,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr,NaN
2,PKDB00181,Allonen1981,6,6,1,7,6,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,PKDB00181,Allonen1981,6,6,1,8,6,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,PKDB00181,Allonen1981,6,6,1,9,1,smoking,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,PKDB00178,Heizmann1983,113,113,19,356,1,weight,None,54.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram,NaN
678,PKDB00178,Heizmann1983,113,113,19,348,6,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
679,PKDB00178,Heizmann1983,113,113,19,349,6,overnight fast,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
680,PKDB00178,Heizmann1983,113,113,19,350,6,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
681,PKDB00178,Heizmann1983,113,113,19,351,6,age,None,NaN,NaN,NaN,22.0,27.0,NaN,NaN,NaN,yr,NaN

groups

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,value,mean,median,min,max,sd,se,cv,unit,substance
0,PKDB00181,Allonen1981,1,all,6,-1,12,6,overnight fast,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
1,PKDB00181,Allonen1981,1,all,6,-1,11,6,age,None,NaN,NaN,NaN,25.0,37.0,NaN,NaN,NaN,yr,NaN
2,PKDB00181,Allonen1981,1,all,6,-1,10,5,smoking,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,PKDB00181,Allonen1981,1,all,6,-1,9,1,smoking,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,PKDB00181,Allonen1981,1,all,6,-1,8,6,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,27503364,Kawaguchi-Suzuki2017,46,all,12,-1,430,8,ethnicity,caucasian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
227,27503364,Kawaguchi-Suzuki2017,46,all,12,-1,429,12,age,None,NaN,30.8,NaN,18.0,55.0,11.8,NaN,NaN,yr,NaN
228,27503364,Kawaguchi-Suzuki2017,46,all,12,-1,428,4,sex,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
229,27503364,Kawaguchi-Suzuki2017,46,all,12,-1,427,8,sex,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
230,27503364,Kawaguchi-Suzuki2017,46,all,12,-1,426,12,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,tissue,time,time_unit,measurement_type,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,1,6,-1,1,plasma,NaN,None,thalf,...,midazolam,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hr
1,PKDB00181,Allonen1981,2,6,-1,1,plasma,NaN,None,vd,...,midazolam,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,l/kg
2,PKDB00181,Allonen1981,3,6,-1,1,plasma,NaN,None,clearance,...,midazolam,292.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
3,PKDB00181,Allonen1981,4,6,-1,1,plasma,NaN,None,clearance_unbound,...,midazolam,5840.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
4,PKDB00181,Allonen1981,5,6,-1,1,plasma,NaN,None,plasma_binding,...,midazolam,95.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,3161005,Kanto1985,1917,74,45,-1,plasma,NaN,None,cmax,...,midazolam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ng/ml
1068,3161005,Kanto1985,1918,74,45,-1,plasma,NaN,None,tmax,...,midazolam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hr
1069,3161005,Kanto1985,1919,74,45,-1,plasma,NaN,None,thalf,...,midazolam,NaN,8.4,NaN,NaN,NaN,NaN,0.84,NaN,hr
1070,3161005,Kanto1985,1920,74,45,-1,plasma,NaN,None,vd,...,midazolam,NaN,311.0,NaN,NaN,NaN,NaN,27.00,NaN,l/kg
1071,3161005,Kanto1985,1921,74,45,-1,plasma,NaN,None,clearance,...,midazolam,NaN,472.0,NaN,NaN,NaN,NaN,38.00,NaN,ml/min

timecourses

,study_sid,study_name,timecourse_pk,intervention_pk,group_pk,individual_pk,tissue,time,time_unit,measurement_type,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,1,6,1,-1,plasma,"[0.00e+00, 1.70e-01, 3.30e-01, 5.00e-01, 7.50e...",hr,concentration,...,midazolam,None,"[1.85e+02, 1.44e+02, 1.21e+02, 1.06e+02, 8.38e...",None,None,None,"[2.33e+01, 1.82e+01, 2.06e+01, 2.68e+01, 1.03e...",None,None,ng/ml
1,PKDB00181,Allonen1981,2,4,1,-1,plasma,"[1.70e-01, 3.30e-01, 7.50e-01, 1.00e+00, 1.50e...",hr,concentration,...,midazolam,None,"[1.01e+01, 1.32e+02, 1.34e+02, 9.67e+01, 9.66e...",None,None,None,"[4.76e+00, 7.48e+01, 3.01e+01, 4.23e+01, 5.29e...",None,None,ng/ml
2,2932334,Bornemann1985,5,11,2,-1,plasma,"[2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...",hr,concentration,...,1-hydroxymidazolam,None,"[1.03e+01, 2.22e+01, 2.22e+01, 1.86e+01, 1.57e...",None,None,None,None,None,None,ng/ml
3,2932334,Bornemann1985,6,11,2,-1,plasma,"[2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...",hr,concentration,...,midazolam,None,"[3.41e+01, 5.76e+01, 5.78e+01, 5.15e+01, 4.31e...",None,None,None,None,None,None,ng/ml
4,2932334,Bornemann1985,7,12,2,-1,plasma,"[2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...",hr,concentration,...,1-hydroxymidazolam,None,"[8.64e+01, 7.93e+01, 6.74e+01, 6.00e+01, 4.49e...",None,None,None,None,None,None,ng/ml
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,PKDB00178,Heizmann1983,104,63,-1,113,plasma,"[5.00e+00, 1.00e+01, 1.50e+01, 3.00e+01, 4.50e...",min,concentration,...,1-hydroxymidazolam,"[nan, nan, 3.10e+01, 1.82e+02, 9.20e+01, 6.80e...",None,None,None,None,None,None,None,ng/ml
79,3161005,Kanto1985,123,88,24,-1,serum,"[0.00e+00, 1.50e+01, 3.00e+01, 4.50e+01, 6.00e...",min,concentration,...,midazolam,None,"[0.00e+00, 4.46e+01, 3.75e+01, 3.00e+01, 2.61e...",None,None,None,"[nan, 7.32e+00, 3.08e+00, 4.62e+00, 4.43e+00, ...",None,None,ng/ml
80,3161005,Kanto1985,124,90,24,-1,serum,"[0.00e+00, 1.50e+01, 3.00e+01, 4.50e+01, 6.00e...",min,concentration,...,midazolam,None,"[0.00e+00, 4.01e+01, 6.41e+01, 6.96e+01, 6.50e...",None,None,None,"[nan, 5.68e+00, 5.30e+00, 6.74e+00, 4.91e+00, ...",None,None,ng/ml
81,3161005,Kanto1985,125,71,24,-1,serum,"[1.96e+00, 4.20e+00, 8.84e+00, 1.38e+01, 2.00e...",min,concentration,...,midazolam,None,"[1.54e+02, 1.28e+02, 9.78e+01, 8.46e+01, 8.05e...",None,None,None,"[1.87e+01, 1.18e+01, 1.06e+01, 9.24e+00, 1.10e...",None,None,ng/ml
82,3161005,Kanto1985,126,78,24,-1,serum,"[0.00e+00, 1.50e+01, 3.00e+01, 4.50e+01, 6.00e...",min,concentration,...,midazolam,None,"[0.00e+00, 1.90e+01, 4.96e+01, 6.11e+01, 4.98e...",None,None,None,"[nan, 1.22e+01, 1.30e+01, 7.13e+00, 7.42e+00, ...",None,None,ng/ml

In [ ]:
data.to_hdf5("example1.h5")
data2 = pka.PKDBData.from_hdf5("example1.h5")

# Example queries

## 1. Query study

In [ ]:
# Allonen1981 (sid=PKDB00181)
# TODO: queries

## Query groups and individuals
### 2.1 Get data for groups with characteristica/keywords X
healthy=True, smoking=F, disease=None,
 individual queries and combinations.

TODO: implement merge of PKDBData

### 2.2 Get data for individuals with characteristica X
### 2.3 Get data for an exclusion criteria, i.e. NOT diease=None

## 3 Query interventions
### 3.1 Get outputs/timecourses for intervention with substance
intervention with measurement_type "dosing" and substance "caffeine"
### 3.2 Get outputs/timecourses where multiple interventions were given

## 4 Query outputs/timecourses
### 4.1 query by measurement_type
### 4.2 complex
query all outputs