In [122]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKFilterFactory, PKData

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [123]:
# get all data and store as hdf5
#data = pka.PKDBData.from_db()
#data.to_hdf5("pkdb_all.h5")

In [124]:
# data with filters
pkfilter = PKFilterFactory.by_study_name("Test1")
data = PKData.from_db(pkfilter=pkfilter)

pkfilter = PKFilterFactory.by_study_sid("PKDB99999")
data = PKData.from_db(pkfilter=pkfilter)

data.print_choices("groups")

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:Calculating choices
WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999&page=1
WARNING:root:Calculating choices

*** study_sid ***
['PKDB99999']
*** study_name ***
['Test1']
*** group_name ***
['all']
*** measurement_type ***
['age', 'healthy', 'overnight fast', 'smoking', 'species']
*** choice ***
['N', 'Y', 'homo sapiens']
*** substance ***
['None']
*** unit ***
['yr']

In [125]:
print("groups")
display(data.groups)
print("individuals")
display(data.individuals)
print("interventions")
display(data.interventions)
print("outputs")
display(data.outputs)
print("timecourses")
display(data.timecourses)

groups

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,13,all,6,-1,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,PKDB99999,Test1,13,all,6,-1,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,PKDB99999,Test1,13,all,6,-1,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,PKDB99999,Test1,13,all,6,-1,387,6,age,None,None,NaN,NaN,NaN,25.0,37.0,NaN,NaN,NaN,yr
4,PKDB99999,Test1,13,all,6,-1,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,PKDB99999,Test1,13,all,6,-1,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

individuals

,study_sid,study_name,individual_pk,individual_name,individual_group_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,64,UK,13,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,PKDB99999,Test1,64,UK,13,404,1,age,None,None,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
2,PKDB99999,Test1,64,UK,13,403,1,weight,None,None,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
3,PKDB99999,Test1,64,UK,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,PKDB99999,Test1,64,UK,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,PKDB99999,Test1,64,UK,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,PKDB99999,Test1,64,UK,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,PKDB99999,Test1,63,TF,13,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
8,PKDB99999,Test1,63,TF,13,400,1,age,None,None,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
9,PKDB99999,Test1,63,TF,13,399,1,weight,None,None,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
10,PKDB99999,Test1,63,TF,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
11,PKDB99999,Test1,63,TF,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,PKDB99999,Test1,63,TF,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,PKDB99999,Test1,63,TF,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14,PKDB99999,Test1,61,WS,13,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
15,PKDB99999,Test1,61,WS,13,392,1,age,None,None,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
16,PKDB99999,Test1,61,WS,13,391,1,weight,None,None,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
17,PKDB99999,Test1,61,WS,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
18,PKDB99999,Test1,61,WS,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
19,PKDB99999,Test1,61,WS,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
20,PKDB99999,Test1,61,WS,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
21,PKDB99999,Test1,62,HA,13,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
22,PKDB99999,Test1,62,HA,13,396,1,age,None,None,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
23,PKDB99999,Test1,62,HA,13,395,1,weight,None,None,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
24,PKDB99999,Test1,62,HA,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
25,PKDB99999,Test1,62,HA,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
26,PKDB99999,Test1,62,HA,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
27,PKDB99999,Test1,62,HA,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
28,PKDB99999,Test1,66,GZ,13,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
29,PKDB99999,Test1,66,GZ,13,412,1,age,None,None,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
30,PKDB99999,Test1,66,GZ,13,411,1,weight,None,None,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
31,PKDB99999,Test1,66,GZ,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
32,PKDB99999,Test1,66,GZ,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
33,PKDB99999,Test1,66,GZ,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
34,PKDB99999,Test1,66,GZ,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
35,PKDB99999,Test1,65,FS,13,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
36,PKDB99999,Test1,65,FS,13,408,1,age,None,None,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
37,PKDB99999,Test1,65,FS,13,407,1,weight,None,None,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
38,PKDB99999,Test1,65,FS,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
39,PKDB99999,Test1,65,FS,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
40,PKDB99999,Test1,65,FS,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
41,PKDB99999,Test1,65,FS,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

interventions

,study_sid,study_name,pk,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,83,81,True,po75,oral,tablet,single dose,0.0,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
1,PKDB99999,Test1,84,82,True,po15,oral,tablet,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
2,PKDB99999,Test1,86,85,True,iv,iv,solution,single dose,0.0,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,1734,86,13,-1,True,True,plasma,NaN,...,midazolam,NaN,1.860000,NaN,NaN,NaN,NaN,NaN,NaN,hour
1,PKDB99999,Test1,1732,86,13,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000185,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
2,PKDB99999,Test1,1713,86,13,-1,True,False,plasma,NaN,...,midazolam,NaN,301.000000,NaN,NaN,NaN,106.0,43.500,0.354,liter / hour
3,PKDB99999,Test1,1710,86,13,-1,True,False,plasma,NaN,...,midazolam,NaN,2.400000,NaN,NaN,NaN,0.8,0.327,0.333,hour
4,PKDB99999,Test1,1689,86,-1,66,True,False,plasma,NaN,...,midazolam,0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / kilogram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,PKDB99999,Test1,1646,84,-1,62,True,False,plasma,NaN,...,midazolam,1.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
101,PKDB99999,Test1,1643,84,-1,62,True,False,plasma,NaN,...,midazolam,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
102,PKDB99999,Test1,1661,83,-1,63,True,False,plasma,NaN,...,midazolam,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
103,PKDB99999,Test1,1660,83,-1,63,True,False,plasma,NaN,...,midazolam,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
104,PKDB99999,Test1,1633,83,-1,61,True,False,plasma,NaN,...,midazolam,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour

timecourses

,study_sid,study_name,timecourse_pk,intervention_pk,group_pk,individual_pk,normed,tissue,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,45,86,13,-1,True,plasma,"[0.00e+00, 1.70e-01, 3.30e-01, 5.00e-01, 7.50e...",hr,...,midazolam,None,"[1.85e-04, 1.44e-04, 1.21e-04, 1.06e-04, 8.38e...",None,None,None,"[2.33e-05, 1.82e-05, 2.06e-05, 2.68e-05, 1.03e...","[9.52e-06, 7.42e-06, 8.40e-06, 1.09e-05, 4.19e...","[1.26e-01, 1.26e-01, 1.71e-01, 2.53e-01, 1.23e...",gram / liter
1,PKDB99999,Test1,46,84,13,-1,True,plasma,"[1.70e-01, 3.30e-01, 7.50e-01, 1.00e+00, 1.50e...",hr,...,midazolam,None,"[1.01e-05, 1.32e-04, 1.34e-04, 9.67e-05, 9.66e...",None,None,None,"[4.76e-06, 7.49e-05, 3.01e-05, 4.23e-05, 5.29e...","[1.94e-06, 3.06e-05, 1.23e-05, 1.73e-05, 2.16e...","[4.71e-01, 5.66e-01, 2.24e-01, 4.37e-01, 5.48e...",gram / liter

# Example queries

## 1. Query study

In [126]:
pkfilter = PKFilterFactory.by_study_name("Test1")
data = PKData.from_db(pkfilter=pkfilter)

pkfilter = PKFilterFactory.by_study_sid("PKDB99999")
data = PKData.from_db(pkfilter=pkfilter)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:Calculating choices
WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_sid=PKDB99999&page=1
WARNING:root:Calculating choices

## Query groups and individuals
### 2.1 Get data for groups with characteristica/keywords X
healthy=True, smoking=N, disease=None,
individual queries and combinations.

In [129]:
pkfilter_healthy = PKFilter()
measurement_type = "healthy"
choice = "Y"

pkfilter_healthy.groups["measurement_type"] = measurement_type
pkfilter_healthy.groups["choice"] = choice

pkfilter_healthy.individuals["measurement_type"] = measurement_type
pkfilter_healthy.individuals["choice"] = choice

data_healthy = PKData.from_db(pkfilter=pkfilter_healthy)

pkfilter_smoking = PKFilter()
measurement_type = "smoking"
choice = "Y"
pkfilter_smoking.groups["measurement_type"] = measurement_type
pkfilter_smoking.groups["choice"] = choice

pkfilter_smoking.individuals["measurement_type"] = measurement_type
pkfilter_smoking.individuals["choice"] = choice
data_smoking = PKData.from_db(pkfilter=pkfilter_smoking)


pkfilter_disease = PKFilter()

measurement_type = "disease"
pkfilter_disease.groups["measurement_type"] = measurement_type
pkfilter_disease.individuals["measurement_type"] = measurement_type
data_disease = PKData.from_db(pkfilter=pkfilter_disease)

#data_smoking & pkfilter_healthy

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&measurement_type=healthy&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&measurement_type=healthy&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=healthy&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=healthy&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices
WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&measurement_type=smoking&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&measurement_type=smoking&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=smoking&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=smoking&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices
WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&measurement_type=disease
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&measurement_type=disease&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=disease
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=disease&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices

In [146]:
pkfilter_disease = PKFilter()
pkfilter_disease.outputs["group_pk__exclude"] = "-1"
data_disease = PKData.from_db(pkfilter=pkfilter_disease)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&group_pk__exclude=-1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&group_pk__exclude=-1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices

In [147]:
data_disease.outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,8549036,Backman1996,298,8,-1,14,True,False,plasma,NaN,...,midazolam,0.000074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
1,8549036,Backman1996,304,10,-1,10,True,False,plasma,NaN,...,midazolam,0.000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
2,8549036,Backman1996,306,8,-1,12,True,False,plasma,NaN,...,midazolam,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
3,8549036,Backman1996,307,10,-1,13,True,False,plasma,NaN,...,midazolam,0.000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
4,8549036,Backman1996,308,10,-1,14,True,False,plasma,NaN,...,midazolam,0.000008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,PKDB99999,Test1,1646,84,-1,62,True,False,plasma,NaN,...,midazolam,1.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
675,PKDB99999,Test1,1643,84,-1,62,True,False,plasma,NaN,...,midazolam,0.070000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
676,PKDB99999,Test1,1661,83,-1,63,True,False,plasma,NaN,...,midazolam,0.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
677,PKDB99999,Test1,1660,83,-1,63,True,False,plasma,NaN,...,midazolam,0.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
678,PKDB99999,Test1,1633,83,-1,61,True,False,plasma,NaN,...,midazolam,0.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour

TODO: implement merge of PKDBData

### 2.2 Get data for individuals with characteristica X
### 2.3 Get data for an exclusion criteria, i.e. NOT diease=None

In [83]:
data.concise()
data.load()

WARNING:root:Consice DataFrames

642

In [110]:
pkfilter_healthy = PKFilter()
pkfilter_healthy.groups["measurement_type"] = "healthy"
pkfilter_healthy.groups["choice"] = "Y"
data_healthy = PKData.from_db(pkfilter=pkfilter_healthy)

pkfilter_smoking = PKFilter()
pkfilter_smoking.groups["measurement_type"] = "smoking"
pkfilter_smoking.groups["choice"] = "Y"
data_smoking = PKData.from_db(pkfilter=pkfilter_smoking)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=healthy&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=healthy&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices
WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=smoking&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=smoking&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices

In [111]:
data_both = data_smoking & data_healthy

WARNING:root:Calculating choices

   study_sid study_name  group_pk group_name  group_count  group_parent_pk  \
0  PKDB99999      Test1        13        all            6               -1
3  PKDB99999      Test1        13        all            6               -1

   characteristica_pk  count measurement_type choice  ... value  mean  median  \
0                 385      1          smoking      Y  ...   NaN   NaN     NaN
3                 384      6          healthy      Y  ...   NaN   NaN     NaN

   min  max  sd  se  cv  unit  pk
0  NaN  NaN NaN NaN NaN  None  13
3  NaN  NaN NaN NaN NaN  None  13

[2 rows x 21 columns]

In [112]:
data_both._len

1019

In [114]:
data_both.concise()

WARNING:root:Consice DataFrames

In [140]:
d = data_both
print("groups")
display(d.groups)
print("individuals")
display(d.individuals)
print("interventions")
display(d.interventions)
print("outputs")
display(d.outputs)
print("timecourses")
display(d.timecourses)

groups

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,13,all,6,-1,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,PKDB99999,Test1,13,all,6,-1,385,1,smoking,Y,tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,PKDB99999,Test1,13,all,6,-1,386,5,smoking,N,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,PKDB99999,Test1,13,all,6,-1,387,6,age,None,None,NaN,NaN,NaN,25.0,37.0,NaN,NaN,NaN,yr
4,PKDB99999,Test1,13,all,6,-1,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,PKDB99999,Test1,13,all,6,-1,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

individuals

,study_sid,study_name,individual_pk,individual_name,individual_group_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,8549036,Backman1996,12,p06,2,62,10,fasting (duration),None,None,NaN,NaN,NaN,0.125000,NaN,NaN,NaN,NaN,day
1,8549036,Backman1996,12,p06,2,61,10,abstinence,None,tea,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,day
2,8549036,Backman1996,12,p06,2,60,10,abstinence,None,coffee,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,day
3,8549036,Backman1996,12,p06,2,59,10,abstinence smoking,None,None,NaN,NaN,NaN,0.016427,NaN,NaN,NaN,NaN,yr
4,8549036,Backman1996,12,p06,2,58,10,abstinence alcohol,None,None,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,PKDB99999,Test1,65,FS,13,407,1,weight,None,None,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
254,PKDB99999,Test1,65,FS,13,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
255,PKDB99999,Test1,65,FS,13,386,5,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
256,PKDB99999,Test1,65,FS,13,385,1,smoking,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
257,PKDB99999,Test1,65,FS,13,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

interventions

,study_sid,study_name,pk,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,8549036,Backman1996,8,7,True,MID,oral,tablet,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
1,8549036,Backman1996,10,9,True,RIF,oral,capsule,multiple dose,-5.0,...,rifampicin,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / hour
2,2932334,Bornemann1985,28,25,True,po_30mg,oral,solution,single dose,0.0,...,midazolam,0.030000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
3,2932334,Bornemann1985,27,24,True,po_15mg,oral,solution,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
4,2932334,Bornemann1985,26,23,True,po_7.5mg,oral,solution,single dose,0.0,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
5,PKDB99999,Test1,83,81,True,po75,oral,tablet,single dose,0.0,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
6,PKDB99999,Test1,84,82,True,po15,oral,tablet,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
7,PKDB99999,Test1,86,85,True,iv,iv,solution,single dose,0.0,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,8549036,Backman1996,298,8,-1,14,True,False,plasma,NaN,...,midazolam,0.000074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
1,8549036,Backman1996,304,10,-1,10,True,False,plasma,NaN,...,midazolam,0.000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
2,8549036,Backman1996,306,8,-1,12,True,False,plasma,NaN,...,midazolam,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
3,8549036,Backman1996,307,10,-1,13,True,False,plasma,NaN,...,midazolam,0.000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
4,8549036,Backman1996,308,10,-1,14,True,False,plasma,NaN,...,midazolam,0.000008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,PKDB99999,Test1,1646,84,-1,62,True,False,plasma,NaN,...,midazolam,1.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
329,PKDB99999,Test1,1643,84,-1,62,True,False,plasma,NaN,...,midazolam,0.070000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
330,PKDB99999,Test1,1661,83,-1,63,True,False,plasma,NaN,...,midazolam,0.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
331,PKDB99999,Test1,1660,83,-1,63,True,False,plasma,NaN,...,midazolam,0.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
332,PKDB99999,Test1,1633,83,-1,61,True,False,plasma,NaN,...,midazolam,0.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour

timecourses

,study_sid,study_name,timecourse_pk,intervention_pk,group_pk,individual_pk,normed,tissue,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,45,86,13,-1,True,plasma,"[0.00e+00, 1.70e-01, 3.30e-01, 5.00e-01, 7.50e...",hr,...,midazolam,None,"[1.85e-04, 1.44e-04, 1.21e-04, 1.06e-04, 8.38e...",None,None,None,"[2.33e-05, 1.82e-05, 2.06e-05, 2.68e-05, 1.03e...","[9.52e-06, 7.42e-06, 8.40e-06, 1.09e-05, 4.19e...","[1.26e-01, 1.26e-01, 1.71e-01, 2.53e-01, 1.23e...",gram / liter
1,PKDB99999,Test1,46,84,13,-1,True,plasma,"[1.70e-01, 3.30e-01, 7.50e-01, 1.00e+00, 1.50e...",hr,...,midazolam,None,"[1.01e-05, 1.32e-04, 1.34e-04, 9.67e-05, 9.66e...",None,None,None,"[4.76e-06, 7.49e-05, 3.01e-05, 4.23e-05, 5.29e...","[1.94e-06, 3.06e-05, 1.23e-05, 1.73e-05, 2.16e...","[4.71e-01, 5.66e-01, 2.24e-01, 4.37e-01, 5.48e...",gram / liter

In [70]:
from copy import deepcopy
d = deepcopy(data_healthy)
d.concise()

In [72]:
data_healthy._len

1021

In [74]:
group_pks = set(d.groups["group_pk"])
outputs_group_pks = set(d.outputs["group_pk"])
print(group_pks)
print(outputs_group_pks)
print(group_pks.intersection(outputs_group_pks))

{2, 4, 13, 6}
{2, 4, 6, 13, -1}
{2, 4, 13, 6}

In [69]:
group_pks = set(data_healthy.groups["group_pk"])
outputs_group_pks = set(data_healthy.outputs["group_pk"])
print(group_pks)
print(outputs_group_pks)
print(group_pks.intersection(outputs_group_pks))

{2, 4, 13, 6}
{2, 4, 6, 11, 13, -1}
{2, 4, 13, 6}

In [57]:
pkfilter_smoking = PKFilter()
pkfilter_smoking.groups["measurement_type"] = "smoking"
pkfilter_smoking.groups["choice"] = "Y"
data_smoking = PKData.from_db(pkfilter=pkfilter_smoking)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=smoking&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=smoking&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices

In [37]:
data_both = data_smoking | data_healthy

WARNING:root:Calculating choices

In [139]:
data_both = data_both.from_db_missing()

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&pk__in=8__10__28__27__26__83__84__86
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&pk__in=8__10__28__27__26__83__84__86&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&individual_pk__in=12__14__8__11__7__9__10__13__15__16__24__19__25__18__21__26__27__23__17__28__22__20__64__63__61__62__66__65
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&individual_pk__in=12__14__8__11__7__9__10__13__15__16__24__19__25__18__21__26__27__23__17__28__22__20__64__63__61__62__66__65&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&group_pk__in=13
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&group_pk__in=13&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&output_pk__in=298__304__306__307__308__310__315__317__321__326__328__329__330__339__341__342__347__348__353__354__361__365__588__589__590__595__600__609__610__616__625__628__631__632__637__640__642__645__649__652__656__657__672__675__678__685__686__1734__1732__1713__1710__1689__1669__1666__1748__1746__1698__1695__1694__1673__1657__1648__1662__1634__293__300__316__322__324__325__327__334__346__349__351__352__359__367__369__584__587__601__603__627__638__641__646__647__648__654__666__673__674__679__682__683__1733__1730__1692__1691__1690__1681__1680__1678__1652__1651__1650__1641__1639__1623__1622__1747__1716__1686__1685__1684__1683__1658__1656__1647__1630__1629__1628__1665__297__303__305__309__318__331__332__333__335__337__343__344__345__350__356__360__362__363__364__370__592__593__598__599__606__607__611__612__618__621__622__626__629__633__634__639__651__655__658__662__663__664__667__668__669__671__684__688__1736__1712__1688__1679__1667__1653__1640__1625__1624__1752__1751__1696__1693__1687__1682__1671__1631__1626__291__292__295__299__302__312__319__320__323__340__355__358__366__368__583__585__591__594__597__602__604__605__615__619__635__636__643__644__653__659__661__665__670__677__687__1714__1677__1745__1720__1719__1715__1697__1676__1675__1674__1672__1659__1655__1645__1644__1627__1664__1663__1637__1636__1635__1632__294__296__301__311__313__314__336__338__357__586__596__608__613__614__617__620__623__624__630__650__660__676__680__681__689__690__1735__1731__1729__1711__1670__1668__1649__1642__1638__1621__1750__1749__1718__1717__1654__1646__1643__1661__1660__1633
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&output_pk__in=298__304__306__307__308__310__315__317__321__326__328__329__330__339__341__342__347__348__353__354__361__365__588__589__590__595__600__609__610__616__625__628__631__632__637__640__642__645__649__652__656__657__672__675__678__685__686__1734__1732__1713__1710__1689__1669__1666__1748__1746__1698__1695__1694__1673__1657__1648__1662__1634__293__300__316__322__324__325__327__334__346__349__351__352__359__367__369__584__587__601__603__627__638__641__646__647__648__654__666__673__674__679__682__683__1733__1730__1692__1691__1690__1681__1680__1678__1652__1651__1650__1641__1639__1623__1622__1747__1716__1686__1685__1684__1683__1658__1656__1647__1630__1629__1628__1665__297__303__305__309__318__331__332__333__335__337__343__344__345__350__356__360__362__363__364__370__592__593__598__599__606__607__611__612__618__621__622__626__629__633__634__639__651__655__658__662__663__664__667__668__669__671__684__688__1736__1712__1688__1679__1667__1653__1640__1625__1624__1752__1751__1696__1693__1687__1682__1671__1631__1626__291__292__295__299__302__312__319__320__323__340__355__358__366__368__583__585__591__594__597__602__604__605__615__619__635__636__643__644__653__659__661__665__670__677__687__1714__1677__1745__1720__1719__1715__1697__1676__1675__1674__1672__1659__1655__1645__1644__1627__1664__1663__1637__1636__1635__1632__294__296__301__311__313__314__336__338__357__586__596__608__613__614__617__620__623__624__630__650__660__676__680__681__689__690__1735__1731__1729__1711__1670__1668__1649__1642__1638__1621__1750__1749__1718__1717__1654__1646__1643__1661__1660__1633&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&timecourse_pk__in=45__46
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&timecourse_pk__in=45__46&page=1
WARNING:root:Calculating choices

In [119]:
data_both

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB99999,Test1,13,all,6,-1,384,6,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,PKDB99999,Test1,13,all,6,-1,385,1,smoking,Y,tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,PKDB99999,Test1,13,all,6,-1,386,5,smoking,N,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,PKDB99999,Test1,13,all,6,-1,387,6,age,None,None,NaN,NaN,NaN,25.0,37.0,NaN,NaN,NaN,yr
4,PKDB99999,Test1,13,all,6,-1,388,6,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,PKDB99999,Test1,13,all,6,-1,383,6,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [20]:
group_pks_url = "__".join([str(group_pk) for group_pk in data.groups.group_pk.unique()])
pkfilter.outputs["group_pk__in"] = group_pks_url
data = PKData.from_db(pkfilter=pkfilter)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=healthy&choice=Y
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&measurement_type=healthy&choice=Y&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&group_pk__in=2__4__6__13
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&group_pk__in=2__4__6__13&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:Calculating choices

In [22]:
group_pks_url

'2__4__6__13'

In [21]:
data.outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,8549036,Backman1996,398,8,2,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
1,8549036,Backman1996,398,10,2,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
2,8549036,Backman1996,399,10,2,-1,True,True,plasma,NaN,...,midazolam,NaN,0.007450,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute
3,8549036,Backman1996,402,10,2,-1,True,True,plasma,NaN,...,midazolam,NaN,1.500000,NaN,NaN,NaN,NaN,NaN,NaN,hour
4,2932334,Bornemann1985,443,27,4,-1,True,False,plasma,NaN,...,midazolam,NaN,0.810000,NaN,0.5,2.0,0.440000,0.127000,0.543,hour
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,PKDB99999,Test1,1711,86,13,-1,True,False,plasma,NaN,...,midazolam,NaN,0.680000,NaN,NaN,NaN,0.150000,0.061200,0.221,liter / kilogram
264,PKDB99999,Test1,1750,84,13,-1,True,True,plasma,NaN,...,midazolam,NaN,1.830000,NaN,NaN,NaN,NaN,NaN,NaN,hour
265,PKDB99999,Test1,1749,84,13,-1,True,True,plasma,NaN,...,midazolam,NaN,0.006300,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute
266,PKDB99999,Test1,1718,84,13,-1,True,False,plasma,NaN,...,midazolam,NaN,2.100000,NaN,NaN,NaN,0.500000,0.204000,0.238,hour
267,PKDB99999,Test1,1717,84,13,-1,True,False,plasma,NaN,...,midazolam,NaN,0.000154,NaN,NaN,NaN,0.000051,0.000021,0.331,gram / liter

## 3 Query interventions
### 3.1 Get outputs/timecourses for intervention with substance
intervention with measurement_type "dosing" and substance "caffeine"
### 3.2 Get outputs/timecourses where multiple interventions were given

## 4 Query outputs/timecourses
### 4.1 query by measurement_type
### 4.2 complex
query all outputs