In [55]:
%load_ext autoreload
%autoreload 2

import copy
import pandas as pd
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Working with PK-DB data
To easily work with PK-DB data we provide the `pkdb_analysis` python library.
These includes helper functions for querying data and filter existing data sets. In the following we provide an overview over the typical functionality when working with PK-DB data.

## PKData
The main class to work with is `PKData`. It is possible to directly query the database or to load data from file.

### Load data from file
PKData can be serialized to HDF5 files. In the following we will load the test data set and print an overview.

In [56]:
from pkdb_analysis import PKData, PKFilter
from pkdb_analysis.tests.constants import TEST_HDF5

data = PKData.from_hdf5(TEST_HDF5)
print(data)

------------------------------
PKData (140438661364648)
------------------------------
studies             4
groups              8  (   86)
individuals       246  ( 3144)
interventions      18  (   18)
outputs          1064  ( 1106)
timecourses        40  (   46)
------------------------------

All PKData consists of consistent information on:
- `studies`: PK-DB studies, uniquely identified via a `study_sid`
- `groups`: groups, uniquely identified via `group_pk`
- `individuals`: individuals, uniquely identified via `individual_pk`
- `interventions`: interventions, uniquely identified via `intervention_pk`
- `outputs`: outputs, uniquely identified via `output_pk`
- `timecourses`: groups, uniquely identified via `timecourse_pk`

We can access the information via the respective fields, e.g., groups via `data.groups` or the multi-index

In [66]:
with pd.option_context('display.max_rows', None):
    display(data.groups_mi)

                             study_sid study_name group_name  group_count  \
group_pk characteristica_pk
20       481                 PKDB99999      Test1        all            6
         482                 PKDB99999      Test1        all            6
         483                 PKDB99999      Test1        all            6
         484                 PKDB99999      Test1        all            6
         485                 PKDB99999      Test1        all            6
         486                 PKDB99999      Test1        all            6
21       520                 PKDB99998      Test2        all           40
         521                 PKDB99998      Test2        all           40
         522                 PKDB99998      Test2        all           40
         523                 PKDB99998      Test2        all           40
         524                 PKDB99998      Test2        all           40
         525                 PKDB99998      Test2        all           40
         526                 PKDB99998      Test2        all           40
         527                 PKDB99998      Test2        all           40
         528                 PKDB99998      Test2        all           40
22       520                 PKDB99998      Test2      20-40           10
         521                 PKDB99998      Test2      20-40           10
         522                 PKDB99998      Test2      20-40           10
         523                 PKDB99998      Test2      20-40           10
         526                 PKDB99998      Test2      20-40           10
         527                 PKDB99998      Test2      20-40           10
         528                 PKDB99998      Test2      20-40           10
         536                 PKDB99998      Test2      20-40           10
         537                 PKDB99998      Test2      20-40           10
         538                 PKDB99998      Test2      20-40           10
         539                 PKDB99998      Test2      20-40           10
         540                 PKDB99998      Test2      20-40           10
         541                 PKDB99998      Test2      20-40           10
         542                 PKDB99998      Test2      20-40           10
23       520                 PKDB99998      Test2      60-70           10
         521                 PKDB99998      Test2      60-70           10
         522                 PKDB99998      Test2      60-70           10
         523                 PKDB99998      Test2      60-70           10
         526                 PKDB99998      Test2      60-70           10
         527                 PKDB99998      Test2      60-70           10
         528                 PKDB99998      Test2      60-70           10
         550                 PKDB99998      Test2      60-70           10
         551                 PKDB99998      Test2      60-70           10
         552                 PKDB99998      Test2      60-70           10
         553                 PKDB99998      Test2      60-70           10
         554                 PKDB99998      Test2      60-70           10
         555                 PKDB99998      Test2      60-70           10
         556                 PKDB99998      Test2      60-70           10
24       520                 PKDB99998      Test2      70-80           10
         521                 PKDB99998      Test2      70-80           10
         522                 PKDB99998      Test2      70-80           10
         523                 PKDB99998      Test2      70-80           10
         526                 PKDB99998      Test2      70-80           10
         527                 PKDB99998      Test2      70-80           10
         528                 PKDB99998      Test2      70-80           10
         564                 PKDB99998      Test2      70-80           10
         565                 PKDB99998      Test2      70-80           10
         566                 PKDB99998      Test2      70-80           10
         567                 PKDB99998      Test2      70-80           10
         568                 PKDB99998      Test2      70-80           10
         569                 PKDB99998      Test2      70-80           10
         570                 PKDB99998      Test2      70-80           10
25       520                 PKDB99998      Test2      80-90           10
         521                 PKDB99998      Test2      80-90           10
         522                 PKDB99998      Test2      80-90           10
         523                 PKDB99998      Test2      80-90           10
         526                 PKDB99998      Test2      80-90           10
         527                 PKDB99998      Test2      80-90           10
         528                 PKDB99998      Test2      80-90           10
         578                 PKDB99998      Test2      80-90           10
         579                 PKDB99998      Test2      80-90           10
         580                 PKDB99998      Test2      80-90           10
         581                 PKDB99998      Test2      80-90           10
         582                 PKDB99998      Test2      80-90           10
         583                 PKDB99998      Test2      80-90           10
         584                 PKDB99998      Test2      80-90           10
26       1065                PKDB99997      Test3        all            2
         1066                PKDB99997      Test3        all            2
         1067                PKDB99997      Test3        all            2
         1068                PKDB99997      Test3        all            2
27       1080                PKDB99996      Test4        all           16
         1081                PKDB99996      Test4        all           16
         1082                PKDB99996      Test4        all           16
         1083                PKDB99996      Test4        all           16
         1084                PKDB99996      Test4        all           16
         1085                PKDB99996      Test4        all           16
         1086                PKDB99996      Test4        all           16
         1087                PKDB99996      Test4        all           16
         1088                PKDB99996      Test4        all           16
         1089                PKDB99996      Test4        all           16
         1090                PKDB99996      Test4        all           16

                             group_parent_pk  count measurement_type  \
group_pk characteristica_pk
20       481                              -1      6          species
         482                              -1      6          healthy
         483                              -1      1          smoking
         484                              -1      5          smoking
         485                              -1      6              age
         486                              -1      6   overnight fast
21       520                              -1     40          species
         521                              -1     40   overnight fast
         522                              -1     40          healthy
         523                              -1     40       medication
         524                              -1     40              age
         525                              -1     40              bmi
         526                              -1     40        ethnicity
         527                              -1     38          smoking
         528                              -1      2          smoking
22       520                              21     40          species
         521                              21     40   overnight fast
         522                              21     40          healthy
         523                              21     40       medication
         526                              21     40        ethnicity
         527                              21     38          smoking
         528                              21      2          smoking
         536                              21     10              age
         537                              21      7              sex
         538                              21      3              sex
         539                              21     10           weight
         540                              21     10           height
         541                              21     10              bmi
         542                              21     10              gfr
23       520                              21     40          species
         521                              21     40   overnight fast
         522                              21     40          healthy
         523                              21     40       medication
         526                              21     40        ethnicity
         527                              21     38          smoking
         528                              21      2          smoking
         550                              21     10              age
         551                              21      5              sex
         552                              21      5              sex
         553                              21     10           weight
         554                              21     10           height
         555                              21     10              bmi
         556                              21     10              gfr
24       520                              21     40          species
         521                              21     40   overnight fast
         522                              21     40          healthy
         523                              21     40       medication
         526                              21     40        ethnicity
         527                              21     38          smoking
         528                              21      2          smoking
         564                              21     10              age
         565                              21      6              sex
         566                              21      4              sex
         567                              21     10           weight
         568                              21     10           height
         569                              21     10              bmi
         570                              21     10              gfr
25       520                              21     40          species
         521                              21     40   overnight fast
         522                              21     40          healthy
         523                              21     40       medication
         526                              21     40        ethnicity
         527                              21     38          smoking
         528                              21      2          smoking
         578                              21     10              age
         579                              21      1              sex
         580                              21      9              sex
         581                              21     10           weight
         582                              21     10           height
         583                              21     10              bmi
         584                              21     10              gfr
26       1065                             -1      2          species
         1066                             -1      2       abstinence
         1067                             -1      2       abstinence
         1068                             -1      2       abstinence
27       1080                             -1     16          species
         1081                             -1     16          healthy
         1082                             -1     16              sex
         1083                             -1     16          smoking
         1084                             -1     16       abstinence
         1085                             -1     16       medication
         1086                             -1     16          alcohol
         1087                             -1     16           weight
         1088                             -1     16              age
         1089                             -1     16        ethnicity
         1090                             -1     16   overnight fast

                                   choice       substance  value       mean  \
group_pk characteristica_pk
20       481                 homo sapiens            None    NaN        NaN
         482                            Y            None    NaN        NaN
         483                            Y            None    NaN        NaN
         484                            N            None    NaN        NaN
         485                         None            None    NaN        NaN
         486                            Y            None    NaN        NaN
21       520                 homo sapiens            None    NaN        NaN
         521                            Y            None    NaN        NaN
         522                            Y            None    NaN        NaN
         523                            N            None    NaN        NaN
         524                         None            None    NaN        NaN
         525                         None            None    NaN        NaN
         526                    caucasian            None    NaN        NaN
         527                            N            None    NaN        NaN
         528                            Y            None    NaN        NaN
22       520                 homo sapiens            None    NaN        NaN
         521                            Y            None    NaN        NaN
         522                            Y            None    NaN        NaN
         523                            N            None    NaN        NaN
         526                    caucasian            None    NaN        NaN
         527                            N            None    NaN        NaN
         528                            Y            None    NaN        NaN
         536                         None            None    NaN  27.000000
         537                            M            None    NaN        NaN
         538                            F            None    NaN        NaN
         539                         None            None    NaN  81.000000
         540                         None            None    NaN   1.770000
         541                         None            None    NaN  25.700000
         542                         None            None    NaN  62.427746
23       520                 homo sapiens            None    NaN        NaN
         521                            Y            None    NaN        NaN
         522                            Y            None    NaN        NaN
         523                            N            None    NaN        NaN
         526                    caucasian            None    NaN        NaN
         527                            N            None    NaN        NaN
         528                            Y            None    NaN        NaN
         550                         None            None    NaN  66.000000
         551                            M            None    NaN        NaN
         552                            F            None    NaN        NaN
         553                         None            None    NaN  83.000000
         554                         None            None    NaN   1.690000
         555                         None            None    NaN  29.000000
         556                         None            None    NaN  47.398844
24       520                 homo sapiens            None    NaN        NaN
         521                            Y            None    NaN        NaN
         522                            Y            None    NaN        NaN
         523                            N            None    NaN        NaN
         526                    caucasian            None    NaN        NaN
         527                            N            None    NaN        NaN
         528                            Y            None    NaN        NaN
         564                         None            None    NaN  77.000000
         565                            M            None    NaN        NaN
         566                            F            None    NaN        NaN
         567                         None            None    NaN  82.000000
         568                         None            None    NaN   1.690000
         569                         None            None    NaN  28.900000
         570                         None            None    NaN  43.930636
25       520                 homo sapiens            None    NaN        NaN
         521                            Y            None    NaN        NaN
         522                            Y            None    NaN        NaN
         523                            N            None    NaN        NaN
         526                    caucasian            None    NaN        NaN
         527                            N            None    NaN        NaN
         528                            Y            None    NaN        NaN
         578                         None            None    NaN  84.000000
         579                            M            None    NaN        NaN
         580                            F            None    NaN        NaN
         581                         None            None    NaN  68.000000
         582                         None            None    NaN   1.600000
         583                         None            None    NaN  26.300000
         584                         None            None    NaN  36.994220
26       1065                homo sapiens            None    NaN        NaN
         1066                        None          coffee    NaN        NaN
         1067                        None             tea    NaN        NaN
         1068                        None           cocoa    NaN        NaN
27       1080                homo sapiens            None    NaN        NaN
         1081                           Y            None    NaN        NaN
         1082                           M            None    NaN        NaN
         1083                           N            None    NaN        NaN
         1084                        None  methylxanthine    NaN        NaN
         1085                           N            None    NaN        NaN
         1086                           N            None    NaN        NaN
         1087                        None            None    NaN  76.700000
         1088                        None            None    NaN  27.100000
         1089                          NR            None    NaN        NaN
         1090                           Y            None    NaN        NaN

                             median   min   max         sd  se  cv  \
group_pk characteristica_pk
20       481                    NaN   NaN   NaN        NaN NaN NaN
         482                    NaN   NaN   NaN        NaN NaN NaN
         483                    NaN   NaN   NaN        NaN NaN NaN
         484                    NaN   NaN   NaN        NaN NaN NaN
         485                    NaN  25.0  37.0        NaN NaN NaN
         486                    NaN   NaN   NaN        NaN NaN NaN
21       520                    NaN   NaN   NaN        NaN NaN NaN
         521                    NaN   NaN   NaN        NaN NaN NaN
         522                    NaN   NaN   NaN        NaN NaN NaN
         523                    NaN   NaN   NaN        NaN NaN NaN
         524                    NaN  20.0  90.0        NaN NaN NaN

### Load data from database
Alternatively data can be loaded from the database using the `PKData.from_db()` function.
This is documented in the `Querying PK-DB` section.

# Example queries

## 1. Query study

In [3]:
test_data = PKData.from_hdf5(TEST_H5)
print(test_data)

WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses
WARNING:root:Calculating choices

------------------------------
PKData (140438838333224)
------------------------------
studies             4
groups              8  (   86)
individuals       246  ( 3144)
interventions      18  (   18)
outputs          1064  ( 1106)
timecourses        40  (   46)
------------------------------

In [5]:
def is_PKDB99999(d: PKDataFrame) -> PKDataFrame:
    """Filter for study_sid. 
    
    Filter functions are defined on the PKDataFrame (groups, individuals, interventions, outputs, timecourses).
    Filter are normally applied to reduce an existing PKData instance.
    
    In this example the subset of data belonging to the study_sid is filtered.
    
    """
    return d.study_sid == "PKDB99999"

In [6]:
t1 = test_data.intervention_pk_filter(is_PKDB99999, concise=False)
t2 = test_data.intervention_pk_filter(is_PKDB99999)

WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames

In [7]:
print("'concise' updates the remaining DataFrames. See the difference between t1 and t2.")
print(t1)
print(t2)

'concise' updates the remaining DataFrames. See the difference between t1 and t2.
------------------------------
PKData (140438724942984)
------------------------------
studies             4
groups              8  (   86)
individuals       246  ( 3144)
interventions       6  (    6)
outputs          1064  ( 1106)
timecourses        40  (   46)
------------------------------
------------------------------
PKData (140438724954376)
------------------------------
studies             1
groups              1  (    6)
individuals         6  (   42)
interventions       3  (    3)
outputs           194  (  194)
timecourses         4  (    4)
------------------------------

In [10]:
# FIXME: only normed data

t1.interventions_mi

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
intervention_pk,,,,,,,,,,,,,,,,,,,,,
91,PKDB99999,Test1,-1,False,po75,oral,tablet,single dose,0.0,hr,...,midazolam,7.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mg
92,PKDB99999,Test1,-1,False,po15,oral,tablet,single dose,0.0,hr,...,midazolam,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mg
93,PKDB99999,Test1,91,True,po75,oral,tablet,single dose,0.0,hr,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
94,PKDB99999,Test1,92,True,po15,oral,tablet,single dose,0.0,hr,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
95,PKDB99999,Test1,-1,False,iv,iv,solution,single dose,0.0,hr,...,midazolam,0.075000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mg/kg
96,PKDB99999,Test1,95,True,iv,iv,solution,single dose,0.0,hr,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

In [11]:
t2.interventions_mi

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
intervention_pk,,,,,,,,,,,,,,,,,,,,,
93,PKDB99999,Test1,91,True,po75,oral,tablet,single dose,0.0,hr,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
94,PKDB99999,Test1,92,True,po15,oral,tablet,single dose,0.0,hr,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
96,PKDB99999,Test1,95,True,iv,iv,solution,single dose,0.0,hr,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

In [14]:
t2.outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
233,PKDB99999,Test1,1417,94,-1,39,False,False,plasma,NaN,...,midazolam,2.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hr
234,PKDB99999,Test1,1426,96,-1,40,False,False,plasma,NaN,...,midazolam,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hr
235,PKDB99999,Test1,1427,96,-1,40,False,False,plasma,NaN,...,midazolam,0.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,l/kg
236,PKDB99999,Test1,1428,96,-1,40,False,False,plasma,NaN,...,midazolam,324.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
237,PKDB99999,Test1,1429,96,-1,40,False,False,plasma,NaN,...,midazolam,4050.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,PKDB99999,Test1,1576,96,20,-1,True,False,plasma,NaN,...,midazolam,NaN,2.400000,NaN,NaN,NaN,0.8,0.327,0.333,hour
423,PKDB99999,Test1,1584,94,20,-1,True,False,plasma,NaN,...,midazolam,NaN,2.100000,NaN,NaN,NaN,0.5,0.204,0.238,hour
424,PKDB99999,Test1,1598,96,20,-1,True,True,plasma,NaN,...,midazolam,NaN,0.000185,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
425,PKDB99999,Test1,1601,96,20,-1,True,True,plasma,NaN,...,midazolam,NaN,0.650000,NaN,NaN,NaN,NaN,NaN,NaN,liter / kilogram
426,PKDB99999,Test1,1615,94,20,-1,True,True,plasma,NaN,...,midazolam,NaN,0.006300,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute

## Query groups and individuals
### 2.1 Get data for groups with characteristica/keywords X
healthy=True, smoking=N, disease=None,
individual queries and combinations.

In [15]:

def is_healthy(d): 
    return (d["measurement_type"]=="healthy") & (d["choice"]=="Y")

def disease(d):
    return  d["measurement_type"]=="disease"

def smoking(d):
    return  d["measurement_type"]=="smoking"

def smoker_n(d):
    return smoking(d) & (d["choice"]=="N")

def smoker_y(d):
    return smoking(d) & (d["choice"]=="Y")

In [16]:
test_data = PKData.from_hdf5(TEST_H5)

WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses
WARNING:root:Calculating choices

In [45]:
# f_idx can be a single function, or a list of functions. A list of functions are applied successively and is equivalent to "AND logic". "OR logic" can be directly applied on the index.
healthy_smoker_n_data = test_data.subject_pk_filter([is_healthy, smoker_n]) # .subject_pk_exclude([smoker_y, disease])

WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames

In [46]:
print(healthy_smoker_n_data)
healthy_smoker_n_data.groups_mi

------------------------------
PKData (140438672511776)
------------------------------
studies             3
groups              6  (   73)
individuals       244  ( 3136)
interventions       6  (    6)
outputs           944  (  986)
timecourses        40  (   46)
------------------------------

                             study_sid study_name group_name  group_count  \
group_pk characteristica_pk
20       481                 PKDB99999      Test1        all            6
         482                 PKDB99999      Test1        all            6
         483                 PKDB99999      Test1        all            6
         484                 PKDB99999      Test1        all            6
         485                 PKDB99999      Test1        all            6
...                                ...        ...        ...          ...
27       1086                PKDB99996      Test4        all           16
         1087                PKDB99996      Test4        all           16
         1088                PKDB99996      Test4        all           16
         1089                PKDB99996      Test4        all           16
         1090                PKDB99996      Test4        all           16

                             group_parent_pk  count measurement_type  \
group_pk characteristica_pk
20       481                              -1      6          species
         482                              -1      6          healthy
         483                              -1      1          smoking
         484                              -1      5          smoking
         485                              -1      6              age
...                                      ...    ...              ...
27       1086                             -1     16          alcohol
         1087                             -1     16           weight
         1088                             -1     16              age
         1089                             -1     16        ethnicity
         1090                             -1     16   overnight fast

                                   choice substance  value  mean  median  \
group_pk characteristica_pk
20       481                 homo sapiens      None    NaN   NaN     NaN
         482                            Y      None    NaN   NaN     NaN
         483                            Y      None    NaN   NaN     NaN
         484                            N      None    NaN   NaN     NaN
         485                         None      None    NaN   NaN     NaN
...                                   ...       ...    ...   ...     ...
27       1086                           N      None    NaN   NaN     NaN
         1087                        None      None    NaN  76.7     NaN
         1088                        None      None    NaN  27.1     NaN
         1089                          NR      None    NaN   NaN     NaN
         1090                           Y      None    NaN   NaN     NaN

                              min   max   sd  se  cv      unit
group_pk characteristica_pk
20       481                  NaN   NaN  NaN NaN NaN      None
         482                  NaN   NaN  NaN NaN NaN      None
         483                  NaN   NaN  NaN NaN NaN      None
         484                  NaN   NaN  NaN NaN NaN      None
         485                 25.0  37.0  NaN NaN NaN        yr
...                           ...   ...  ...  ..  ..       ...
27       1086                 NaN   NaN  NaN NaN NaN      None
         1087                 NaN   NaN  6.8 NaN NaN  kilogram
         1088                 NaN   NaN  3.1 NaN NaN        yr
         1089                 NaN   NaN  NaN NaN NaN      None
         1090                 NaN   NaN  NaN NaN NaN      None

[73 rows x 18 columns]

In [25]:
test_data.groups[test_data.groups.group_pk==27]

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
10,PKDB99996,Test4,27,all,16,-1,1087,16,weight,None,None,NaN,76.7,NaN,NaN,NaN,6.8,NaN,NaN,kilogram
11,PKDB99996,Test4,27,all,16,-1,1086,16,alcohol,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,PKDB99996,Test4,27,all,16,-1,1085,16,medication,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,PKDB99996,Test4,27,all,16,-1,1084,16,abstinence,None,methylxanthine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14,PKDB99996,Test4,27,all,16,-1,1083,16,smoking,N,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
15,PKDB99996,Test4,27,all,16,-1,1082,16,sex,M,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
16,PKDB99996,Test4,27,all,16,-1,1081,16,healthy,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
17,PKDB99996,Test4,27,all,16,-1,1080,16,species,homo sapiens,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
18,PKDB99996,Test4,27,all,16,-1,1090,16,overnight fast,Y,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
19,PKDB99996,Test4,27,all,16,-1,1089,16,ethnicity,NR,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
20,PKDB99996,Test4,27,all,16,-1,1088,16,age,None,None,NaN,27.1,NaN,NaN,NaN,3.1,NaN,NaN,yr

## 3 Query interventions
### 3.1 Get outputs/timecourses for intervention with substance
intervention with measurement_type "dosing" and substance "caffeine"

In [29]:
def dosing_and_caffeine(d):
    return ((d["measurement_type"]=="dosing") & (d["substance"]=="caffeine"))

### 3.2 Get outputs/timecourses where multiple interventions were given

In [31]:
test_data = PKData.from_hdf5(TEST_H5)

WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses
WARNING:root:Calculating choices

In [32]:
caffeine_data = test_data.intervention_pk_filter(dosing_and_caffeine)

WARNING:root:Calculating choices
WARNING:root:Consice DataFrames

In [33]:
print(caffeine_data)

------------------------------
PKData (140438670625536)
------------------------------
studies             1
groups              1  (   11)
individuals         0  (    0)
interventions       1  (    1)
outputs            71  (   71)
timecourses        12  (   12)
------------------------------

## 4 Query outputs/timecourses
### 4.1 query by measurement_type
filter all outputs with measurement_type auc_inf

In [36]:
def is_auc_inf(d):
    return (d["measurement_type"]=="auc_inf")  

test_data = PKData.from_hdf5(TEST_H5)

# keep_timecourses removes timecourses. 
test_data = test_data.output_pk_filter(is_auc_inf, keep_timecourses = False)
print(test_data)

WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames

------------------------------
PKData (140438674146528)
------------------------------
studies             3
groups              6  (   73)
individuals       118  ( 1534)
interventions       5  (    5)
outputs           276  (  278)
timecourses         0  (    0)
------------------------------

## 5 Other Query others
### 5.1 Complex
get clearance of codeine for all.h5 subjects, which have been phenotyped for cyp2d6.

In [39]:
def is_cyp2d6_phenotyped(d):
    cyp2d6_phenotype_substances = ['spar/(2hspar+5hspar)', 'deb/4hdeb', 'dtf/dmt']
    return d["measurement_type"].isin(["metabolic phenotype", "metabolic ratio"]) & d["substance"].isin(cyp2d6_phenotype_substances)

def codeine_clearance(d):
    return (d["measurement_type"]=="clearance") & (d["substance"]=="codeine")

In [40]:
test_data = PKData.from_hdf5(TEST_H5)

WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses
WARNING:root:Calculating choices

In [41]:
phenotyped_data = test_data.output_pk_filter(is_cyp2d6_phenotyped)

WARNING:root:Calculating choices
WARNING:root:Consice DataFrames

In [42]:
test_data.groups = phenotyped_data.groups
test_data.individuals = phenotyped_data.individuals
test_data = test_data.output_pk_filter(codeine_clearance, keep_timecourses = False)

WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames

In [43]:
print(test_data)

------------------------------
PKData (140438664359440)
------------------------------
studies             0
groups              0  (    0)
individuals         0  (    0)
interventions       0  (    0)
outputs             0  (    0)
timecourses         0  (    0)
------------------------------

## 6  Pitfalls

In [44]:
test_data = PKData.from_hdf5(TEST_H5)
# Wrong 
def is_healthy_smoker(d): 
    """ This will yield zero subjects. No characteristica satisfy measurement_type == 'healthy' and measurement_type == 'disease'. 
    """
    return ((d["measurement_type"]=="healthy") & (d["choice"]=="Y")) & ((d["measurement_type"]=="smoking") & (d["choice"]=="Y"))
         
# Correct 
def is_healthy_smoker(d): 
    """ """
    return [(d["measurement_type"]=="healthy") & (d["choice"]=="Y"), (d["measurement_type"]=="smoking") & (d["choice"]=="Y")]

   
# Wrong 
def not_smoker_y(d):
    """ Be care this might not do what you expect. Excluding a specific characteristica will not eliminate any subject unless it is the only characteristica.
    """
    return ~((d["measurement_type"]=="smoking") & (d["choice"]=="Y")) 
not_smoker_y_data = test_data.subject_pk_filter(not_smoker_y)

#Correct
# exlcude smoker
def smoker_y(d):
    return (d["measurement_type"]=="smoking") & (d["choice"]=="Y")
healthy_data = test_data.subject_pk_exclude(smoker_y)


# Wrong 
def not_disease(d):
    """ Be care this might not do what you expect. Excluding a specific characteristica will not eliminate any subject unless it is the only characteristica
    """
    return  ~(d["measurement_type"]=="disease")
healthy_data = test_data.subject_pk_filter(not_disease)

# Correct 
# exlcude the disease
def disease(d):
    return  d["measurement_type"]=="disease"
healthy_data = test_data.subject_pk_exclude(disease)

WARNING:root:/groups
WARNING:root:/individuals
WARNING:root:/interventions
WARNING:root:/outputs
WARNING:root:/timecourses
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames
WARNING:root:Calculating choices
WARNING:root:Calculating choices
WARNING:root:Consice DataFrames