In [24]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Working with PK-DB data
To easily work with PK-DB data we provide the `pkdb_analysis` python library.
These includes helper functions for querying data and filter existing data sets. In the following we provide an overview over the typical functionality when working with PK-DB data.

The main class to work with is `PKData`. It is possible to directly query the database or to load data from file.

## Load data from file
PKData can be serialized to HDF5 files. In the following we will load the test data set and print an overview.

In [39]:
from pkdb_analysis import PKData, PKFilter
from pkdb_analysis.test import TESTDATA_CONCISE_FALSE_ZIP

data = PKData.from_archive(TESTDATA_CONCISE_FALSE_ZIP)
print(data)
data._concise()
print(data)

------------------------------
PKData (139812198895440)
------------------------------
studies           505  (  505)
groups           1456  (11993)
individuals      6395  (57683)
interventions    1209  ( 1865)
outputs         72206  (72206)
timecourses      3113  ( 3113)
scatters           42  (   42)
------------------------------
------------------------------
PKData (139812198895440)
------------------------------
studies           444  (  444)
groups            932  ( 8340)
individuals      5957  (53939)
interventions    1209  ( 1865)
outputs         72206  (72206)
timecourses      3113  ( 3113)
scatters           42  (   42)
------------------------------

## Load data from database
Alternatively data can be loaded from the database using the `PKDB.query()` function.
This is documented in the `Querying PK-DB` section.

## Accessing groups, individuals, interventions, outputs and timecourses
All PKData consists of consistent information on:
- `studies`: PK-DB studies, uniquely identified via a `study_sid`
- `groups`: groups, uniquely identified via `group_pk`
- `individuals`: individuals, uniquely identified via `individual_pk`
- `interventions`: interventions, uniquely identified via `intervention_pk`
- `outputs`: outputs, uniquely identified via `output_pk`
- `timecourses`: timecourses, uniquely identified via `subset_pk`
- `scatters`: scatters, uniquely identified via `subset_pk`


The `print` function provides a simple overview over the content

In [3]:
print(data)

------------------------------
PKData (139813265808400)
------------------------------
studies           505  (  505)
groups           1456  (11993)
individuals      6395  (57683)
interventions    1209  ( 1865)
outputs         72206  (72206)
timecourses       423  (  423)
scatters           42  (   42)
------------------------------

We can access the information via the respective fields, e.g., groups via `data.groups` or the multi-index data via `data.groups_mi`.

In [4]:
data.groups

,Unnamed: 0,study_name,study_sid,measurement_type,group_count,group_name,max,substance,count,group_parent_pk,...,unit,se,min,cv,median,group_pk,characteristica_pk,mean,choice,value
0,0,Abernethy1982,PKDB00198,sex,42,all,NaN,nan,25,-1,...,NaN,NaN,NaN,NaN,NaN,1,8,NaN,F,NaN
1,1,Abernethy1982,PKDB00198,species,42,all,NaN,nan,42,-1,...,NaN,NaN,NaN,NaN,NaN,1,5,NaN,homo sapiens,NaN
2,2,Abernethy1982,PKDB00198,healthy,42,all,NaN,nan,42,-1,...,NaN,NaN,NaN,NaN,NaN,1,6,NaN,Y,NaN
3,3,Abernethy1982,PKDB00198,sex,42,all,NaN,nan,17,-1,...,NaN,NaN,NaN,NaN,NaN,1,7,NaN,M,NaN
4,4,Abernethy1982,PKDB00198,species,21,obese,NaN,nan,42,1,...,NaN,NaN,NaN,NaN,NaN,2,5,NaN,homo sapiens,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11988,11988,Zhang2016,PKDB00275,sex,24,all,NaN,nan,24,-1,...,NaN,NaN,NaN,NaN,NaN,1504,28452,NaN,M,NaN
11989,11989,Zhang2016,PKDB00275,age,24,all,40.0,nan,24,-1,...,year,NaN,18.0,NaN,NaN,1504,28453,NaN,NaN,NaN
11990,11990,Zhang2016,PKDB00275,bmi,24,all,24.0,nan,24,-1,...,kilogram / meter ** 2,NaN,19.0,NaN,NaN,1504,28454,NaN,NaN,NaN
11991,11991,Zhang2016,PKDB00275,overnight fast,24,all,NaN,nan,24,-1,...,NaN,NaN,NaN,NaN,NaN,1504,28455,NaN,Y,NaN
11992,11992,Zhang2016,PKDB00275,species,24,all,NaN,nan,24,-1,...,NaN,NaN,NaN,NaN,NaN,1504,28456,NaN,homo sapiens,NaN

       Unnamed: 0     study_name  study_sid measurement_type  group_count  \
0               0  Abernethy1982  PKDB00198              sex           42
1               1  Abernethy1982  PKDB00198          species           42
2               2  Abernethy1982  PKDB00198          healthy           42
3               3  Abernethy1982  PKDB00198              sex           42
4               4  Abernethy1982  PKDB00198          species           21
...           ...            ...        ...              ...          ...
11988       11988      Zhang2016  PKDB00275              sex           24
11989       11989      Zhang2016  PKDB00275              age           24
11990       11990      Zhang2016  PKDB00275              bmi           24
11991       11991      Zhang2016  PKDB00275   overnight fast           24
11992       11992      Zhang2016  PKDB00275          species           24

      group_name   max substance  count  group_parent_pk  ...  \
0            all   NaN       nan     25               -1  ...
1            all   NaN       nan     42               -1  ...
2            all   NaN       nan     42               -1  ...
3            all   NaN       nan     17               -1  ...
4          obese   NaN       nan     42                1  ...
...          ...   ...       ...    ...              ...  ...
11988        all   NaN       nan     24               -1  ...
11989        all  40.0       nan     24               -1  ...
11990        all  24.0       nan     24               -1  ...
11991        all   NaN       nan     24               -1  ...
11992        all   NaN       nan     24               -1  ...

                        unit  se   min  cv  median  group_pk  \
0                        NaN NaN   NaN NaN     NaN         1
1                        NaN NaN   NaN NaN     NaN         1
2                        NaN NaN   NaN NaN     NaN         1
3                        NaN NaN   NaN NaN     NaN         1
4                        NaN NaN   NaN NaN     NaN         2
...                      ...  ..   ...  ..     ...       ...
11988                    NaN NaN   NaN NaN     NaN      1504
11989                   year NaN  18.0 NaN     NaN      1504
11990  kilogram / meter ** 2 NaN  19.0 NaN     NaN      1504
11991                    NaN NaN   NaN NaN     NaN      1504
11992                    NaN NaN   NaN NaN     NaN      1504

       characteristica_pk  mean        choice value
0                       8   NaN             F   NaN
1                       5   NaN  homo sapiens   NaN
2                       6   NaN             Y   NaN
3                       7   NaN             M   NaN
4                       5   NaN  homo sapiens   NaN
...                   ...   ...           ...   ...
11988               28452   NaN             M   NaN
11989               28453   NaN           NaN   NaN
11990               28454   NaN           NaN   NaN
11991               28455   NaN             Y   NaN
11992               28456   NaN  homo sapiens   NaN

[11993 rows x 21 columns]

In [11]:
data.groups_mi

                             Unnamed: 0    study_name  study_sid  \
group_pk characteristica_pk
312      6576                      4370     Chiew2010  PKDB00026
         6577                      4371     Chiew2010  PKDB00026
         6578                      4372     Chiew2010  PKDB00026
         6579                      4373     Chiew2010  PKDB00026
         6580                      4374     Chiew2010  PKDB00026
...                                 ...           ...        ...
1853     37445                    11616  Mohammed1993  PKDB00102
         37446                    11617  Mohammed1993  PKDB00102
         37460                    11618  Mohammed1993  PKDB00102
         37461                    11619  Mohammed1993  PKDB00102
         37462                    11620  Mohammed1993  PKDB00102

                            measurement_type  group_count group_name   max  \
group_pk characteristica_pk
312      6576                        species            9        all   NaN
         6577                        healthy            9        all   NaN
         6578                 overnight fast            9        all   NaN
         6579                            sex            9        all   NaN
         6580                            sex            9        all   NaN
...                                      ...          ...        ...   ...
1853     37445                overnight fast            5    healthy   NaN
         37446                           sex            5    healthy   NaN
         37460                        weight            5    healthy  88.0
         37461                           age            5    healthy  24.0
         37462                       healthy            5    healthy   NaN

                            substance  count  group_parent_pk    sd      unit  \
group_pk characteristica_pk
312      6576                     nan      9               -1   NaN       NaN
         6577                     nan      9               -1   NaN       NaN
         6578                     nan      9               -1   NaN       NaN
         6579                     nan      8               -1   NaN       NaN
         6580                     nan      1               -1   NaN       NaN
...                               ...    ...              ...   ...       ...
1853     37445                    nan     10             1851   NaN       NaN
         37446                    nan     10             1851   NaN       NaN
         37460                    nan      5             1851  11.0  kilogram
         37461                    nan      5             1851   1.0      year
         37462                    nan      5             1851   NaN       NaN

                             se   min  cv  median  mean        choice  value
group_pk characteristica_pk
312      6576               NaN   NaN NaN     NaN   NaN  homo sapiens    NaN
         6577               NaN   NaN NaN     NaN   NaN             Y    NaN
         6578               NaN   NaN NaN     NaN   NaN             Y    NaN
         6579               NaN   NaN NaN     NaN   NaN             M    NaN
         6580               NaN   NaN NaN     NaN   NaN             F    NaN
...                          ..   ...  ..     ...   ...           ...    ...
1853     37445              NaN   NaN NaN     NaN   NaN             Y    NaN
         37446              NaN   NaN NaN     NaN   NaN            NR    NaN
         37460              NaN  58.0 NaN     NaN  75.0           NaN    NaN
         37461              NaN  22.0 NaN     NaN  23.0           NaN    NaN
         37462              NaN   NaN NaN     NaN   NaN             Y    NaN

[11621 rows x 19 columns]

                             Unnamed: 0    study_name  study_sid  \
group_pk characteristica_pk
312      6576                      4370     Chiew2010  PKDB00026
         6577                      4371     Chiew2010  PKDB00026
         6578                      4372     Chiew2010  PKDB00026
         6579                      4373     Chiew2010  PKDB00026
         6580                      4374     Chiew2010  PKDB00026
...                                 ...           ...        ...
1853     37445                    11616  Mohammed1993  PKDB00102
         37446                    11617  Mohammed1993  PKDB00102
         37460                    11618  Mohammed1993  PKDB00102
         37461                    11619  Mohammed1993  PKDB00102
         37462                    11620  Mohammed1993  PKDB00102

                            measurement_type  group_count group_name   max  \
group_pk characteristica_pk
312      6576                        species            9        all   NaN
         6577                        healthy            9        all   NaN
         6578                 overnight fast            9        all   NaN
         6579                            sex            9        all   NaN
         6580                            sex            9        all   NaN
...                                      ...          ...        ...   ...
1853     37445                overnight fast            5    healthy   NaN
         37446                           sex            5    healthy   NaN
         37460                        weight            5    healthy  88.0
         37461                           age            5    healthy  24.0
         37462                       healthy            5    healthy   NaN

                            substance  count  group_parent_pk    sd      unit  \
group_pk characteristica_pk
312      6576                     nan      9               -1   NaN       NaN
         6577                     nan      9               -1   NaN       NaN
         6578                     nan      9               -1   NaN       NaN
         6579                     nan      8               -1   NaN       NaN
         6580                     nan      1               -1   NaN       NaN
...                               ...    ...              ...   ...       ...
1853     37445                    nan     10             1851   NaN       NaN
         37446                    nan     10             1851   NaN       NaN
         37460                    nan      5             1851  11.0  kilogram
         37461                    nan      5             1851   1.0      year
         37462                    nan      5             1851   NaN       NaN

                             se   min  cv  median  mean        choice  value
group_pk characteristica_pk
312      6576               NaN   NaN NaN     NaN   NaN  homo sapiens    NaN
         6577               NaN   NaN NaN     NaN   NaN             Y    NaN
         6578               NaN   NaN NaN     NaN   NaN             Y    NaN
         6579               NaN   NaN NaN     NaN   NaN             M    NaN
         6580               NaN   NaN NaN     NaN   NaN             F    NaN
...                          ..   ...  ..     ...   ...           ...    ...
1853     37445              NaN   NaN NaN     NaN   NaN             Y    NaN
         37446              NaN   NaN NaN     NaN   NaN            NR    NaN
         37460              NaN  58.0 NaN     NaN  75.0           NaN    NaN
         37461              NaN  22.0 NaN     NaN  23.0           NaN    NaN
         37462              NaN   NaN NaN     NaN   NaN             Y    NaN

[11621 rows x 19 columns]

To access the number of items use the `*_count`.

In [12]:
print(f"Number of groups: {data.groups_count}")

Number of groups: 1404

The `groups`, `individuals`, `interventions`, `outputs` and `timecourses` are `pandas.DataFrame` instances, so all the classical pandas operations can be applied on the data.
For instance to access a single `group` use logical indexing by the `group_pk` field.
E.g. to get the group `20` use

In [15]:
data.groups[data.groups.group_pk==312]

,Unnamed: 0,study_name,study_sid,measurement_type,group_count,group_name,max,substance,count,group_parent_pk,...,unit,se,min,cv,median,group_pk,characteristica_pk,mean,choice,value
4370,4370,Chiew2010,PKDB00026,species,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6576,NaN,homo sapiens,NaN
4371,4371,Chiew2010,PKDB00026,healthy,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6577,NaN,Y,NaN
4372,4372,Chiew2010,PKDB00026,overnight fast,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6578,NaN,Y,NaN
4373,4373,Chiew2010,PKDB00026,sex,9,all,NaN,nan,8,-1,...,NaN,NaN,NaN,NaN,NaN,312,6579,NaN,M,NaN
4374,4374,Chiew2010,PKDB00026,sex,9,all,NaN,nan,1,-1,...,NaN,NaN,NaN,NaN,NaN,312,6580,NaN,F,NaN
4375,4375,Chiew2010,PKDB00026,abstinence,9,all,NaN,paracetamol,9,-1,...,day,NaN,7.0,NaN,NaN,312,6581,NaN,NaN,NaN
4376,4376,Chiew2010,PKDB00026,medication,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6582,NaN,N,NaN
4377,4377,Chiew2010,PKDB00026,age,9,all,46.0,nan,9,-1,...,year,NaN,27.0,NaN,NaN,312,6583,34.00,NaN,NaN
4378,4378,Chiew2010,PKDB00026,weight,9,all,84.0,nan,9,-1,...,kilogram,NaN,62.0,NaN,NaN,312,6584,73.11,NaN,NaN

      Unnamed: 0 study_name  study_sid measurement_type  group_count  \
4370        4370  Chiew2010  PKDB00026          species            9
4371        4371  Chiew2010  PKDB00026          healthy            9
4372        4372  Chiew2010  PKDB00026   overnight fast            9
4373        4373  Chiew2010  PKDB00026              sex            9
4374        4374  Chiew2010  PKDB00026              sex            9
4375        4375  Chiew2010  PKDB00026       abstinence            9
4376        4376  Chiew2010  PKDB00026       medication            9
4377        4377  Chiew2010  PKDB00026              age            9
4378        4378  Chiew2010  PKDB00026           weight            9

     group_name   max    substance  count  group_parent_pk  ...      unit  se  \
4370        all   NaN          nan      9               -1  ...       NaN NaN
4371        all   NaN          nan      9               -1  ...       NaN NaN
4372        all   NaN          nan      9               -1  ...       NaN NaN
4373        all   NaN          nan      8               -1  ...       NaN NaN
4374        all   NaN          nan      1               -1  ...       NaN NaN
4375        all   NaN  paracetamol      9               -1  ...       day NaN
4376        all   NaN          nan      9               -1  ...       NaN NaN
4377        all  46.0          nan      9               -1  ...      year NaN
4378        all  84.0          nan      9               -1  ...  kilogram NaN

       min  cv  median  group_pk  characteristica_pk   mean        choice  \
4370   NaN NaN     NaN       312                6576    NaN  homo sapiens
4371   NaN NaN     NaN       312                6577    NaN             Y
4372   NaN NaN     NaN       312                6578    NaN             Y
4373   NaN NaN     NaN       312                6579    NaN             M
4374   NaN NaN     NaN       312                6580    NaN             F
4375   7.0 NaN     NaN       312                6581    NaN           NaN
4376   NaN NaN     NaN       312                6582    NaN             N
4377  27.0 NaN     NaN       312                6583  34.00           NaN
4378  62.0 NaN     NaN       312                6584  73.11           NaN

     value
4370   NaN
4371   NaN
4372   NaN
4373   NaN
4374   NaN
4375   NaN
4376   NaN
4377   NaN
4378   NaN

[9 rows x 21 columns]

In the group tables multiple rows exist which belong to a single group! This is important to understand filtering of the data later on. For instance in this example the information on `species`, `healthy`, `smoking`, `age` and `overnight_fast` are all separate rows in the `groups` table, but belong to a single row.

When looking at the multi-index table this becomes more clear. We now get the group 20 form the `groups_mi`. We can simply use the `.loc` to lookup the group by `pk`

In [17]:
data.groups_mi.loc[312]

,Unnamed: 0,study_name,study_sid,measurement_type,group_count,group_name,max,substance,count,group_parent_pk,sd,unit,se,min,cv,median,mean,choice,value
characteristica_pk,,,,,,,,,,,,,,,,,,,
6576,4370,Chiew2010,PKDB00026,species,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,homo sapiens,NaN
6577,4371,Chiew2010,PKDB00026,healthy,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
6578,4372,Chiew2010,PKDB00026,overnight fast,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
6579,4373,Chiew2010,PKDB00026,sex,9,all,NaN,nan,8,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN
6580,4374,Chiew2010,PKDB00026,sex,9,all,NaN,nan,1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN
6581,4375,Chiew2010,PKDB00026,abstinence,9,all,NaN,paracetamol,9,-1,NaN,day,NaN,7.0,NaN,NaN,NaN,NaN,NaN
6582,4376,Chiew2010,PKDB00026,medication,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6583,4377,Chiew2010,PKDB00026,age,9,all,46.0,nan,9,-1,NaN,year,NaN,27.0,NaN,NaN,34.00,NaN,NaN
6584,4378,Chiew2010,PKDB00026,weight,9,all,84.0,nan,9,-1,NaN,kilogram,NaN,62.0,NaN,NaN,73.11,NaN,NaN

                    Unnamed: 0 study_name  study_sid measurement_type  \
characteristica_pk
6576                      4370  Chiew2010  PKDB00026          species
6577                      4371  Chiew2010  PKDB00026          healthy
6578                      4372  Chiew2010  PKDB00026   overnight fast
6579                      4373  Chiew2010  PKDB00026              sex
6580                      4374  Chiew2010  PKDB00026              sex
6581                      4375  Chiew2010  PKDB00026       abstinence
6582                      4376  Chiew2010  PKDB00026       medication
6583                      4377  Chiew2010  PKDB00026              age
6584                      4378  Chiew2010  PKDB00026           weight

                    group_count group_name   max    substance  count  \
characteristica_pk
6576                          9        all   NaN          nan      9
6577                          9        all   NaN          nan      9
6578                          9        all   NaN          nan      9
6579                          9        all   NaN          nan      8
6580                          9        all   NaN          nan      1
6581                          9        all   NaN  paracetamol      9
6582                          9        all   NaN          nan      9
6583                          9        all  46.0          nan      9
6584                          9        all  84.0          nan      9

                    group_parent_pk  sd      unit  se   min  cv  median  \
characteristica_pk
6576                             -1 NaN       NaN NaN   NaN NaN     NaN
6577                             -1 NaN       NaN NaN   NaN NaN     NaN
6578                             -1 NaN       NaN NaN   NaN NaN     NaN
6579                             -1 NaN       NaN NaN   NaN NaN     NaN
6580                             -1 NaN       NaN NaN   NaN NaN     NaN
6581                             -1 NaN       day NaN   7.0 NaN     NaN
6582                             -1 NaN       NaN NaN   NaN NaN     NaN
6583                             -1 NaN      year NaN  27.0 NaN     NaN
6584                             -1 NaN  kilogram NaN  62.0 NaN     NaN

                     mean        choice  value
characteristica_pk
6576                  NaN  homo sapiens    NaN
6577                  NaN             Y    NaN
6578                  NaN             Y    NaN
6579                  NaN             M    NaN
6580                  NaN             F    NaN
6581                  NaN           NaN    NaN
6582                  NaN             N    NaN
6583                34.00           NaN    NaN
6584                73.11           NaN    NaN

In a similar manner we can explore the other information, i.e. `individuals`, `interventions`, `outputs` and `timecourses`.

In [18]:
data.individuals_mi

                                                  Unnamed: 0    study_name  \
individual_pk individual_name characteristica_pk
1341          LP              6591                      8142  Clements1976
                              6592                      8137  Clements1976
                              6593                      8138  Clements1976
                              6594                      8139  Clements1976
                              6595                      8140  Clements1976
...                                                      ...           ...
8589          P8              37345                    59275    Caraco1999
                              37346                    59276    Caraco1999
                              37358                    59278    Caraco1999
                              37389                    59277    Caraco1999
                              37390                    59279    Caraco1999

                                                  study_sid measurement_type  \
individual_pk individual_name characteristica_pk
1341          LP              6591                PKDB00186          species
                              6592                PKDB00186              sex
                              6593                PKDB00186          healthy
                              6594                PKDB00186   overnight fast
                              6595                PKDB00186              age
...                                                     ...              ...
8589          P8              37345                10381807              sex
                              37346                10381807          smoking
                              37358                10381807        ethnicity
                              37389                10381807              age
                              37390                10381807           weight

                                                   max substance  count  \
individual_pk individual_name characteristica_pk
1341          LP              6591                 NaN       nan      4
                              6592                 NaN       nan      4
                              6593                 NaN       nan      4
                              6594                 NaN       nan      4
                              6595                37.0       nan      4
...                                                ...       ...    ...
8589          P8              37345                NaN       nan     18
                              37346                NaN       nan     18
                              37358                NaN       nan      8
                              37389                NaN       nan      1
                              37390                NaN       nan      1

                                                  individual_group_pk  sd  \
individual_pk individual_name characteristica_pk
1341          LP              6591                                313 NaN
                              6592                                313 NaN
                              6593                                313 NaN
                              6594                                313 NaN
                              6595                                313 NaN
...                                                               ...  ..
8589          P8              37345                              1847 NaN
                              37346                              1847 NaN
                              37358                              1847 NaN
                              37389                              1847 NaN
                              37390                              1847 NaN

                                                      unit  se   min  cv  \
individual_pk individual_name characteristica_pk
1341          LP              6591                     NaN NaN   NaN NaN
                              6592                     NaN NaN   NaN NaN
                              6593                     NaN NaN   NaN NaN
                              6594                     NaN NaN   NaN NaN
                              6595                    year NaN  28.0 NaN
...                                                    ...  ..   ...  ..
8589          P8              37345                    NaN NaN   NaN NaN
                              37346                    NaN NaN   NaN NaN
                              37358                    NaN NaN   NaN NaN
                              37389                   year NaN   NaN NaN
                              37390               kilogram NaN   NaN NaN

                                                  median  mean        choice  \
individual_pk individual_name characteristica_pk
1341          LP              6591                   NaN   NaN  homo sapiens
                              6592                   NaN   NaN             M
                              6593                   NaN   NaN             Y
                              6594                   NaN   NaN             Y
                              6595                   NaN   NaN           NaN
...                                                  ...   ...           ...
8589          P8              37345                  NaN   NaN             M
                              37346                  NaN   NaN             N
                              37358                  NaN   NaN       chinese
                              37389                  NaN   NaN           NaN
                              37390                  NaN   NaN           NaN

                                                  value
individual_pk individual_name characteristica_pk
1341          LP              6591                  NaN
                              6592                  NaN
                              6593                  NaN
                              6594                  NaN
                              6595                  NaN
...                                                 ...
8589          P8              37345                 NaN
                              37346                 NaN
                              37358                 NaN
                              37389                41.0
                              37390                74.0

[59284 rows x 17 columns]

                                                  Unnamed: 0    study_name  \
individual_pk individual_name characteristica_pk
1341          LP              6591                      8142  Clements1976
                              6592                      8137  Clements1976
                              6593                      8138  Clements1976
                              6594                      8139  Clements1976
                              6595                      8140  Clements1976
...                                                      ...           ...
8589          P8              37345                    59275    Caraco1999
                              37346                    59276    Caraco1999
                              37358                    59278    Caraco1999
                              37389                    59277    Caraco1999
                              37390                    59279    Caraco1999

                                                  study_sid measurement_type  \
individual_pk individual_name characteristica_pk
1341          LP              6591                PKDB00186          species
                              6592                PKDB00186              sex
                              6593                PKDB00186          healthy
                              6594                PKDB00186   overnight fast
                              6595                PKDB00186              age
...                                                     ...              ...
8589          P8              37345                10381807              sex
                              37346                10381807          smoking
                              37358                10381807        ethnicity
                              37389                10381807              age
                              37390                10381807           weight

                                                   max substance  count  \
individual_pk individual_name characteristica_pk
1341          LP              6591                 NaN       nan      4
                              6592                 NaN       nan      4
                              6593                 NaN       nan      4
                              6594                 NaN       nan      4
                              6595                37.0       nan      4
...                                                ...       ...    ...
8589          P8              37345                NaN       nan     18
                              37346                NaN       nan     18
                              37358                NaN       nan      8
                              37389                NaN       nan      1
                              37390                NaN       nan      1

                                                  individual_group_pk  sd  \
individual_pk individual_name characteristica_pk
1341          LP              6591                                313 NaN
                              6592                                313 NaN
                              6593                                313 NaN
                              6594                                313 NaN
                              6595                                313 NaN
...                                                               ...  ..
8589          P8              37345                              1847 NaN
                              37346                              1847 NaN
                              37358                              1847 NaN
                              37389                              1847 NaN
                              37390                              1847 NaN

                                                      unit  se   min  cv  \
individual_pk individual_name characteristica_pk
1341          LP              6591                     NaN NaN   NaN NaN
                              6592                     NaN NaN   NaN NaN
                              6593                     NaN NaN   NaN NaN
                              6594                     NaN NaN   NaN NaN
                              6595                    year NaN  28.0 NaN
...                                                    ...  ..   ...  ..
8589          P8              37345                    NaN NaN   NaN NaN
                              37346                    NaN NaN   NaN NaN
                              37358                    NaN NaN   NaN NaN
                              37389                   year NaN   NaN NaN
                              37390               kilogram NaN   NaN NaN

                                                  median  mean        choice  \
individual_pk individual_name characteristica_pk
1341          LP              6591                   NaN   NaN  homo sapiens
                              6592                   NaN   NaN             M
                              6593                   NaN   NaN             Y
                              6594                   NaN   NaN             Y
                              6595                   NaN   NaN           NaN
...                                                  ...   ...           ...
8589          P8              37345                  NaN   NaN             M
                              37346                  NaN   NaN             N
                              37358                  NaN   NaN       chinese
                              37389                  NaN   NaN           NaN
                              37390                  NaN   NaN           NaN

                                                  value
individual_pk individual_name characteristica_pk
1341          LP              6591                  NaN
                              6592                  NaN
                              6593                  NaN
                              6594                  NaN
                              6595                  NaN
...                                                 ...
8589          P8              37345                 NaN
                              37346                 NaN
                              37358                 NaN
                              37389                41.0
                              37390                74.0

[59284 rows x 17 columns]

In [19]:
data.interventions_mi

,Unnamed: 0,study_sid,study_name,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
intervention_pk,,,,,,,,,,,,,,,,,,,,,
0,242,PKDB00026,Chiew2010,671,True,paracetamol,oral,tablet,single dose,0.0,...,paracetamol,0.000079,None,None,0.000077,0.000083,NaN,NaN,None,count
1,243,PKDB00026,Chiew2010,673,True,PEx,oral,tablet,single dose,0.0,...,panadol extend,0.000079,None,None,0.000075,0.000081,NaN,NaN,None,count
2,244,PKDB00186,Clements1976,675,True,paracetamol12mg/kg_iv,iv,solution,single dose,0.0,...,paracetamol,0.000012,None,None,NaN,NaN,NaN,NaN,None,count
3,245,PKDB00188,Clements1978,677,True,paracetamol20mg/kg_po,oral,solution,single dose,0.0,...,paracetamol,0.000020,None,None,NaN,NaN,NaN,NaN,None,count
4,245,PKDB00188,Clements1978,677,True,paracetamol20mg/kg_po,oral,solution,single dose,0.0,...,paracetamol,0.000020,None,None,NaN,NaN,NaN,NaN,None,count
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,1381,10381807,Caraco1999,3597,True,COD,oral,capsule,single dose,0.0,...,codeine phosphate,0.120000,None,None,NaN,NaN,NaN,NaN,None,gram
1172,1381,10381807,Caraco1999,3597,True,COD,oral,capsule,single dose,0.0,...,codeine phosphate,0.120000,None,None,NaN,NaN,NaN,NaN,None,gram
1172,1383,10381807,Caraco1999,3601,True,QUI,oral,capsule,single dose,NaN,...,quinidine,0.100000,None,None,NaN,NaN,NaN,NaN,None,gram
1173,1384,PKDB00096,Kronstrand2001,3607,True,COD,oral,NR,single dose,0.0,...,codeine phosphate,0.100000,None,None,NaN,NaN,NaN,NaN,None,gram
1174,1385,PKDB00102,Mohammed1993,3609,True,COD,oral,NR,single dose,0.0,...,codeine,0.060000,None,None,NaN,NaN,NaN,NaN,None,gram

                 Unnamed: 0  study_sid      study_name  raw_pk  normed  \
intervention_pk
0                       242  PKDB00026       Chiew2010     671    True
1                       243  PKDB00026       Chiew2010     673    True
2                       244  PKDB00186    Clements1976     675    True
3                       245  PKDB00188    Clements1978     677    True
4                       245  PKDB00188    Clements1978     677    True
...                     ...        ...             ...     ...     ...
1171                   1381   10381807      Caraco1999    3597    True
1172                   1381   10381807      Caraco1999    3597    True
1172                   1383   10381807      Caraco1999    3601    True
1173                   1384  PKDB00096  Kronstrand2001    3607    True
1174                   1385  PKDB00102    Mohammed1993    3609    True

                                  name route      form  application  time  \
intervention_pk
0                          paracetamol  oral    tablet  single dose   0.0
1                                  PEx  oral    tablet  single dose   0.0
2                paracetamol12mg/kg_iv    iv  solution  single dose   0.0
3                paracetamol20mg/kg_po  oral  solution  single dose   0.0
4                paracetamol20mg/kg_po  oral  solution  single dose   0.0
...                                ...   ...       ...          ...   ...
1171                               COD  oral   capsule  single dose   0.0
1172                               COD  oral   capsule  single dose   0.0
1172                               QUI  oral   capsule  single dose   NaN
1173                               COD  oral        NR  single dose   0.0
1174                               COD  oral        NR  single dose   0.0

                 ...          substance     value  mean median       min  \
intervention_pk  ...
0                ...        paracetamol  0.000079  None   None  0.000077
1                ...     panadol extend  0.000079  None   None  0.000075
2                ...        paracetamol  0.000012  None   None       NaN
3                ...        paracetamol  0.000020  None   None       NaN
4                ...        paracetamol  0.000020  None   None       NaN
...              ...                ...       ...   ...    ...       ...
1171             ...  codeine phosphate  0.120000  None   None       NaN
1172             ...  codeine phosphate  0.120000  None   None       NaN
1172             ...          quinidine  0.100000  None   None       NaN
1173             ...  codeine phosphate  0.100000  None   None       NaN
1174             ...            codeine  0.060000  None   None       NaN

                      max  sd  se    cv   unit
intervention_pk
0                0.000083 NaN NaN  None  count
1                0.000081 NaN NaN  None  count
2                     NaN NaN NaN  None  count
3                     NaN NaN NaN  None  count
4                     NaN NaN NaN  None  count
...                   ...  ..  ..   ...    ...
1171                  NaN NaN NaN  None   gram
1172                  NaN NaN NaN  None   gram
1172                  NaN NaN NaN  None   gram
1173                  NaN NaN NaN  None   gram
1174                  NaN NaN NaN  None   gram

[1806 rows x 24 columns]

In [20]:
data.outputs_mi

,,,,Unnamed: 0,study_name,measurement_type,tissue,sd,se,min,time_unit,normed,calculated,...,method,max,substance,label,unit,cv,median,mean,time,choice
output_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,,,,
29987,0,312,-1,31210,Chiew2010,cmax,plasma,NaN,0.021276,NaN,NaN,True,False,...,NaN,NaN,paracetamol,paracetamol,gram / liter,0.746605,NaN,0.085492,NaN,NaN
29988,0,312,-1,32535,Chiew2010,cmax,plasma,NaN,0.007244,NaN,NaN,True,False,...,NaN,NaN,paracetamol glucuronide,paracetamol,gram / liter,0.198094,NaN,0.109713,NaN,NaN
29989,0,312,-1,31213,Chiew2010,cmax,plasma,NaN,0.002045,NaN,NaN,True,False,...,NaN,NaN,paracetamol sulfate,paracetamol,gram / liter,0.276726,NaN,0.022172,NaN,NaN
29990,0,312,-1,33656,Chiew2010,tmax,plasma,NaN,0.404200,NaN,NaN,True,False,...,NaN,NaN,paracetamol,paracetamol,hour,0.873002,NaN,1.389000,NaN,NaN
29991,0,312,-1,29717,Chiew2010,tmax,plasma,NaN,0.175700,NaN,NaN,True,False,...,NaN,NaN,paracetamol glucuronide,paracetamol,hour,0.148228,NaN,3.556000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186700,1174,1852,-1,99176,Mohammed1993,cmax,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,gram / liter,NaN,NaN,0.000143,NaN,NaN
186701,1174,1852,-1,99167,Mohammed1993,kel,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,1 / minute,NaN,NaN,0.004981,NaN,NaN
186702,1174,1852,-1,99156,Mohammed1993,thalf,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,hour,NaN,NaN,2.319383,NaN,NaN
186703,1174,1852,-1,99191,Mohammed1993,tmax,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,hour,NaN,NaN,0.750000,NaN,NaN
186704,1174,1852,-1,99285,Mohammed1993,vd_ss,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,liter,NaN,NaN,290.747372,NaN,NaN

                                                  Unnamed: 0    study_name  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                  31210     Chiew2010
29988     0               312      -1                  32535     Chiew2010
29989     0               312      -1                  31213     Chiew2010
29990     0               312      -1                  33656     Chiew2010
29991     0               312      -1                  29717     Chiew2010
...                                                      ...           ...
186700    1174            1852     -1                  99176  Mohammed1993
186701    1174            1852     -1                  99167  Mohammed1993
186702    1174            1852     -1                  99156  Mohammed1993
186703    1174            1852     -1                  99191  Mohammed1993
186704    1174            1852     -1                  99285  Mohammed1993

                                                 measurement_type  tissue  sd  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                        cmax  plasma NaN
29988     0               312      -1                        cmax  plasma NaN
29989     0               312      -1                        cmax  plasma NaN
29990     0               312      -1                        tmax  plasma NaN
29991     0               312      -1                        tmax  plasma NaN
...                                                           ...     ...  ..
186700    1174            1852     -1                        cmax  plasma NaN
186701    1174            1852     -1                         kel  plasma NaN
186702    1174            1852     -1                       thalf  plasma NaN
186703    1174            1852     -1                        tmax  plasma NaN
186704    1174            1852     -1                       vd_ss  plasma NaN

                                                        se  min time_unit  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1             0.021276  NaN       NaN
29988     0               312      -1             0.007244  NaN       NaN
29989     0               312      -1             0.002045  NaN       NaN
29990     0               312      -1             0.404200  NaN       NaN
29991     0               312      -1             0.175700  NaN       NaN
...                                                    ...  ...       ...
186700    1174            1852     -1                  NaN  NaN       NaN
186701    1174            1852     -1                  NaN  NaN       NaN
186702    1174            1852     -1                  NaN  NaN       NaN
186703    1174            1852     -1                  NaN  NaN       NaN
186704    1174            1852     -1                  NaN  NaN       NaN

                                                  normed  calculated  ...  \
output_pk intervention_pk group_pk individual_pk                      ...
29987     0               312      -1               True       False  ...
29988     0               312      -1               True       False  ...
29989     0               312      -1               True       False  ...
29990     0               312      -1               True       False  ...
29991     0               312      -1               True       False  ...
...                                                  ...         ...  ...
186700    1174            1852     -1               True        True  ...
186701    1174            1852     -1               True        True  ...
186702    1174            1852     -1               True        True  ...
186703    1174            1852     -1               True        True  ...
186704    1174            1852     -1               True        True  ...

                                                  method max  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                NaN NaN
29988     0               312      -1                NaN NaN
29989     0               312      -1                NaN NaN
29990     0               312      -1                NaN NaN
29991     0               312      -1                NaN NaN
...                                                  ...  ..
186700    1174            1852     -1                NaN NaN
186701    1174            1852     -1                NaN NaN
186702    1174            1852     -1                NaN NaN
186703    1174            1852     -1                NaN NaN
186704    1174            1852     -1                NaN NaN

                                                                substance  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                         paracetamol
29988     0               312      -1             paracetamol glucuronide
29989     0               312      -1                 paracetamol sulfate
29990     0               312      -1                         paracetamol
29991     0               312      -1             paracetamol glucuronide
...                                                                   ...
186700    1174            1852     -1                             codeine
186701    1174            1852     -1                             codeine
186702    1174            1852     -1                             codeine
186703    1174            1852     -1                             codeine
186704    1174            1852     -1                             codeine

                                                        label          unit  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1             paracetamol  gram / liter
29988     0               312      -1             paracetamol  gram / liter
29989     0               312      -1             paracetamol  gram / liter
29990     0               312      -1             paracetamol          hour
29991     0               312      -1             paracetamol          hour
...                                                       ...           ...
186700    1174            1852     -1                     NaN  gram / liter
186701    1174            1852     -1                     NaN    1 / minute
186702    1174            1852     -1                     NaN          hour
186703    1174            1852     -1                     NaN          hour
186704    1174            1852     -1                     NaN         liter

                                                        cv median        mean  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1             0.746605    NaN    0.085492
29988     0               312      -1             0.198094    NaN    0.109713
29989     0               312      -1             0.276726    NaN    0.022172
29990     0               312      -1             0.873002    NaN    1.389000
29991     0               312      -1             0.148228    NaN    3.556000
...                                                    ...    ...         ...
186700    1174            1852     -1                  NaN    NaN    0.000143
186701    1174            1852     -1                  NaN    NaN    0.004981
186702    1174            1852     -1                  NaN    NaN    2.319383
186703    1174            1852     -1                  NaN    NaN    0.750000
186704    1174            1852     -1                  NaN    NaN  290.747372

                                                  time  choice
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1              NaN     NaN
29988     0               312      -1              NaN     NaN
29989     0               312      -1              NaN     NaN
29990     0               312      -1              NaN     NaN
29991     0               312      -1              NaN     NaN
...                                                ...     ...
186700    1174            1852     -1              NaN     NaN
186701    1174            1852     -1              NaN     NaN
186702    1174            1852     -1              NaN     NaN
186703    1174            1852     -1              NaN     NaN
186704    1174            1852     -1              NaN     NaN

[71501 rows x 23 columns]

In [21]:
data.timecourses_mi

,,,,Unnamed: 0,study_sid,study_name,output_pk,subset_name,normed,tissue,tissue_label,method,method_label,...,substance_label,value,mean,median,min,max,sd,se,cv,unit
subset_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,,,,
690,NaN,312,-1,444,PKDB00026,Chiew2010,"(30125, 30126, 30127, 30128, 30129, 30130...",fig2__PEx_paracetamol glucuronide,True,serum,serum,NaN,NaN,...,paracetamol glucuronide,NaN,"[0.00146388329555856, 0.009858915141736, 0.018...",NaN,NaN,NaN,"[None, 0.007682712100943999, 0.008779730711669...","[None, 0.0025609040336480003, 0.00292657690388...","[None, 0.779265465874696, 0.4807891924497527, ...",gram / liter
691,NaN,316,-1,401,PKDB00188,Clements1978,"(30545, 30546, 30547, 30548, 30549, 30550...",pentazocine_study_paracetamol20mg/kg_po_pentaz...,True,plasma,plasma,NaN,NaN,...,paracetamol,NaN,"[None, 0.0006, None, 0.0013000000000000002, 0....",NaN,NaN,NaN,"[None, 0.0011, None, 0.0026000000000000003, 0....","[None, 0.00055, None, 0.0013000000000000002, 0...","[None, 1.8333333333333337, None, 2.0, 1.6875, ...",gram / liter
692,NaN,317,-1,460,PKDB00188,Clements1978,"(30565, 30566, 30567, 30568, 30569, 30570...",pentazocine_naloxone study_paracetamol20mg/kg_...,True,plasma,plasma,NaN,NaN,...,paracetamol,NaN,"[None, 0.0013000000000000002, None, 0.0033, 0....",NaN,NaN,NaN,"[None, 0.0001, None, 0.0011, 0.0048, 0.003, 0....","[None, 5e-05, None, 0.00055, 0.0024, 0.0015, 0...","[None, 0.07692307692307691, None, 0.3333333333...",gram / liter
693,NaN,-1,1346,449,PKDB00188,Clements1978,"(30682, 30683, 30684, 30685, 30686, 30687...",subject2__20mg/kg,True,plasma,plasma,NaN,NaN,...,paracetamol,"[0.0, 2.7624309e-05, 0.0005524861999999999, 0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
694,NaN,314,-1,406,PKDB00188,Clements1978,"(30509, 30510, 30511, 30512, 30513, 30514...",all_paracetamol20mg/kg_po,True,plasma,plasma,NaN,NaN,...,paracetamol,NaN,"[0.0175, 0.019600000000000003, 0.02, 0.0188, 0...",NaN,NaN,NaN,"[0.0079, 0.007200000000000001, 0.0052000000000...","[0.0027930717856868626, 0.002545584412271571, ...","[0.45142857142857146, 0.36734693877551017, 0.2...",gram / liter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,NaN,1844,-1,2880,Test4,Test4,"(185590, 185591, 185592, 185593, 185594, ...",caf,True,plasma,plasma,NaN,NaN,...,caffeine,NaN,"[0.0035442116, 0.0033748657999999993, 0.003074...",NaN,NaN,NaN,"[0.0003674772, 0.0003820028, 0.000459372, 0.00...","[9.18693e-05, 9.55007e-05, 0.000114843, 0.0001...","[0.10368376425380471, 0.1131905156050946, 0.14...",gram / liter
3963,NaN,1844,-1,2885,Test4,Test4,"(185617, 185618, 185602, 185603, 185604, ...",caf (lome),True,plasma,plasma,NaN,NaN,...,caffeine,NaN,"[6.1484754e-05, 3.8633807e-07, 0.00014989601, ...",NaN,NaN,NaN,"[0.000106382306, 5.319748493e-05, 0.0001885994...","[2.65955765e-05, 1.32993712325e-05, 4.71498725...","[1.7302225198786676, 137.69671968905368, 1.258...",gram / liter
3968,NaN,1846,-1,2906,10381807,Caraco1999,"(186179, 186180, 186181, 186182, 186183, ...",caucasian_quinidine,True,plasma,plasma,NaN,NaN,...,quinidine,NaN,"[0.0, 0.00024116978, 0.00026011735000000004, 0...",NaN,NaN,NaN,NaN,"[None, 6.6e-05, 4.6e-05, 4.2999999999999995e-0...","[None, 0.8209983854527712, 0.5305297781943418,...",gram / liter
3974,NaN,1847,-1,2910,10381807,Caraco1999,"(186132, 186133, 186134, 186135, 186136, ...",morphine-6-glucuronide,True,plasma,plasma,NaN,NaN,...,morphine-6-glucuronide,NaN,"[0.0, 1.1371890815142e-05, 1.38441064196046e-0...",NaN,NaN,NaN,NaN,"[None, 3.0636716549844004e-06, 6.5319184065738...","[None, 0.7619992269654697, 1.334506875186959, ...",gram / liter
3979,NaN,1850,-1,2896,PKDB00096,Kronstrand2001,"(186524, 186525, 186526, 186530, 186531, ...",cod/mor,True,plasma,plasma,NaN,NaN,...,codeine/morphine,NaN,NaN,"[1.3834293, 21.708742, 34.451035, 34.728058000...",NaN,NaN,NaN,"[None, 4.827178, 2.412738, 2.067942, 2.070484,...",NaN,none

                                                  Unnamed: 0  study_sid  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                    444  PKDB00026
691       NaN              316     -1                    401  PKDB00188
692       NaN              317     -1                    460  PKDB00188
693       NaN             -1        1346                 449  PKDB00188
694       NaN              314     -1                    406  PKDB00188
...                                                      ...        ...
3962      NaN              1844    -1                   2880      Test4
3963      NaN              1844    -1                   2885      Test4
3968      NaN              1846    -1                   2906   10381807
3974      NaN              1847    -1                   2910   10381807
3979      NaN              1850    -1                   2896  PKDB00096

                                                      study_name  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                  Chiew2010
691       NaN              316     -1               Clements1978
692       NaN              317     -1               Clements1978
693       NaN             -1        1346            Clements1978
694       NaN              314     -1               Clements1978
...                                                          ...
3962      NaN              1844    -1                      Test4
3963      NaN              1844    -1                      Test4
3968      NaN              1846    -1                 Caraco1999
3974      NaN              1847    -1                 Caraco1999
3979      NaN              1850    -1             Kronstrand2001

                                                                                          output_pk  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             (30125,  30126,  30127,  30128,  30129,  30130...
691       NaN              316     -1             (30545,  30546,  30547,  30548,  30549,  30550...
692       NaN              317     -1             (30565,  30566,  30567,  30568,  30569,  30570...
693       NaN             -1        1346          (30682,  30683,  30684,  30685,  30686,  30687...
694       NaN              314     -1             (30509,  30510,  30511,  30512,  30513,  30514...
...                                                                                             ...
3962      NaN              1844    -1             (185590,  185591,  185592,  185593,  185594,  ...
3963      NaN              1844    -1             (185617,  185618,  185602,  185603,  185604,  ...
3968      NaN              1846    -1             (186179,  186180,  186181,  186182,  186183,  ...
3974      NaN              1847    -1             (186132,  186133,  186134,  186135,  186136,  ...
3979      NaN              1850    -1             (186524,  186525,  186526,  186530,  186531,  ...

                                                                                        subset_name  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                             fig2__PEx_paracetamol glucuronide
691       NaN              316     -1             pentazocine_study_paracetamol20mg/kg_po_pentaz...
692       NaN              317     -1             pentazocine_naloxone study_paracetamol20mg/kg_...
693       NaN             -1        1346                                          subject2__20mg/kg
694       NaN              314     -1                                     all_paracetamol20mg/kg_po
...                                                                                             ...
3962      NaN              1844    -1                                                           caf
3963      NaN              1844    -1                                                    caf (lome)
3968      NaN              1846    -1                                           caucasian_quinidine
3974      NaN              1847    -1                                        morphine-6-glucuronide
3979      NaN              1850    -1                                                       cod/mor

                                                  normed  tissue tissue_label  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1               True   serum        serum
691       NaN              316     -1               True  plasma       plasma
692       NaN              317     -1               True  plasma       plasma
693       NaN             -1        1346            True  plasma       plasma
694       NaN              314     -1               True  plasma       plasma
...                                                  ...     ...          ...
3962      NaN              1844    -1               True  plasma       plasma
3963      NaN              1844    -1               True  plasma       plasma
3968      NaN              1846    -1               True  plasma       plasma
3974      NaN              1847    -1               True  plasma       plasma
3979      NaN              1850    -1               True  plasma       plasma

                                                 method method_label  ...  \
subset_pk intervention_pk group_pk individual_pk                      ...
690       NaN              312     -1               NaN          NaN  ...
691       NaN              316     -1               NaN          NaN  ...
692       NaN              317     -1               NaN          NaN  ...
693       NaN             -1        1346            NaN          NaN  ...
694       NaN              314     -1               NaN          NaN  ...
...                                                 ...          ...  ...
3962      NaN              1844    -1               NaN          NaN  ...
3963      NaN              1844    -1               NaN          NaN  ...
3968      NaN              1846    -1               NaN          NaN  ...
3974      NaN              1847    -1               NaN          NaN  ...
3979      NaN              1850    -1               NaN          NaN  ...

                                                          substance_label  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             paracetamol glucuronide
691       NaN              316     -1                         paracetamol
692       NaN              317     -1                         paracetamol
693       NaN             -1        1346                      paracetamol
694       NaN              314     -1                         paracetamol
...                                                                   ...
3962      NaN              1844    -1                            caffeine
3963      NaN              1844    -1                            caffeine
3968      NaN              1846    -1                           quinidine
3974      NaN              1847    -1              morphine-6-glucuronide
3979      NaN              1850    -1                    codeine/morphine

                                                                                              value  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                                                           NaN
691       NaN              316     -1                                                           NaN
692       NaN              317     -1                                                           NaN
693       NaN             -1        1346          [0.0, 2.7624309e-05, 0.0005524861999999999, 0....
694       NaN              314     -1                                                           NaN
...                                                                                             ...
3962      NaN              1844    -1                                                           NaN
3963      NaN              1844    -1                                                           NaN
3968      NaN              1846    -1                                                           NaN
3974      NaN              1847    -1                                                           NaN
3979      NaN              1850    -1                                                           NaN

                                                                                               mean  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [0.00146388329555856, 0.009858915141736, 0.018...
691       NaN              316     -1             [None, 0.0006, None, 0.0013000000000000002, 0....
692       NaN              317     -1             [None, 0.0013000000000000002, None, 0.0033, 0....
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.0175, 0.019600000000000003, 0.02, 0.0188, 0...
...                                                                                             ...
3962      NaN              1844    -1             [0.0035442116, 0.0033748657999999993, 0.003074...
3963      NaN              1844    -1             [6.1484754e-05, 3.8633807e-07, 0.00014989601, ...
3968      NaN              1846    -1             [0.0, 0.00024116978, 0.00026011735000000004, 0...
3974      NaN              1847    -1             [0.0, 1.1371890815142e-05, 1.38441064196046e-0...
3979      NaN              1850    -1                                                           NaN

                                                                                             median  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                                                           NaN
691       NaN              316     -1                                                           NaN
692       NaN              317     -1                                                           NaN
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1                                                           NaN
...                                                                                             ...
3962      NaN              1844    -1                                                           NaN
3963      NaN              1844    -1                                                           NaN
3968      NaN              1846    -1                                                           NaN
3974      NaN              1847    -1                                                           NaN
3979      NaN              1850    -1             [1.3834293, 21.708742, 34.451035, 34.728058000...

                                                  min  max  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             NaN  NaN
691       NaN              316     -1             NaN  NaN
692       NaN              317     -1             NaN  NaN
693       NaN             -1        1346          NaN  NaN
694       NaN              314     -1             NaN  NaN
...                                               ...  ...
3962      NaN              1844    -1             NaN  NaN
3963      NaN              1844    -1             NaN  NaN
3968      NaN              1846    -1             NaN  NaN
3974      NaN              1847    -1             NaN  NaN
3979      NaN              1850    -1             NaN  NaN

                                                                                                 sd  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [None, 0.007682712100943999, 0.008779730711669...
691       NaN              316     -1             [None, 0.0011, None, 0.0026000000000000003, 0....
692       NaN              317     -1             [None, 0.0001, None, 0.0011, 0.0048, 0.003, 0....
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.0079, 0.007200000000000001, 0.0052000000000...
...                                                                                             ...
3962      NaN              1844    -1             [0.0003674772, 0.0003820028, 0.000459372, 0.00...
3963      NaN              1844    -1             [0.000106382306, 5.319748493e-05, 0.0001885994...
3968      NaN              1846    -1                                                           NaN
3974      NaN              1847    -1                                                           NaN
3979      NaN              1850    -1                                                           NaN

                                                                                                 se  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [None, 0.0025609040336480003, 0.00292657690388...
691       NaN              316     -1             [None, 0.00055, None, 0.0013000000000000002, 0...
692       NaN              317     -1             [None, 5e-05, None, 0.00055, 0.0024, 0.0015, 0...
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.0027930717856868626, 0.002545584412271571, ...
...                                                                                             ...
3962      NaN              1844    -1             [9.18693e-05, 9.55007e-05, 0.000114843, 0.0001...
3963      NaN              1844    -1             [2.65955765e-05, 1.32993712325e-05, 4.71498725...
3968      NaN              1846    -1             [None, 6.6e-05, 4.6e-05, 4.2999999999999995e-0...
3974      NaN              1847    -1             [None, 3.0636716549844004e-06, 6.5319184065738...
3979      NaN              1850    -1             [None, 4.827178, 2.412738, 2.067942, 2.070484,...

                                                                                                 cv  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [None, 0.779265465874696, 0.4807891924497527, ...
691       NaN              316     -1             [None, 1.8333333333333337, None, 2.0, 1.6875, ...
692       NaN              317     -1             [None, 0.07692307692307691, None, 0.3333333333...
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.45142857142857146, 0.36734693877551017, 0.2...
...                                                                                             ...
3962      NaN              1844    -1             [0.10368376425380471, 0.1131905156050946, 0.14...
3963      NaN              1844    -1             [1.7302225198786676, 137.69671968905368, 1.258...
3968      NaN              1846    -1             [None, 0.8209983854527712, 0.5305297781943418,...
3974      NaN              1847    -1             [None, 0.7619992269654697, 1.334506875186959, ...
3979      NaN              1850    -1                                                           NaN

                                                          unit
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             gram / liter
691       NaN              316     -1             gram / liter
692       NaN              317     -1             gram / liter
693       NaN             -1        1346          gram / liter
694       NaN              314     -1             gram / liter
...                                                        ...
3962      NaN              1844    -1             gram / liter
3963      NaN              1844    -1             gram / liter
3968      NaN              1846    -1             gram / liter
3974      NaN              1847    -1             gram / liter
3979      NaN              1850    -1                     none

[419 rows x 28 columns]

In [7]:
data.scatters

,Unnamed: 0,study_sid,study_name,subset_pk,subset_name,x_outputs_pk,x_interventions,x_group_pk,x_individual_pk,x_normed,...,y_mean,y_median,y_min,y_max,y_sd,y_se,y_cv,y_unit,y_dimension,y_data_point
0,0,PKDB00002,Akinyinka2000,783,metabolic_ratio_corr,"[35815, 35816, 35817, 35818, 35819, 35820, 358...","(814,)",NaN,"[1827, 1828, 1829, 1830, 1831, 1832, 1833, 183...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,1,"[7615, 7616, 7617, 7618, 7619, 7620, 7621, 762..."
1,1,PKDB00002,Akinyinka2000,784,caf_corr,"[35563, 35564, 35565, 35566, 35567, 35568, 355...","(814,)",NaN,"[1746, 1747, 1748, 1749, 1750, 1751, 1752, 175...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter,1,"[7625, 7626, 7627, 7628, 7629, 7630, 7631, 763..."
2,2,PKDB00002,Akinyinka2000,785,px_corr,"[35725, 35726, 35727, 35728, 35729, 35730, 357...","(814,)",NaN,"[1792, 1793, 1794, 1795, 1796, 1797, 1798, 179...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter,1,"[7671, 7672, 7673, 7674, 7675, 7676, 7677, 767..."
3,3,PKDB00210,Blanchard1983,927,elderly_po,"[41150, 41151, 41152, 41153, 41154, 41155, 41156]","(897,)",NaN,"[2094, 2095, 2096, 2097, 2098, 2099, 2100]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,milliliter / meter ** 2 / minute,1,"[8551, 8552, 8553, 8554, 8555, 8556, 8557]"
4,4,PKDB00210,Blanchard1983,928,elderly_iv,"[41157, 41158, 41159, 41160, 41161, 41162, 411...","(898,)",NaN,"[2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,milliliter / meter ** 2 / minute,1,"[8558, 8559, 8560, 8561, 8562, 8563, 8564, 8565]"
5,5,PKDB00210,Blanchard1983,929,young_po,"[41165, 41166, 41167, 41168, 41169, 41170, 411...","(897,)",NaN,"[2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,milliliter / meter ** 2 / minute,1,"[8566, 8567, 8568, 8569, 8570, 8571, 8572, 8573]"
6,6,PKDB00210,Blanchard1983,930,young_iv,"[41173, 41174, 41175, 41176, 41177, 41178, 411...","(898,)",NaN,"[2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,milliliter / meter ** 2 / minute,1,"[8574, 8575, 8576, 8577, 8578, 8579, 8580, 8581]"
7,7,PKDB00015,Campbell1987a,971,OC,"[42949, 42950, 42951, 42952, 42953]","(920,)",NaN,"[2141, 2142, 2143, 2144, 2145]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[8929, 8930, 8931, 8932, 8933]"
8,8,PKDB00015,Campbell1987a,972,NonSmokers,"[42954, 42955, 42956, 42957, 42958]","(920,)",NaN,"[2146, 2147, 2148, 2149, 2150]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[8934, 8935, 8936, 8937, 8938]"
9,9,PKDB00015,Campbell1987a,973,Smokers,"[42959, 42960, 42961, 42962, 42963]","(920,)",NaN,"[2151, 2152, 2153, 2154, 2155]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[8939, 8940, 8941, 8942, 8943]"
10,10,2921843,Holstege1989,1075,Fig2A,"[48385, 48386, 48387, 48388, 48389, 48390, 483...","(1178,)",NaN,"[2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[9828, 9829, 9830, 9831, 9832, 9833, 9834, 983..."
11,11,2921843,Holstege1989,1076,Fig2B,"[48461, 48462, 48463, 48464, 48465, 48466, 484...","(1178,)",NaN,"[2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[9865, 9866, 9867, 9868, 9869, 9870, 9871, 987..."
12,12,2921843,Holstege1989,1077,Fig2C,"[48545, 48546, 48547, 48548, 48549, 48550, 485...","(1178,)",NaN,"[2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[9908, 9909, 9910, 9911, 9912, 9913, 9914, 991..."
13,13,2921843,Holstege1989,1078,Fig2D,"[48629, 48630, 48631, 48632, 48633, 48634, 486...","(1178,)",NaN,"[2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[9950, 9951, 9952, 9953, 9954, 9955, 9956, 995..."
14,14,2921843,Holstege1989,1079,Fig3A,"[48713, 48714, 48715, 48716, 48717, 48718, 487...","(1178,)",NaN,"[2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[9976, 9977, 9978, 9979, 9980, 9981, 9982, 998..."
15,15,2921843,Holstege1989,1080,Fig3B,"[48765, 48766, 48767, 48768, 48769, 48770, 487...","(1178,)",NaN,"[2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute,1,"[10002, 10003, 10004, 10005, 10006, 10007, 100..."
16,16,PKDB00045,Kaplan1997,1128,weight_vs_vd_250,"[50563, 50564, 50565, 50566, 50567, 50568, 505...",NaN,NaN,"[2497, 2498, 2499, 2500, 2488, 2489, 2486, 250...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter,1,"[10484, 10485, 10486, 10487, 10480, 10481, 104..."
17,17,PKDB00045,Kaplan1997,1129,weight_vs_vd_500,"[50575, 50576, 50577, 50578, 50579, 50580, 505...",NaN,NaN,"[2504, 2505, 2506, 2507, 2488, 2489, 2486, 250...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter,1,"[10496, 10497, 10498, 10499, 10492, 10493, 104..."
18,18,Trang1985,Trang1985,1297,total_clearance_vs_urine_flow_rate,"[59671, 59672, 59673, 59674, 59675, 59676, 596...","(1394,)",NaN,"[2784, 2785, 2786, 2787, 2788, 2789, 2790, 279...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[11936, 11937, 11938, 11939, 11940, 11941, 119..."
19,19,Trang1985,Trang1985,1298,intrinsic_clearance_vs_urine_flow_rate,"[59671, 59672, 59673, 59674, 59675, 59676, 596...","(1394,)",NaN,"[2784, 2785, 2786, 2787, 2788, 2789, 2790, 279...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[11946, 11947, 11948, 11949, 11950, 11951, 119..."
20,20,Trang1985,Trang1985,1299,renal_clearance_vs_urine_flow_rate,"[59671, 59672, 59673, 59674, 59675, 59676, 596...","(1394,)",NaN,"[2784, 2785, 2786, 2787, 2788, 2789, 2790, 279...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[11956, 11957, 11958, 11959, 11960, 11961, 119..."
21,21,25853045,Tripathi2015,1300,serum_vs_saliva_caffeine_clearance,"[59753, 59754, 59755, 59756, 59757, 59758, 597...","(1396,)",NaN,"[2794, 2795, 2796, 2797, 2798, 2799, 2800, 280...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[11966, 11967, 11968, 11969, 11970, 11971, 119..."
22,22,25853045,Tripathi2015,1301,clearance_vs_bilirubin,"[59837, 59838, 59839, 59840, 59841, 59842, 598...","(1396,)",NaN,"[2809, 2810, 2811, 2812, 2813, 2814, 2815, 281...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dimensionless,1,"[11981, 11982, 11983, 11984, 11985, 11986, 119..."
23,23,PKDB00073,Ferrannini1988,1870,glc_vs_egp_fasting,"[93859, 93860, 93861, 93862, 93863, 93864, 938...","(1882,)",NaN,"[4274, 4275, 4276, 4277, 4278, 4279, 4280, 428...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute,1,"[18813, 18814, 18815, 18816, 18817, 18818, 188..."
24,24,PKDB00073,Ferrannini1988,1871,glc_vs_egp_postglc,"[93871, 93872, 93873, 93874, 93875, 93876, 938...","(1882,)",NaN,"[4286, 4287, 4288, 4289, 4290, 4291, 4292, 429...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute,1,"[18825, 18826, 18827, 18828, 18829, 18830, 188..."
25,25,PKDB00074,Fery1993,1886,glc_vs_egp_normal,94874,"(1884,)",962.0,NaN,True,...,[68.86564],NaN,NaN,NaN,NaN,4.837180,[0.23296249193954102],milligram / minute,1,19051
26,26,PKDB00074,Fery1993,1887,glc_vs_egp_t2dm,"[94814, 94815, 94816, 94817, 94818, 94819, 948...","(1884,)",NaN,"[4298, 4299, 4300, 4301, 4302, 4303, 4304, 430...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,milligram / minute,1,"[19052, 19053, 19054, 19055, 19056, 19057, 190..."
27,27,PKDB00074,Fery1993,1888,glc_vs_egp_normal,94874,"(1884,)",962.0,NaN,True,...,[13.221264],NaN,NaN,NaN,NaN,0.593776,[0.14895178515973614],liter / hour,1,19071
28,28,PKDB00074,Fery1993,1889,glc_vs_egp_t2dm,"[94814, 94815, 94816, 94817, 94818, 94819, 948...","(1884,)",NaN,"[4298, 4299, 4300, 4301, 4302, 4303, 4304, 430...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[19072, 19073, 19074, 19075, 19076, 19077, 190..."
29,29,Branch1976,Branch1976,2186,clearance_vs_albumin,"[106397, 106398, 106399, 106400, 106401, 10640...","(1992,)",NaN,"[4341, 4342, 4343, 4344, 4345, 4346, 4347, 434...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter,1,"[24122, 24123, 24124, 24125, 24126, 24127, 241..."
30,30,Branch1976,Branch1976,2187,clearance_vs_bilirubin,"[106449, 106450, 106451, 106452, 106453, 10645...","(1992,)",NaN,"[4341, 4342, 4343, 4344, 4345, 4346, 4347, 434...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter,1,"[24148, 24149, 24150, 24151, 24152, 24153, 241..."
31,31,Burns1991,Burns1991,2188,clearance_corr,"[106707, 106708, 106709, 106710, 106711, 106712]","(1996,)",NaN,"[4373, 4374, 4375, 4376, 4377, 4378]",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[24174, 24175, 24176, 24177, 24178, 24179]"
32,32,Gadano1997,Gadano1997,2201,clearance_vs_hbf,"[108121, 108122, 108123, 108124, 108125, 10812...","[(2006, 2008, 2010), (2006, 2008, 2010), (2006...",NaN,"[4418, 4419, 4420, 4421, 4422, 4423, 4424, 442...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / minute,1,"[24252, 24253, 24254, 24255, 24256, 24257, 242..."
33,33,Grundmann1992,Grundmann1992,2220,co_vs_hbf,"[109565, 109566, 109567, 109568, 109569, 10957...","(2048,)",NaN,"[4879, 4880, 4881, 4882, 4883, 4884, 4885, 488...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / minute,1,"[24731, 24732, 24733, 24734, 24735, 24736, 247..."
34,34,Grundmann1992,Grundmann1992,2221,MAP_vs_hbf,"[109625, 109626, 109627, 109628, 109629, 10963...","(2048,)",NaN,"[4879, 4880, 4881, 4882, 4883, 4884, 4885, 488...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / minute,1,"[24771, 24772, 24773, 24774, 24775, 24776, 247..."
35,35,Kawasaki1988,Kawasaki1988,2255,ap_clearance_vs_icg_clearance,"[110839, 110840, 110841, 110842, 110843, 11084...","(2077,)",NaN,"[5014, 5015, 5016, 5017, 5018, 5019, 5034, 500...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[24968, 24969, 24970, 24971, 24972, 24973, 249..."
36,36,Roberts1976,Roberts1976,2271,AP_Cl_vs_Liver_Volume,"[111863, 111864, 111865, 111866, 111867, 11186...","(2162,)",NaN,"[5176, 5177, 5178, 5179, 5180, 5181, 5182, 518...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[25153, 25154, 25155, 25156, 25157, 25158, 251..."
37,37,Roberts1976,Roberts1976,2272,ICG_Cl_vs_Liver_Volume,"[111881, 111882, 111883, 111884, 111885, 11188...","(2161,)",NaN,"[5166, 5167, 5168, 5169, 5170, 5171, 5172, 517...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[25162, 25163, 25164, 25165, 25166, 25167, 251..."
38,38,Roberts1976,Roberts1976,2273,ICG_Cl_vs_Liver_Volume_pheno,"[111901, 111902, 111903, 111904, 111905, 11190...","(2162, 2163, 2164, 2165, 2166, 2167, 2168, 216...",NaN,"[5176, 5177, 5178, 5179, 5180, 5181, 5182, 518...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[25172, 25173, 25174, 25175, 25176, 25177, 251..."
39,39,Roberts1976,Roberts1976,2274,ICG_Cl_vs_Liver_Volume_pheno,"[111921, 111922, 111923, 111924, 111925, 11192...","(2161, 2163, 2164, 2165, 2166, 2167, 2168, 216...",NaN,"[5166, 5167, 5168, 5169, 5170, 5171, 5172, 517...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour,1,"[25182, 25183, 25184, 25185, 25186, 25187, 251..."
40,40,Wood1979,Wood1979,2275,clearance_corr,"[112029, 112030, 112031, 112032, 112033, 11203...","(2188,)",NaN,"[5186, 5187, 5188, 5189, 5190, 5191, 5192, 519...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[25192, 25193, 25194, 25195, 25196, 25197, 251..."
41,41,Wood1979,Wood1979,2276,clearance_corr,"[112069, 112070, 112071, 112072, 112073, 11207...","(2186,)",NaN,"[5186, 5187, 5188, 5189, 5190, 5191, 5192, 519...",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour / kilogram,1,"[25212, 25213, 25214, 25215, 25216, 25217, 252..."

    Unnamed: 0      study_sid      study_name  subset_pk  \
0            0      PKDB00002   Akinyinka2000        783
1            1      PKDB00002   Akinyinka2000        784
2            2      PKDB00002   Akinyinka2000        785
3            3      PKDB00210   Blanchard1983        927
4            4      PKDB00210   Blanchard1983        928
5            5      PKDB00210   Blanchard1983        929
6            6      PKDB00210   Blanchard1983        930
7            7      PKDB00015   Campbell1987a        971
8            8      PKDB00015   Campbell1987a        972
9            9      PKDB00015   Campbell1987a        973
10          10        2921843    Holstege1989       1075
11          11        2921843    Holstege1989       1076
12          12        2921843    Holstege1989       1077
13          13        2921843    Holstege1989       1078
14          14        2921843    Holstege1989       1079
15          15        2921843    Holstege1989       1080
16          16      PKDB00045      Kaplan1997       1128
17          17      PKDB00045      Kaplan1997       1129
18          18      Trang1985       Trang1985       1297
19          19      Trang1985       Trang1985       1298
20          20      Trang1985       Trang1985       1299
21          21       25853045    Tripathi2015       1300
22          22       25853045    Tripathi2015       1301
23          23      PKDB00073  Ferrannini1988       1870
24          24      PKDB00073  Ferrannini1988       1871
25          25      PKDB00074        Fery1993       1886
26          26      PKDB00074        Fery1993       1887
27          27      PKDB00074        Fery1993       1888
28          28      PKDB00074        Fery1993       1889
29          29     Branch1976      Branch1976       2186
30          30     Branch1976      Branch1976       2187
31          31      Burns1991       Burns1991       2188
32          32     Gadano1997      Gadano1997       2201
33          33  Grundmann1992   Grundmann1992       2220
34          34  Grundmann1992   Grundmann1992       2221
35          35   Kawasaki1988    Kawasaki1988       2255
36          36    Roberts1976     Roberts1976       2271
37          37    Roberts1976     Roberts1976       2272
38          38    Roberts1976     Roberts1976       2273
39          39    Roberts1976     Roberts1976       2274
40          40       Wood1979        Wood1979       2275
41          41       Wood1979        Wood1979       2276

                               subset_name  \
0                     metabolic_ratio_corr
1                                 caf_corr
2                                  px_corr
3                               elderly_po
4                               elderly_iv
5                                 young_po
6                                 young_iv
7                                       OC
8                               NonSmokers
9                                  Smokers
10                                   Fig2A
11                                   Fig2B
12                                   Fig2C
13                                   Fig2D
14                                   Fig3A
15                                   Fig3B
16                        weight_vs_vd_250
17                        weight_vs_vd_500
18      total_clearance_vs_urine_flow_rate
19  intrinsic_clearance_vs_urine_flow_rate
20      renal_clearance_vs_urine_flow_rate
21      serum_vs_saliva_caffeine_clearance
22                  clearance_vs_bilirubin
23                      glc_vs_egp_fasting
24                      glc_vs_egp_postglc
25                       glc_vs_egp_normal
26                         glc_vs_egp_t2dm
27                       glc_vs_egp_normal
28                         glc_vs_egp_t2dm
29                    clearance_vs_albumin
30                  clearance_vs_bilirubin
31                          clearance_corr
32                        clearance_vs_hbf
33                               co_vs_hbf
34                              MAP_vs_hbf
35           ap_clearance_vs_icg_clearance
36                   AP_Cl_vs_Liver_Volume
37                  ICG_Cl_vs_Liver_Volume
38            ICG_Cl_vs_Liver_Volume_pheno
39            ICG_Cl_vs_Liver_Volume_pheno
40                          clearance_corr
41                          clearance_corr

                                         x_outputs_pk  \
0   [35815, 35816, 35817, 35818, 35819, 35820, 358...
1   [35563, 35564, 35565, 35566, 35567, 35568, 355...
2   [35725, 35726, 35727, 35728, 35729, 35730, 357...
3   [41150, 41151, 41152, 41153, 41154, 41155, 41156]
4   [41157, 41158, 41159, 41160, 41161, 41162, 411...
5   [41165, 41166, 41167, 41168, 41169, 41170, 411...
6   [41173, 41174, 41175, 41176, 41177, 41178, 411...
7                 [42949, 42950, 42951, 42952, 42953]
8                 [42954, 42955, 42956, 42957, 42958]
9                 [42959, 42960, 42961, 42962, 42963]
10  [48385, 48386, 48387, 48388, 48389, 48390, 483...
11  [48461, 48462, 48463, 48464, 48465, 48466, 484...
12  [48545, 48546, 48547, 48548, 48549, 48550, 485...
13  [48629, 48630, 48631, 48632, 48633, 48634, 486...
14  [48713, 48714, 48715, 48716, 48717, 48718, 487...
15  [48765, 48766, 48767, 48768, 48769, 48770, 487...
16  [50563, 50564, 50565, 50566, 50567, 50568, 505...
17  [50575, 50576, 50577, 50578, 50579, 50580, 505...
18  [59671, 59672, 59673, 59674, 59675, 59676, 596...
19  [59671, 59672, 59673, 59674, 59675, 59676, 596...
20  [59671, 59672, 59673, 59674, 59675, 59676, 596...
21  [59753, 59754, 59755, 59756, 59757, 59758, 597...
22  [59837, 59838, 59839, 59840, 59841, 59842, 598...
23  [93859, 93860, 93861, 93862, 93863, 93864, 938...
24  [93871, 93872, 93873, 93874, 93875, 93876, 938...
25                                              94874
26  [94814, 94815, 94816, 94817, 94818, 94819, 948...
27                                              94874
28  [94814, 94815, 94816, 94817, 94818, 94819, 948...
29  [106397, 106398, 106399, 106400, 106401, 10640...
30  [106449, 106450, 106451, 106452, 106453, 10645...
31   [106707, 106708, 106709, 106710, 106711, 106712]
32  [108121, 108122, 108123, 108124, 108125, 10812...
33  [109565, 109566, 109567, 109568, 109569, 10957...
34  [109625, 109626, 109627, 109628, 109629, 10963...
35  [110839, 110840, 110841, 110842, 110843, 11084...
36  [111863, 111864, 111865, 111866, 111867, 11186...
37  [111881, 111882, 111883, 111884, 111885, 11188...
38  [111901, 111902, 111903, 111904, 111905, 11190...
39  [111921, 111922, 111923, 111924, 111925, 11192...
40  [112029, 112030, 112031, 112032, 112033, 11203...
41  [112069, 112070, 112071, 112072, 112073, 11207...

                                      x_interventions  x_group_pk  \
0                                              (814,)         NaN
1                                              (814,)         NaN
2                                              (814,)         NaN
3                                              (897,)         NaN
4                                              (898,)         NaN
5                                              (897,)         NaN
6                                              (898,)         NaN
7                                              (920,)         NaN
8                                              (920,)         NaN
9                                              (920,)         NaN
10                                            (1178,)         NaN
11                                            (1178,)         NaN
12                                            (1178,)         NaN
13                                            (1178,)         NaN
14                                            (1178,)         NaN
15                                            (1178,)         NaN
16                                                NaN         NaN
17                                                NaN         NaN
18                                            (1394,)         NaN
19                                            (1394,)         NaN
20                                            (1394,)         NaN
21                                            (1396,)         NaN
22                                            (1396,)         NaN
23                                            (1882,)         NaN
24                                            (1882,)         NaN
25                                            (1884,)       962.0
26                                            (1884,)         NaN
27                                            (1884,)       962.0
28                                            (1884,)         NaN
29                                            (1992,)         NaN
30                                            (1992,)         NaN
31                                            (1996,)         NaN
32  [(2006, 2008, 2010), (2006, 2008, 2010), (2006...         NaN
33                                            (2048,)         NaN
34                                            (2048,)         NaN
35                                            (2077,)         NaN
36                                            (2162,)         NaN
37                                            (2161,)         NaN
38  (2162, 2163, 2164, 2165, 2166, 2167, 2168, 216...         NaN
39  (2161, 2163, 2164, 2165, 2166, 2167, 2168, 216...         NaN
40                                            (2188,)         NaN
41                                            (2186,)         NaN

                                      x_individual_pk  x_normed  ...  \
0   [1827, 1828, 1829, 1830, 1831, 1832, 1833, 183...      True  ...
1   [1746, 1747, 1748, 1749, 1750, 1751, 1752, 175...      True  ...
2   [1792, 1793, 1794, 1795, 1796, 1797, 1798, 179...      True  ...
3          [2094, 2095, 2096, 2097, 2098, 2099, 2100]      True  ...
4    [2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108]      True  ...
5    [2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116]      True  ...
6    [2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124]      True  ...
7                      [2141, 2142, 2143, 2144, 2145]      True  ...
8                      [2146, 2147, 2148, 2149, 2150]      True  ...
9                      [2151, 2152, 2153, 2154, 2155]      True  ...
10  [2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...      True  ...
11  [2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...      True  ...
12  [2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...      True  ...
13  [2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...      True  ...
14  [2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...      True  ...
15  [2346, 2347, 2348, 2349, 2350, 2351, 2352, 235...      True  ...
16  [2497, 2498, 2499, 2500, 2488, 2489, 2486, 250...      True  ...
17  [2504, 2505, 2506, 2507, 2488, 2489, 2486, 250...      True  ...
18  [2784, 2785, 2786, 2787, 2788, 2789, 2790, 279...      True  ...
19  [2784, 2785, 2786, 2787, 2788, 2789, 2790, 279...      True  ...
20  [2784, 2785, 2786, 2787, 2788, 2789, 2790, 279...      True  ...
21  [2794, 2795, 2796, 2797, 2798, 2799, 2800, 280...      True  ...
22  [2809, 2810, 2811, 2812, 2813, 2814, 2815, 281...      True  ...
23  [4274, 4275, 4276, 4277, 4278, 4279, 4280, 428...      True  ...
24  [4286, 4287, 4288, 4289, 4290, 4291, 4292, 429...      True  ...
25                                                NaN      True  ...
26  [4298, 4299, 4300, 4301, 4302, 4303, 4304, 430...      True  ...
27                                                NaN      True  ...
28  [4298, 4299, 4300, 4301, 4302, 4303, 4304, 430...      True  ...
29  [4341, 4342, 4343, 4344, 4345, 4346, 4347, 434...      True  ...
30  [4341, 4342, 4343, 4344, 4345, 4346, 4347, 434...      True  ...
31               [4373, 4374, 4375, 4376, 4377, 4378]      True  ...
32  [4418, 4419, 4420, 4421, 4422, 4423, 4424, 442...      True  ...
33  [4879, 4880, 4881, 4882, 4883, 4884, 4885, 488...      True  ...
34  [4879, 4880, 4881, 4882, 4883, 4884, 4885, 488...      True  ...
35  [5014, 5015, 5016, 5017, 5018, 5019, 5034, 500...      True  ...
36  [5176, 5177, 5178, 5179, 5180, 5181, 5182, 518...      True  ...
37  [5166, 5167, 5168, 5169, 5170, 5171, 5172, 517...      True  ...
38  [5176, 5177, 5178, 5179, 5180, 5181, 5182, 518...      True  ...
39  [5166, 5167, 5168, 5169, 5170, 5171, 5172, 517...      True  ...
40  [5186, 5187, 5188, 5189, 5190, 5191, 5192, 519...      True  ...
41  [5186, 5187, 5188, 5189, 5190, 5191, 5192, 519...      True  ...

         y_mean y_median y_min y_max y_sd      y_se                   y_cv  \
0           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
1           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
2           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
3           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
4           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
5           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
6           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
7           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
8           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
9           NaN      NaN   NaN   NaN  NaN       NaN                    NaN
10          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
11          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
12          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
13          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
14          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
15          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
16          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
17          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
18          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
19          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
20          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
21          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
22          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
23          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
24          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
25   [68.86564]      NaN   NaN   NaN  NaN  4.837180  [0.23296249193954102]
26          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
27  [13.221264]      NaN   NaN   NaN  NaN  0.593776  [0.14895178515973614]
28          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
29          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
30          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
31          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
32          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
33          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
34          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
35          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
36          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
37          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
38          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
39          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
40          NaN      NaN   NaN   NaN  NaN       NaN                    NaN
41          NaN      NaN   NaN   NaN  NaN       NaN                    NaN

                              y_unit y_dimension  \
0                               none           1
1                       gram / liter           1
2                       gram / liter           1
3   milliliter / meter ** 2 / minute           1
4   milliliter / meter ** 2 / minute           1
5   milliliter / meter ** 2 / minute           1
6   milliliter / meter ** 2 / minute           1
7            liter / hour / kilogram           1
8            liter / hour / kilogram           1
9            liter / hour / kilogram           1
10                      liter / hour           1
11                      liter / hour           1
12                      liter / hour           1
13                      liter / hour           1
14                      liter / hour           1
15                        1 / minute           1
16                             liter           1
17                             liter           1
18                      liter / hour           1
19                      liter / hour           1
20                      liter / hour           1
21           liter / hour / kilogram           1
22                     dimensionless           1
23                        1 / minute           1
24                        1 / minute           1
25                milligram / minute           1
26                milligram / minute           1
27                      liter / hour           1
28                      liter / hour           1
29                      gram / liter           1
30                      gram / liter           1
31                      liter / hour           1
32                    liter / minute           1
33                    liter / minute           1
34                    liter / minute           1
35           liter / hour / kilogram           1
36                      liter / hour           1
37                      liter / hour           1
38                      liter / hour           1
39                      liter / hour           1
40           liter / hour / kilogram           1
41           liter / hour / kilogram           1

                                         y_data_point
0   [7615, 7616, 7617, 7618, 7619, 7620, 7621, 762...
1   [7625, 7626, 7627, 7628, 7629, 7630, 7631, 763...
2   [7671, 7672, 7673, 7674, 7675, 7676, 7677, 767...
3          [8551, 8552, 8553, 8554, 8555, 8556, 8557]
4    [8558, 8559, 8560, 8561, 8562, 8563, 8564, 8565]
5    [8566, 8567, 8568, 8569, 8570, 8571, 8572, 8573]
6    [8574, 8575, 8576, 8577, 8578, 8579, 8580, 8581]
7                      [8929, 8930, 8931, 8932, 8933]
8                      [8934, 8935, 8936, 8937, 8938]
9                      [8939, 8940, 8941, 8942, 8943]
10  [9828, 9829, 9830, 9831, 9832, 9833, 9834, 983...
11  [9865, 9866, 9867, 9868, 9869, 9870, 9871, 987...
12  [9908, 9909, 9910, 9911, 9912, 9913, 9914, 991...
13  [9950, 9951, 9952, 9953, 9954, 9955, 9956, 995...
14  [9976, 9977, 9978, 9979, 9980, 9981, 9982, 998...
15  [10002, 10003, 10004, 10005, 10006, 10007, 100...
16  [10484, 10485, 10486, 10487, 10480, 10481, 104...
17  [10496, 10497, 10498, 10499, 10492, 10493, 104...
18  [11936, 11937, 11938, 11939, 11940, 11941, 119...
19  [11946, 11947, 11948, 11949, 11950, 11951, 119...
20  [11956, 11957, 11958, 11959, 11960, 11961, 119...
21  [11966, 11967, 11968, 11969, 11970, 11971, 119...
22  [11981, 11982, 11983, 11984, 11985, 11986, 119...
23  [18813, 18814, 18815, 18816, 18817, 18818, 188...
24  [18825, 18826, 18827, 18828, 18829, 18830, 188...
25                                              19051
26  [19052, 19053, 19054, 19055, 19056, 19057, 190...
27                                              19071
28  [19072, 19073, 19074, 19075, 19076, 19077, 190...
29  [24122, 24123, 24124, 24125, 24126, 24127, 241...
30  [24148, 24149, 24150, 24151, 24152, 24153, 241...
31         [24174, 24175, 24176, 24177, 24178, 24179]
32  [24252, 24253, 24254, 24255, 24256, 24257, 242...
33  [24731, 24732, 24733, 24734, 24735, 24736, 247...
34  [24771, 24772, 24773, 24774, 24775, 24776, 247...
35  [24968, 24969, 24970, 24971, 24972, 24973, 249...
36  [25153, 25154, 25155, 25156, 25157, 25158, 251...
37  [25162, 25163, 25164, 25165, 25166, 25167, 251...
38  [25172, 25173, 25174, 25175, 25176, 25177, 251...