In [6]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Working with PK-DB data
To easily work with PK-DB data we provide the `pkdb_analysis` python library.
These includes helper functions for querying data and filter existing data sets. In the following we provide an overview over the typical functionality when working with PK-DB data.

The main class to work with is `PKData`. It is possible to directly query the database or to load data from file.

## Load data from file
PKData can be serialized to HDF5 files. In the following we will load the test data set and print an overview.

In [8]:
from pkdb_analysis import PKData, PKFilter
from pkdb_analysis.test import TESTDATA_CONCISE_FALSE_ZIP

data = PKData.from_archive(TESTDATA_CONCISE_FALSE_ZIP)
print(data)

      intervention_pk_updated intervention_pk
0                           0           (672)
1                           1           (674)
2                           2           (676)
3                           3           (678)
4                           4      (680, 678)
...                       ...             ...
1170                     1170          (3600)
1171                     1171          (3598)
1172                     1172    (3602, 3598)
1173                     1173          (3608)
1174                     1174          (3610)

[1175 rows x 2 columns]
------------------------------
PKData (140683984720592)
------------------------------
studies           497  (  497)
groups           1404  (11621)
individuals      6449  (59284)
interventions    1175  ( 1806)
outputs         71501  (71501)
timecourses       419  (  419)
------------------------------

## Load data from database
Alternatively data can be loaded from the database using the `PKDB.query()` function.
This is documented in the `Querying PK-DB` section.

## Accessing groups, individuals, interventions, outputs and timecourses
All PKData consists of consistent information on:
- `studies`: PK-DB studies, uniquely identified via a `study_sid`
- `groups`: groups, uniquely identified via `group_pk`
- `individuals`: individuals, uniquely identified via `individual_pk`
- `interventions`: interventions, uniquely identified via `intervention_pk`
- `outputs`: outputs, uniquely identified via `output_pk`
- `timecourses`: groups, uniquely identified via `timecourse_pk`

The `print` function provides a simple overview over the content

In [9]:
print(data)

------------------------------
PKData (140683984720592)
------------------------------
studies           497  (  497)
groups           1404  (11621)
individuals      6449  (59284)
interventions    1175  ( 1806)
outputs         71501  (71501)
timecourses       419  (  419)
------------------------------

We can access the information via the respective fields, e.g., groups via `data.groups` or the multi-index data via `data.groups_mi`.

In [10]:
data.groups

,Unnamed: 0,study_name,study_sid,measurement_type,group_count,group_name,max,substance,count,group_parent_pk,...,unit,se,min,cv,median,group_pk,characteristica_pk,mean,choice,value
0,0,Lilja1999,10460065,species,12,all,NaN,nan,12,-1,...,NaN,NaN,NaN,NaN,NaN,614,12493,NaN,homo sapiens,NaN
1,1,Lilja1999,10460065,healthy,12,all,NaN,nan,12,-1,...,NaN,NaN,NaN,NaN,NaN,614,12494,NaN,Y,NaN
2,2,Lilja1999,10460065,sex,12,all,NaN,nan,6,-1,...,NaN,NaN,NaN,NaN,NaN,614,12495,NaN,M,NaN
3,3,Lilja1999,10460065,sex,12,all,NaN,nan,6,-1,...,NaN,NaN,NaN,NaN,NaN,614,12496,NaN,F,NaN
4,4,Lilja1999,10460065,age,12,all,27.0,nan,12,-1,...,year,NaN,19.0,NaN,NaN,614,12497,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11616,11616,Mohammed1993,PKDB00102,overnight fast,5,healthy,NaN,nan,10,1851,...,NaN,NaN,NaN,NaN,NaN,1853,37445,NaN,Y,NaN
11617,11617,Mohammed1993,PKDB00102,sex,5,healthy,NaN,nan,10,1851,...,NaN,NaN,NaN,NaN,NaN,1853,37446,NaN,NR,NaN
11618,11618,Mohammed1993,PKDB00102,weight,5,healthy,88.0,nan,5,1851,...,kilogram,NaN,58.0,NaN,NaN,1853,37460,75.0,NaN,NaN
11619,11619,Mohammed1993,PKDB00102,age,5,healthy,24.0,nan,5,1851,...,year,NaN,22.0,NaN,NaN,1853,37461,23.0,NaN,NaN
11620,11620,Mohammed1993,PKDB00102,healthy,5,healthy,NaN,nan,5,1851,...,NaN,NaN,NaN,NaN,NaN,1853,37462,NaN,Y,NaN

       Unnamed: 0    study_name  study_sid measurement_type  group_count  \
0               0     Lilja1999   10460065          species           12
1               1     Lilja1999   10460065          healthy           12
2               2     Lilja1999   10460065              sex           12
3               3     Lilja1999   10460065              sex           12
4               4     Lilja1999   10460065              age           12
...           ...           ...        ...              ...          ...
11616       11616  Mohammed1993  PKDB00102   overnight fast            5
11617       11617  Mohammed1993  PKDB00102              sex            5
11618       11618  Mohammed1993  PKDB00102           weight            5
11619       11619  Mohammed1993  PKDB00102              age            5
11620       11620  Mohammed1993  PKDB00102          healthy            5

      group_name   max substance  count  group_parent_pk  ...      unit  se  \
0            all   NaN       nan     12               -1  ...       NaN NaN
1            all   NaN       nan     12               -1  ...       NaN NaN
2            all   NaN       nan      6               -1  ...       NaN NaN
3            all   NaN       nan      6               -1  ...       NaN NaN
4            all  27.0       nan     12               -1  ...      year NaN
...          ...   ...       ...    ...              ...  ...       ...  ..
11616    healthy   NaN       nan     10             1851  ...       NaN NaN
11617    healthy   NaN       nan     10             1851  ...       NaN NaN
11618    healthy  88.0       nan      5             1851  ...  kilogram NaN
11619    healthy  24.0       nan      5             1851  ...      year NaN
11620    healthy   NaN       nan      5             1851  ...       NaN NaN

        min  cv  median  group_pk  characteristica_pk  mean        choice  \
0       NaN NaN     NaN       614               12493   NaN  homo sapiens
1       NaN NaN     NaN       614               12494   NaN             Y
2       NaN NaN     NaN       614               12495   NaN             M
3       NaN NaN     NaN       614               12496   NaN             F
4      19.0 NaN     NaN       614               12497   NaN           NaN
...     ...  ..     ...       ...                 ...   ...           ...
11616   NaN NaN     NaN      1853               37445   NaN             Y
11617   NaN NaN     NaN      1853               37446   NaN            NR
11618  58.0 NaN     NaN      1853               37460  75.0           NaN
11619  22.0 NaN     NaN      1853               37461  23.0           NaN
11620   NaN NaN     NaN      1853               37462   NaN             Y

      value
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
11616   NaN
11617   NaN
11618   NaN
11619   NaN
11620   NaN

[11621 rows x 21 columns]

In [11]:
data.groups_mi

                             Unnamed: 0    study_name  study_sid  \
group_pk characteristica_pk
312      6576                      4370     Chiew2010  PKDB00026
         6577                      4371     Chiew2010  PKDB00026
         6578                      4372     Chiew2010  PKDB00026
         6579                      4373     Chiew2010  PKDB00026
         6580                      4374     Chiew2010  PKDB00026
...                                 ...           ...        ...
1853     37445                    11616  Mohammed1993  PKDB00102
         37446                    11617  Mohammed1993  PKDB00102
         37460                    11618  Mohammed1993  PKDB00102
         37461                    11619  Mohammed1993  PKDB00102
         37462                    11620  Mohammed1993  PKDB00102

                            measurement_type  group_count group_name   max  \
group_pk characteristica_pk
312      6576                        species            9        all   NaN
         6577                        healthy            9        all   NaN
         6578                 overnight fast            9        all   NaN
         6579                            sex            9        all   NaN
         6580                            sex            9        all   NaN
...                                      ...          ...        ...   ...
1853     37445                overnight fast            5    healthy   NaN
         37446                           sex            5    healthy   NaN
         37460                        weight            5    healthy  88.0
         37461                           age            5    healthy  24.0
         37462                       healthy            5    healthy   NaN

                            substance  count  group_parent_pk    sd      unit  \
group_pk characteristica_pk
312      6576                     nan      9               -1   NaN       NaN
         6577                     nan      9               -1   NaN       NaN
         6578                     nan      9               -1   NaN       NaN
         6579                     nan      8               -1   NaN       NaN
         6580                     nan      1               -1   NaN       NaN
...                               ...    ...              ...   ...       ...
1853     37445                    nan     10             1851   NaN       NaN
         37446                    nan     10             1851   NaN       NaN
         37460                    nan      5             1851  11.0  kilogram
         37461                    nan      5             1851   1.0      year
         37462                    nan      5             1851   NaN       NaN

                             se   min  cv  median  mean        choice  value
group_pk characteristica_pk
312      6576               NaN   NaN NaN     NaN   NaN  homo sapiens    NaN
         6577               NaN   NaN NaN     NaN   NaN             Y    NaN
         6578               NaN   NaN NaN     NaN   NaN             Y    NaN
         6579               NaN   NaN NaN     NaN   NaN             M    NaN
         6580               NaN   NaN NaN     NaN   NaN             F    NaN
...                          ..   ...  ..     ...   ...           ...    ...
1853     37445              NaN   NaN NaN     NaN   NaN             Y    NaN
         37446              NaN   NaN NaN     NaN   NaN            NR    NaN
         37460              NaN  58.0 NaN     NaN  75.0           NaN    NaN
         37461              NaN  22.0 NaN     NaN  23.0           NaN    NaN
         37462              NaN   NaN NaN     NaN   NaN             Y    NaN

[11621 rows x 19 columns]

                             Unnamed: 0    study_name  study_sid  \
group_pk characteristica_pk
312      6576                      4370     Chiew2010  PKDB00026
         6577                      4371     Chiew2010  PKDB00026
         6578                      4372     Chiew2010  PKDB00026
         6579                      4373     Chiew2010  PKDB00026
         6580                      4374     Chiew2010  PKDB00026
...                                 ...           ...        ...
1853     37445                    11616  Mohammed1993  PKDB00102
         37446                    11617  Mohammed1993  PKDB00102
         37460                    11618  Mohammed1993  PKDB00102
         37461                    11619  Mohammed1993  PKDB00102
         37462                    11620  Mohammed1993  PKDB00102

                            measurement_type  group_count group_name   max  \
group_pk characteristica_pk
312      6576                        species            9        all   NaN
         6577                        healthy            9        all   NaN
         6578                 overnight fast            9        all   NaN
         6579                            sex            9        all   NaN
         6580                            sex            9        all   NaN
...                                      ...          ...        ...   ...
1853     37445                overnight fast            5    healthy   NaN
         37446                           sex            5    healthy   NaN
         37460                        weight            5    healthy  88.0
         37461                           age            5    healthy  24.0
         37462                       healthy            5    healthy   NaN

                            substance  count  group_parent_pk    sd      unit  \
group_pk characteristica_pk
312      6576                     nan      9               -1   NaN       NaN
         6577                     nan      9               -1   NaN       NaN
         6578                     nan      9               -1   NaN       NaN
         6579                     nan      8               -1   NaN       NaN
         6580                     nan      1               -1   NaN       NaN
...                               ...    ...              ...   ...       ...
1853     37445                    nan     10             1851   NaN       NaN
         37446                    nan     10             1851   NaN       NaN
         37460                    nan      5             1851  11.0  kilogram
         37461                    nan      5             1851   1.0      year
         37462                    nan      5             1851   NaN       NaN

                             se   min  cv  median  mean        choice  value
group_pk characteristica_pk
312      6576               NaN   NaN NaN     NaN   NaN  homo sapiens    NaN
         6577               NaN   NaN NaN     NaN   NaN             Y    NaN
         6578               NaN   NaN NaN     NaN   NaN             Y    NaN
         6579               NaN   NaN NaN     NaN   NaN             M    NaN
         6580               NaN   NaN NaN     NaN   NaN             F    NaN
...                          ..   ...  ..     ...   ...           ...    ...
1853     37445              NaN   NaN NaN     NaN   NaN             Y    NaN
         37446              NaN   NaN NaN     NaN   NaN            NR    NaN
         37460              NaN  58.0 NaN     NaN  75.0           NaN    NaN
         37461              NaN  22.0 NaN     NaN  23.0           NaN    NaN
         37462              NaN   NaN NaN     NaN   NaN             Y    NaN

[11621 rows x 19 columns]

To access the number of items use the `*_count`.

In [12]:
print(f"Number of groups: {data.groups_count}")

Number of groups: 1404

The `groups`, `individuals`, `interventions`, `outputs` and `timecourses` are `pandas.DataFrame` instances, so all the classical pandas operations can be applied on the data.
For instance to access a single `group` use logical indexing by the `group_pk` field.
E.g. to get the group `20` use

In [15]:
data.groups[data.groups.group_pk==312]

,Unnamed: 0,study_name,study_sid,measurement_type,group_count,group_name,max,substance,count,group_parent_pk,...,unit,se,min,cv,median,group_pk,characteristica_pk,mean,choice,value
4370,4370,Chiew2010,PKDB00026,species,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6576,NaN,homo sapiens,NaN
4371,4371,Chiew2010,PKDB00026,healthy,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6577,NaN,Y,NaN
4372,4372,Chiew2010,PKDB00026,overnight fast,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6578,NaN,Y,NaN
4373,4373,Chiew2010,PKDB00026,sex,9,all,NaN,nan,8,-1,...,NaN,NaN,NaN,NaN,NaN,312,6579,NaN,M,NaN
4374,4374,Chiew2010,PKDB00026,sex,9,all,NaN,nan,1,-1,...,NaN,NaN,NaN,NaN,NaN,312,6580,NaN,F,NaN
4375,4375,Chiew2010,PKDB00026,abstinence,9,all,NaN,paracetamol,9,-1,...,day,NaN,7.0,NaN,NaN,312,6581,NaN,NaN,NaN
4376,4376,Chiew2010,PKDB00026,medication,9,all,NaN,nan,9,-1,...,NaN,NaN,NaN,NaN,NaN,312,6582,NaN,N,NaN
4377,4377,Chiew2010,PKDB00026,age,9,all,46.0,nan,9,-1,...,year,NaN,27.0,NaN,NaN,312,6583,34.00,NaN,NaN
4378,4378,Chiew2010,PKDB00026,weight,9,all,84.0,nan,9,-1,...,kilogram,NaN,62.0,NaN,NaN,312,6584,73.11,NaN,NaN

      Unnamed: 0 study_name  study_sid measurement_type  group_count  \
4370        4370  Chiew2010  PKDB00026          species            9
4371        4371  Chiew2010  PKDB00026          healthy            9
4372        4372  Chiew2010  PKDB00026   overnight fast            9
4373        4373  Chiew2010  PKDB00026              sex            9
4374        4374  Chiew2010  PKDB00026              sex            9
4375        4375  Chiew2010  PKDB00026       abstinence            9
4376        4376  Chiew2010  PKDB00026       medication            9
4377        4377  Chiew2010  PKDB00026              age            9
4378        4378  Chiew2010  PKDB00026           weight            9

     group_name   max    substance  count  group_parent_pk  ...      unit  se  \
4370        all   NaN          nan      9               -1  ...       NaN NaN
4371        all   NaN          nan      9               -1  ...       NaN NaN
4372        all   NaN          nan      9               -1  ...       NaN NaN
4373        all   NaN          nan      8               -1  ...       NaN NaN
4374        all   NaN          nan      1               -1  ...       NaN NaN
4375        all   NaN  paracetamol      9               -1  ...       day NaN
4376        all   NaN          nan      9               -1  ...       NaN NaN
4377        all  46.0          nan      9               -1  ...      year NaN
4378        all  84.0          nan      9               -1  ...  kilogram NaN

       min  cv  median  group_pk  characteristica_pk   mean        choice  \
4370   NaN NaN     NaN       312                6576    NaN  homo sapiens
4371   NaN NaN     NaN       312                6577    NaN             Y
4372   NaN NaN     NaN       312                6578    NaN             Y
4373   NaN NaN     NaN       312                6579    NaN             M
4374   NaN NaN     NaN       312                6580    NaN             F
4375   7.0 NaN     NaN       312                6581    NaN           NaN
4376   NaN NaN     NaN       312                6582    NaN             N
4377  27.0 NaN     NaN       312                6583  34.00           NaN
4378  62.0 NaN     NaN       312                6584  73.11           NaN

     value
4370   NaN
4371   NaN
4372   NaN
4373   NaN
4374   NaN
4375   NaN
4376   NaN
4377   NaN
4378   NaN

[9 rows x 21 columns]

In the group tables multiple rows exist which belong to a single group! This is important to understand filtering of the data later on. For instance in this example the information on `species`, `healthy`, `smoking`, `age` and `overnight_fast` are all separate rows in the `groups` table, but belong to a single row.

When looking at the multi-index table this becomes more clear. We now get the group 20 form the `groups_mi`. We can simply use the `.loc` to lookup the group by `pk`

In [17]:
data.groups_mi.loc[312]

,Unnamed: 0,study_name,study_sid,measurement_type,group_count,group_name,max,substance,count,group_parent_pk,sd,unit,se,min,cv,median,mean,choice,value
characteristica_pk,,,,,,,,,,,,,,,,,,,
6576,4370,Chiew2010,PKDB00026,species,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,homo sapiens,NaN
6577,4371,Chiew2010,PKDB00026,healthy,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
6578,4372,Chiew2010,PKDB00026,overnight fast,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
6579,4373,Chiew2010,PKDB00026,sex,9,all,NaN,nan,8,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN
6580,4374,Chiew2010,PKDB00026,sex,9,all,NaN,nan,1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN
6581,4375,Chiew2010,PKDB00026,abstinence,9,all,NaN,paracetamol,9,-1,NaN,day,NaN,7.0,NaN,NaN,NaN,NaN,NaN
6582,4376,Chiew2010,PKDB00026,medication,9,all,NaN,nan,9,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6583,4377,Chiew2010,PKDB00026,age,9,all,46.0,nan,9,-1,NaN,year,NaN,27.0,NaN,NaN,34.00,NaN,NaN
6584,4378,Chiew2010,PKDB00026,weight,9,all,84.0,nan,9,-1,NaN,kilogram,NaN,62.0,NaN,NaN,73.11,NaN,NaN

                    Unnamed: 0 study_name  study_sid measurement_type  \
characteristica_pk
6576                      4370  Chiew2010  PKDB00026          species
6577                      4371  Chiew2010  PKDB00026          healthy
6578                      4372  Chiew2010  PKDB00026   overnight fast
6579                      4373  Chiew2010  PKDB00026              sex
6580                      4374  Chiew2010  PKDB00026              sex
6581                      4375  Chiew2010  PKDB00026       abstinence
6582                      4376  Chiew2010  PKDB00026       medication
6583                      4377  Chiew2010  PKDB00026              age
6584                      4378  Chiew2010  PKDB00026           weight

                    group_count group_name   max    substance  count  \
characteristica_pk
6576                          9        all   NaN          nan      9
6577                          9        all   NaN          nan      9
6578                          9        all   NaN          nan      9
6579                          9        all   NaN          nan      8
6580                          9        all   NaN          nan      1
6581                          9        all   NaN  paracetamol      9
6582                          9        all   NaN          nan      9
6583                          9        all  46.0          nan      9
6584                          9        all  84.0          nan      9

                    group_parent_pk  sd      unit  se   min  cv  median  \
characteristica_pk
6576                             -1 NaN       NaN NaN   NaN NaN     NaN
6577                             -1 NaN       NaN NaN   NaN NaN     NaN
6578                             -1 NaN       NaN NaN   NaN NaN     NaN
6579                             -1 NaN       NaN NaN   NaN NaN     NaN
6580                             -1 NaN       NaN NaN   NaN NaN     NaN
6581                             -1 NaN       day NaN   7.0 NaN     NaN
6582                             -1 NaN       NaN NaN   NaN NaN     NaN
6583                             -1 NaN      year NaN  27.0 NaN     NaN
6584                             -1 NaN  kilogram NaN  62.0 NaN     NaN

                     mean        choice  value
characteristica_pk
6576                  NaN  homo sapiens    NaN
6577                  NaN             Y    NaN
6578                  NaN             Y    NaN
6579                  NaN             M    NaN
6580                  NaN             F    NaN
6581                  NaN           NaN    NaN
6582                  NaN             N    NaN
6583                34.00           NaN    NaN
6584                73.11           NaN    NaN

In a similar manner we can explore the other information, i.e. `individuals`, `interventions`, `outputs` and `timecourses`.

In [18]:
data.individuals_mi

                                                  Unnamed: 0    study_name  \
individual_pk individual_name characteristica_pk
1341          LP              6591                      8142  Clements1976
                              6592                      8137  Clements1976
                              6593                      8138  Clements1976
                              6594                      8139  Clements1976
                              6595                      8140  Clements1976
...                                                      ...           ...
8589          P8              37345                    59275    Caraco1999
                              37346                    59276    Caraco1999
                              37358                    59278    Caraco1999
                              37389                    59277    Caraco1999
                              37390                    59279    Caraco1999

                                                  study_sid measurement_type  \
individual_pk individual_name characteristica_pk
1341          LP              6591                PKDB00186          species
                              6592                PKDB00186              sex
                              6593                PKDB00186          healthy
                              6594                PKDB00186   overnight fast
                              6595                PKDB00186              age
...                                                     ...              ...
8589          P8              37345                10381807              sex
                              37346                10381807          smoking
                              37358                10381807        ethnicity
                              37389                10381807              age
                              37390                10381807           weight

                                                   max substance  count  \
individual_pk individual_name characteristica_pk
1341          LP              6591                 NaN       nan      4
                              6592                 NaN       nan      4
                              6593                 NaN       nan      4
                              6594                 NaN       nan      4
                              6595                37.0       nan      4
...                                                ...       ...    ...
8589          P8              37345                NaN       nan     18
                              37346                NaN       nan     18
                              37358                NaN       nan      8
                              37389                NaN       nan      1
                              37390                NaN       nan      1

                                                  individual_group_pk  sd  \
individual_pk individual_name characteristica_pk
1341          LP              6591                                313 NaN
                              6592                                313 NaN
                              6593                                313 NaN
                              6594                                313 NaN
                              6595                                313 NaN
...                                                               ...  ..
8589          P8              37345                              1847 NaN
                              37346                              1847 NaN
                              37358                              1847 NaN
                              37389                              1847 NaN
                              37390                              1847 NaN

                                                      unit  se   min  cv  \
individual_pk individual_name characteristica_pk
1341          LP              6591                     NaN NaN   NaN NaN
                              6592                     NaN NaN   NaN NaN
                              6593                     NaN NaN   NaN NaN
                              6594                     NaN NaN   NaN NaN
                              6595                    year NaN  28.0 NaN
...                                                    ...  ..   ...  ..
8589          P8              37345                    NaN NaN   NaN NaN
                              37346                    NaN NaN   NaN NaN
                              37358                    NaN NaN   NaN NaN
                              37389                   year NaN   NaN NaN
                              37390               kilogram NaN   NaN NaN

                                                  median  mean        choice  \
individual_pk individual_name characteristica_pk
1341          LP              6591                   NaN   NaN  homo sapiens
                              6592                   NaN   NaN             M
                              6593                   NaN   NaN             Y
                              6594                   NaN   NaN             Y
                              6595                   NaN   NaN           NaN
...                                                  ...   ...           ...
8589          P8              37345                  NaN   NaN             M
                              37346                  NaN   NaN             N
                              37358                  NaN   NaN       chinese
                              37389                  NaN   NaN           NaN
                              37390                  NaN   NaN           NaN

                                                  value
individual_pk individual_name characteristica_pk
1341          LP              6591                  NaN
                              6592                  NaN
                              6593                  NaN
                              6594                  NaN
                              6595                  NaN
...                                                 ...
8589          P8              37345                 NaN
                              37346                 NaN
                              37358                 NaN
                              37389                41.0
                              37390                74.0

[59284 rows x 17 columns]

                                                  Unnamed: 0    study_name  \
individual_pk individual_name characteristica_pk
1341          LP              6591                      8142  Clements1976
                              6592                      8137  Clements1976
                              6593                      8138  Clements1976
                              6594                      8139  Clements1976
                              6595                      8140  Clements1976
...                                                      ...           ...
8589          P8              37345                    59275    Caraco1999
                              37346                    59276    Caraco1999
                              37358                    59278    Caraco1999
                              37389                    59277    Caraco1999
                              37390                    59279    Caraco1999

                                                  study_sid measurement_type  \
individual_pk individual_name characteristica_pk
1341          LP              6591                PKDB00186          species
                              6592                PKDB00186              sex
                              6593                PKDB00186          healthy
                              6594                PKDB00186   overnight fast
                              6595                PKDB00186              age
...                                                     ...              ...
8589          P8              37345                10381807              sex
                              37346                10381807          smoking
                              37358                10381807        ethnicity
                              37389                10381807              age
                              37390                10381807           weight

                                                   max substance  count  \
individual_pk individual_name characteristica_pk
1341          LP              6591                 NaN       nan      4
                              6592                 NaN       nan      4
                              6593                 NaN       nan      4
                              6594                 NaN       nan      4
                              6595                37.0       nan      4
...                                                ...       ...    ...
8589          P8              37345                NaN       nan     18
                              37346                NaN       nan     18
                              37358                NaN       nan      8
                              37389                NaN       nan      1
                              37390                NaN       nan      1

                                                  individual_group_pk  sd  \
individual_pk individual_name characteristica_pk
1341          LP              6591                                313 NaN
                              6592                                313 NaN
                              6593                                313 NaN
                              6594                                313 NaN
                              6595                                313 NaN
...                                                               ...  ..
8589          P8              37345                              1847 NaN
                              37346                              1847 NaN
                              37358                              1847 NaN
                              37389                              1847 NaN
                              37390                              1847 NaN

                                                      unit  se   min  cv  \
individual_pk individual_name characteristica_pk
1341          LP              6591                     NaN NaN   NaN NaN
                              6592                     NaN NaN   NaN NaN
                              6593                     NaN NaN   NaN NaN
                              6594                     NaN NaN   NaN NaN
                              6595                    year NaN  28.0 NaN
...                                                    ...  ..   ...  ..
8589          P8              37345                    NaN NaN   NaN NaN
                              37346                    NaN NaN   NaN NaN
                              37358                    NaN NaN   NaN NaN
                              37389                   year NaN   NaN NaN
                              37390               kilogram NaN   NaN NaN

                                                  median  mean        choice  \
individual_pk individual_name characteristica_pk
1341          LP              6591                   NaN   NaN  homo sapiens
                              6592                   NaN   NaN             M
                              6593                   NaN   NaN             Y
                              6594                   NaN   NaN             Y
                              6595                   NaN   NaN           NaN
...                                                  ...   ...           ...
8589          P8              37345                  NaN   NaN             M
                              37346                  NaN   NaN             N
                              37358                  NaN   NaN       chinese
                              37389                  NaN   NaN           NaN
                              37390                  NaN   NaN           NaN

                                                  value
individual_pk individual_name characteristica_pk
1341          LP              6591                  NaN
                              6592                  NaN
                              6593                  NaN
                              6594                  NaN
                              6595                  NaN
...                                                 ...
8589          P8              37345                 NaN
                              37346                 NaN
                              37358                 NaN
                              37389                41.0
                              37390                74.0

[59284 rows x 17 columns]

In [19]:
data.interventions_mi

,Unnamed: 0,study_sid,study_name,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
intervention_pk,,,,,,,,,,,,,,,,,,,,,
0,242,PKDB00026,Chiew2010,671,True,paracetamol,oral,tablet,single dose,0.0,...,paracetamol,0.000079,None,None,0.000077,0.000083,NaN,NaN,None,count
1,243,PKDB00026,Chiew2010,673,True,PEx,oral,tablet,single dose,0.0,...,panadol extend,0.000079,None,None,0.000075,0.000081,NaN,NaN,None,count
2,244,PKDB00186,Clements1976,675,True,paracetamol12mg/kg_iv,iv,solution,single dose,0.0,...,paracetamol,0.000012,None,None,NaN,NaN,NaN,NaN,None,count
3,245,PKDB00188,Clements1978,677,True,paracetamol20mg/kg_po,oral,solution,single dose,0.0,...,paracetamol,0.000020,None,None,NaN,NaN,NaN,NaN,None,count
4,245,PKDB00188,Clements1978,677,True,paracetamol20mg/kg_po,oral,solution,single dose,0.0,...,paracetamol,0.000020,None,None,NaN,NaN,NaN,NaN,None,count
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,1381,10381807,Caraco1999,3597,True,COD,oral,capsule,single dose,0.0,...,codeine phosphate,0.120000,None,None,NaN,NaN,NaN,NaN,None,gram
1172,1381,10381807,Caraco1999,3597,True,COD,oral,capsule,single dose,0.0,...,codeine phosphate,0.120000,None,None,NaN,NaN,NaN,NaN,None,gram
1172,1383,10381807,Caraco1999,3601,True,QUI,oral,capsule,single dose,NaN,...,quinidine,0.100000,None,None,NaN,NaN,NaN,NaN,None,gram
1173,1384,PKDB00096,Kronstrand2001,3607,True,COD,oral,NR,single dose,0.0,...,codeine phosphate,0.100000,None,None,NaN,NaN,NaN,NaN,None,gram
1174,1385,PKDB00102,Mohammed1993,3609,True,COD,oral,NR,single dose,0.0,...,codeine,0.060000,None,None,NaN,NaN,NaN,NaN,None,gram

                 Unnamed: 0  study_sid      study_name  raw_pk  normed  \
intervention_pk
0                       242  PKDB00026       Chiew2010     671    True
1                       243  PKDB00026       Chiew2010     673    True
2                       244  PKDB00186    Clements1976     675    True
3                       245  PKDB00188    Clements1978     677    True
4                       245  PKDB00188    Clements1978     677    True
...                     ...        ...             ...     ...     ...
1171                   1381   10381807      Caraco1999    3597    True
1172                   1381   10381807      Caraco1999    3597    True
1172                   1383   10381807      Caraco1999    3601    True
1173                   1384  PKDB00096  Kronstrand2001    3607    True
1174                   1385  PKDB00102    Mohammed1993    3609    True

                                  name route      form  application  time  \
intervention_pk
0                          paracetamol  oral    tablet  single dose   0.0
1                                  PEx  oral    tablet  single dose   0.0
2                paracetamol12mg/kg_iv    iv  solution  single dose   0.0
3                paracetamol20mg/kg_po  oral  solution  single dose   0.0
4                paracetamol20mg/kg_po  oral  solution  single dose   0.0
...                                ...   ...       ...          ...   ...
1171                               COD  oral   capsule  single dose   0.0
1172                               COD  oral   capsule  single dose   0.0
1172                               QUI  oral   capsule  single dose   NaN
1173                               COD  oral        NR  single dose   0.0
1174                               COD  oral        NR  single dose   0.0

                 ...          substance     value  mean median       min  \
intervention_pk  ...
0                ...        paracetamol  0.000079  None   None  0.000077
1                ...     panadol extend  0.000079  None   None  0.000075
2                ...        paracetamol  0.000012  None   None       NaN
3                ...        paracetamol  0.000020  None   None       NaN
4                ...        paracetamol  0.000020  None   None       NaN
...              ...                ...       ...   ...    ...       ...
1171             ...  codeine phosphate  0.120000  None   None       NaN
1172             ...  codeine phosphate  0.120000  None   None       NaN
1172             ...          quinidine  0.100000  None   None       NaN
1173             ...  codeine phosphate  0.100000  None   None       NaN
1174             ...            codeine  0.060000  None   None       NaN

                      max  sd  se    cv   unit
intervention_pk
0                0.000083 NaN NaN  None  count
1                0.000081 NaN NaN  None  count
2                     NaN NaN NaN  None  count
3                     NaN NaN NaN  None  count
4                     NaN NaN NaN  None  count
...                   ...  ..  ..   ...    ...
1171                  NaN NaN NaN  None   gram
1172                  NaN NaN NaN  None   gram
1172                  NaN NaN NaN  None   gram
1173                  NaN NaN NaN  None   gram
1174                  NaN NaN NaN  None   gram

[1806 rows x 24 columns]

In [20]:
data.outputs_mi

,,,,Unnamed: 0,study_name,measurement_type,tissue,sd,se,min,time_unit,normed,calculated,...,method,max,substance,label,unit,cv,median,mean,time,choice
output_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,,,,
29987,0,312,-1,31210,Chiew2010,cmax,plasma,NaN,0.021276,NaN,NaN,True,False,...,NaN,NaN,paracetamol,paracetamol,gram / liter,0.746605,NaN,0.085492,NaN,NaN
29988,0,312,-1,32535,Chiew2010,cmax,plasma,NaN,0.007244,NaN,NaN,True,False,...,NaN,NaN,paracetamol glucuronide,paracetamol,gram / liter,0.198094,NaN,0.109713,NaN,NaN
29989,0,312,-1,31213,Chiew2010,cmax,plasma,NaN,0.002045,NaN,NaN,True,False,...,NaN,NaN,paracetamol sulfate,paracetamol,gram / liter,0.276726,NaN,0.022172,NaN,NaN
29990,0,312,-1,33656,Chiew2010,tmax,plasma,NaN,0.404200,NaN,NaN,True,False,...,NaN,NaN,paracetamol,paracetamol,hour,0.873002,NaN,1.389000,NaN,NaN
29991,0,312,-1,29717,Chiew2010,tmax,plasma,NaN,0.175700,NaN,NaN,True,False,...,NaN,NaN,paracetamol glucuronide,paracetamol,hour,0.148228,NaN,3.556000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186700,1174,1852,-1,99176,Mohammed1993,cmax,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,gram / liter,NaN,NaN,0.000143,NaN,NaN
186701,1174,1852,-1,99167,Mohammed1993,kel,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,1 / minute,NaN,NaN,0.004981,NaN,NaN
186702,1174,1852,-1,99156,Mohammed1993,thalf,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,hour,NaN,NaN,2.319383,NaN,NaN
186703,1174,1852,-1,99191,Mohammed1993,tmax,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,hour,NaN,NaN,0.750000,NaN,NaN
186704,1174,1852,-1,99285,Mohammed1993,vd_ss,plasma,NaN,NaN,NaN,NaN,True,True,...,NaN,NaN,codeine,NaN,liter,NaN,NaN,290.747372,NaN,NaN

                                                  Unnamed: 0    study_name  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                  31210     Chiew2010
29988     0               312      -1                  32535     Chiew2010
29989     0               312      -1                  31213     Chiew2010
29990     0               312      -1                  33656     Chiew2010
29991     0               312      -1                  29717     Chiew2010
...                                                      ...           ...
186700    1174            1852     -1                  99176  Mohammed1993
186701    1174            1852     -1                  99167  Mohammed1993
186702    1174            1852     -1                  99156  Mohammed1993
186703    1174            1852     -1                  99191  Mohammed1993
186704    1174            1852     -1                  99285  Mohammed1993

                                                 measurement_type  tissue  sd  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                        cmax  plasma NaN
29988     0               312      -1                        cmax  plasma NaN
29989     0               312      -1                        cmax  plasma NaN
29990     0               312      -1                        tmax  plasma NaN
29991     0               312      -1                        tmax  plasma NaN
...                                                           ...     ...  ..
186700    1174            1852     -1                        cmax  plasma NaN
186701    1174            1852     -1                         kel  plasma NaN
186702    1174            1852     -1                       thalf  plasma NaN
186703    1174            1852     -1                        tmax  plasma NaN
186704    1174            1852     -1                       vd_ss  plasma NaN

                                                        se  min time_unit  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1             0.021276  NaN       NaN
29988     0               312      -1             0.007244  NaN       NaN
29989     0               312      -1             0.002045  NaN       NaN
29990     0               312      -1             0.404200  NaN       NaN
29991     0               312      -1             0.175700  NaN       NaN
...                                                    ...  ...       ...
186700    1174            1852     -1                  NaN  NaN       NaN
186701    1174            1852     -1                  NaN  NaN       NaN
186702    1174            1852     -1                  NaN  NaN       NaN
186703    1174            1852     -1                  NaN  NaN       NaN
186704    1174            1852     -1                  NaN  NaN       NaN

                                                  normed  calculated  ...  \
output_pk intervention_pk group_pk individual_pk                      ...
29987     0               312      -1               True       False  ...
29988     0               312      -1               True       False  ...
29989     0               312      -1               True       False  ...
29990     0               312      -1               True       False  ...
29991     0               312      -1               True       False  ...
...                                                  ...         ...  ...
186700    1174            1852     -1               True        True  ...
186701    1174            1852     -1               True        True  ...
186702    1174            1852     -1               True        True  ...
186703    1174            1852     -1               True        True  ...
186704    1174            1852     -1               True        True  ...

                                                  method max  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                NaN NaN
29988     0               312      -1                NaN NaN
29989     0               312      -1                NaN NaN
29990     0               312      -1                NaN NaN
29991     0               312      -1                NaN NaN
...                                                  ...  ..
186700    1174            1852     -1                NaN NaN
186701    1174            1852     -1                NaN NaN
186702    1174            1852     -1                NaN NaN
186703    1174            1852     -1                NaN NaN
186704    1174            1852     -1                NaN NaN

                                                                substance  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1                         paracetamol
29988     0               312      -1             paracetamol glucuronide
29989     0               312      -1                 paracetamol sulfate
29990     0               312      -1                         paracetamol
29991     0               312      -1             paracetamol glucuronide
...                                                                   ...
186700    1174            1852     -1                             codeine
186701    1174            1852     -1                             codeine
186702    1174            1852     -1                             codeine
186703    1174            1852     -1                             codeine
186704    1174            1852     -1                             codeine

                                                        label          unit  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1             paracetamol  gram / liter
29988     0               312      -1             paracetamol  gram / liter
29989     0               312      -1             paracetamol  gram / liter
29990     0               312      -1             paracetamol          hour
29991     0               312      -1             paracetamol          hour
...                                                       ...           ...
186700    1174            1852     -1                     NaN  gram / liter
186701    1174            1852     -1                     NaN    1 / minute
186702    1174            1852     -1                     NaN          hour
186703    1174            1852     -1                     NaN          hour
186704    1174            1852     -1                     NaN         liter

                                                        cv median        mean  \
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1             0.746605    NaN    0.085492
29988     0               312      -1             0.198094    NaN    0.109713
29989     0               312      -1             0.276726    NaN    0.022172
29990     0               312      -1             0.873002    NaN    1.389000
29991     0               312      -1             0.148228    NaN    3.556000
...                                                    ...    ...         ...
186700    1174            1852     -1                  NaN    NaN    0.000143
186701    1174            1852     -1                  NaN    NaN    0.004981
186702    1174            1852     -1                  NaN    NaN    2.319383
186703    1174            1852     -1                  NaN    NaN    0.750000
186704    1174            1852     -1                  NaN    NaN  290.747372

                                                  time  choice
output_pk intervention_pk group_pk individual_pk
29987     0               312      -1              NaN     NaN
29988     0               312      -1              NaN     NaN
29989     0               312      -1              NaN     NaN
29990     0               312      -1              NaN     NaN
29991     0               312      -1              NaN     NaN
...                                                ...     ...
186700    1174            1852     -1              NaN     NaN
186701    1174            1852     -1              NaN     NaN
186702    1174            1852     -1              NaN     NaN
186703    1174            1852     -1              NaN     NaN
186704    1174            1852     -1              NaN     NaN

[71501 rows x 23 columns]

In [21]:
data.timecourses_mi

,,,,Unnamed: 0,study_sid,study_name,output_pk,subset_name,normed,tissue,tissue_label,method,method_label,...,substance_label,value,mean,median,min,max,sd,se,cv,unit
subset_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,,,,
690,NaN,312,-1,444,PKDB00026,Chiew2010,"(30125, 30126, 30127, 30128, 30129, 30130...",fig2__PEx_paracetamol glucuronide,True,serum,serum,NaN,NaN,...,paracetamol glucuronide,NaN,"[0.00146388329555856, 0.009858915141736, 0.018...",NaN,NaN,NaN,"[None, 0.007682712100943999, 0.008779730711669...","[None, 0.0025609040336480003, 0.00292657690388...","[None, 0.779265465874696, 0.4807891924497527, ...",gram / liter
691,NaN,316,-1,401,PKDB00188,Clements1978,"(30545, 30546, 30547, 30548, 30549, 30550...",pentazocine_study_paracetamol20mg/kg_po_pentaz...,True,plasma,plasma,NaN,NaN,...,paracetamol,NaN,"[None, 0.0006, None, 0.0013000000000000002, 0....",NaN,NaN,NaN,"[None, 0.0011, None, 0.0026000000000000003, 0....","[None, 0.00055, None, 0.0013000000000000002, 0...","[None, 1.8333333333333337, None, 2.0, 1.6875, ...",gram / liter
692,NaN,317,-1,460,PKDB00188,Clements1978,"(30565, 30566, 30567, 30568, 30569, 30570...",pentazocine_naloxone study_paracetamol20mg/kg_...,True,plasma,plasma,NaN,NaN,...,paracetamol,NaN,"[None, 0.0013000000000000002, None, 0.0033, 0....",NaN,NaN,NaN,"[None, 0.0001, None, 0.0011, 0.0048, 0.003, 0....","[None, 5e-05, None, 0.00055, 0.0024, 0.0015, 0...","[None, 0.07692307692307691, None, 0.3333333333...",gram / liter
693,NaN,-1,1346,449,PKDB00188,Clements1978,"(30682, 30683, 30684, 30685, 30686, 30687...",subject2__20mg/kg,True,plasma,plasma,NaN,NaN,...,paracetamol,"[0.0, 2.7624309e-05, 0.0005524861999999999, 0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
694,NaN,314,-1,406,PKDB00188,Clements1978,"(30509, 30510, 30511, 30512, 30513, 30514...",all_paracetamol20mg/kg_po,True,plasma,plasma,NaN,NaN,...,paracetamol,NaN,"[0.0175, 0.019600000000000003, 0.02, 0.0188, 0...",NaN,NaN,NaN,"[0.0079, 0.007200000000000001, 0.0052000000000...","[0.0027930717856868626, 0.002545584412271571, ...","[0.45142857142857146, 0.36734693877551017, 0.2...",gram / liter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,NaN,1844,-1,2880,Test4,Test4,"(185590, 185591, 185592, 185593, 185594, ...",caf,True,plasma,plasma,NaN,NaN,...,caffeine,NaN,"[0.0035442116, 0.0033748657999999993, 0.003074...",NaN,NaN,NaN,"[0.0003674772, 0.0003820028, 0.000459372, 0.00...","[9.18693e-05, 9.55007e-05, 0.000114843, 0.0001...","[0.10368376425380471, 0.1131905156050946, 0.14...",gram / liter
3963,NaN,1844,-1,2885,Test4,Test4,"(185617, 185618, 185602, 185603, 185604, ...",caf (lome),True,plasma,plasma,NaN,NaN,...,caffeine,NaN,"[6.1484754e-05, 3.8633807e-07, 0.00014989601, ...",NaN,NaN,NaN,"[0.000106382306, 5.319748493e-05, 0.0001885994...","[2.65955765e-05, 1.32993712325e-05, 4.71498725...","[1.7302225198786676, 137.69671968905368, 1.258...",gram / liter
3968,NaN,1846,-1,2906,10381807,Caraco1999,"(186179, 186180, 186181, 186182, 186183, ...",caucasian_quinidine,True,plasma,plasma,NaN,NaN,...,quinidine,NaN,"[0.0, 0.00024116978, 0.00026011735000000004, 0...",NaN,NaN,NaN,NaN,"[None, 6.6e-05, 4.6e-05, 4.2999999999999995e-0...","[None, 0.8209983854527712, 0.5305297781943418,...",gram / liter
3974,NaN,1847,-1,2910,10381807,Caraco1999,"(186132, 186133, 186134, 186135, 186136, ...",morphine-6-glucuronide,True,plasma,plasma,NaN,NaN,...,morphine-6-glucuronide,NaN,"[0.0, 1.1371890815142e-05, 1.38441064196046e-0...",NaN,NaN,NaN,NaN,"[None, 3.0636716549844004e-06, 6.5319184065738...","[None, 0.7619992269654697, 1.334506875186959, ...",gram / liter
3979,NaN,1850,-1,2896,PKDB00096,Kronstrand2001,"(186524, 186525, 186526, 186530, 186531, ...",cod/mor,True,plasma,plasma,NaN,NaN,...,codeine/morphine,NaN,NaN,"[1.3834293, 21.708742, 34.451035, 34.728058000...",NaN,NaN,NaN,"[None, 4.827178, 2.412738, 2.067942, 2.070484,...",NaN,none

                                                  Unnamed: 0  study_sid  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                    444  PKDB00026
691       NaN              316     -1                    401  PKDB00188
692       NaN              317     -1                    460  PKDB00188
693       NaN             -1        1346                 449  PKDB00188
694       NaN              314     -1                    406  PKDB00188
...                                                      ...        ...
3962      NaN              1844    -1                   2880      Test4
3963      NaN              1844    -1                   2885      Test4
3968      NaN              1846    -1                   2906   10381807
3974      NaN              1847    -1                   2910   10381807
3979      NaN              1850    -1                   2896  PKDB00096

                                                      study_name  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                  Chiew2010
691       NaN              316     -1               Clements1978
692       NaN              317     -1               Clements1978
693       NaN             -1        1346            Clements1978
694       NaN              314     -1               Clements1978
...                                                          ...
3962      NaN              1844    -1                      Test4
3963      NaN              1844    -1                      Test4
3968      NaN              1846    -1                 Caraco1999
3974      NaN              1847    -1                 Caraco1999
3979      NaN              1850    -1             Kronstrand2001

                                                                                          output_pk  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             (30125,  30126,  30127,  30128,  30129,  30130...
691       NaN              316     -1             (30545,  30546,  30547,  30548,  30549,  30550...
692       NaN              317     -1             (30565,  30566,  30567,  30568,  30569,  30570...
693       NaN             -1        1346          (30682,  30683,  30684,  30685,  30686,  30687...
694       NaN              314     -1             (30509,  30510,  30511,  30512,  30513,  30514...
...                                                                                             ...
3962      NaN              1844    -1             (185590,  185591,  185592,  185593,  185594,  ...
3963      NaN              1844    -1             (185617,  185618,  185602,  185603,  185604,  ...
3968      NaN              1846    -1             (186179,  186180,  186181,  186182,  186183,  ...
3974      NaN              1847    -1             (186132,  186133,  186134,  186135,  186136,  ...
3979      NaN              1850    -1             (186524,  186525,  186526,  186530,  186531,  ...

                                                                                        subset_name  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                             fig2__PEx_paracetamol glucuronide
691       NaN              316     -1             pentazocine_study_paracetamol20mg/kg_po_pentaz...
692       NaN              317     -1             pentazocine_naloxone study_paracetamol20mg/kg_...
693       NaN             -1        1346                                          subject2__20mg/kg
694       NaN              314     -1                                     all_paracetamol20mg/kg_po
...                                                                                             ...
3962      NaN              1844    -1                                                           caf
3963      NaN              1844    -1                                                    caf (lome)
3968      NaN              1846    -1                                           caucasian_quinidine
3974      NaN              1847    -1                                        morphine-6-glucuronide
3979      NaN              1850    -1                                                       cod/mor

                                                  normed  tissue tissue_label  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1               True   serum        serum
691       NaN              316     -1               True  plasma       plasma
692       NaN              317     -1               True  plasma       plasma
693       NaN             -1        1346            True  plasma       plasma
694       NaN              314     -1               True  plasma       plasma
...                                                  ...     ...          ...
3962      NaN              1844    -1               True  plasma       plasma
3963      NaN              1844    -1               True  plasma       plasma
3968      NaN              1846    -1               True  plasma       plasma
3974      NaN              1847    -1               True  plasma       plasma
3979      NaN              1850    -1               True  plasma       plasma

                                                 method method_label  ...  \
subset_pk intervention_pk group_pk individual_pk                      ...
690       NaN              312     -1               NaN          NaN  ...
691       NaN              316     -1               NaN          NaN  ...
692       NaN              317     -1               NaN          NaN  ...
693       NaN             -1        1346            NaN          NaN  ...
694       NaN              314     -1               NaN          NaN  ...
...                                                 ...          ...  ...
3962      NaN              1844    -1               NaN          NaN  ...
3963      NaN              1844    -1               NaN          NaN  ...
3968      NaN              1846    -1               NaN          NaN  ...
3974      NaN              1847    -1               NaN          NaN  ...
3979      NaN              1850    -1               NaN          NaN  ...

                                                          substance_label  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             paracetamol glucuronide
691       NaN              316     -1                         paracetamol
692       NaN              317     -1                         paracetamol
693       NaN             -1        1346                      paracetamol
694       NaN              314     -1                         paracetamol
...                                                                   ...
3962      NaN              1844    -1                            caffeine
3963      NaN              1844    -1                            caffeine
3968      NaN              1846    -1                           quinidine
3974      NaN              1847    -1              morphine-6-glucuronide
3979      NaN              1850    -1                    codeine/morphine

                                                                                              value  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                                                           NaN
691       NaN              316     -1                                                           NaN
692       NaN              317     -1                                                           NaN
693       NaN             -1        1346          [0.0, 2.7624309e-05, 0.0005524861999999999, 0....
694       NaN              314     -1                                                           NaN
...                                                                                             ...
3962      NaN              1844    -1                                                           NaN
3963      NaN              1844    -1                                                           NaN
3968      NaN              1846    -1                                                           NaN
3974      NaN              1847    -1                                                           NaN
3979      NaN              1850    -1                                                           NaN

                                                                                               mean  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [0.00146388329555856, 0.009858915141736, 0.018...
691       NaN              316     -1             [None, 0.0006, None, 0.0013000000000000002, 0....
692       NaN              317     -1             [None, 0.0013000000000000002, None, 0.0033, 0....
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.0175, 0.019600000000000003, 0.02, 0.0188, 0...
...                                                                                             ...
3962      NaN              1844    -1             [0.0035442116, 0.0033748657999999993, 0.003074...
3963      NaN              1844    -1             [6.1484754e-05, 3.8633807e-07, 0.00014989601, ...
3968      NaN              1846    -1             [0.0, 0.00024116978, 0.00026011735000000004, 0...
3974      NaN              1847    -1             [0.0, 1.1371890815142e-05, 1.38441064196046e-0...
3979      NaN              1850    -1                                                           NaN

                                                                                             median  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1                                                           NaN
691       NaN              316     -1                                                           NaN
692       NaN              317     -1                                                           NaN
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1                                                           NaN
...                                                                                             ...
3962      NaN              1844    -1                                                           NaN
3963      NaN              1844    -1                                                           NaN
3968      NaN              1846    -1                                                           NaN
3974      NaN              1847    -1                                                           NaN
3979      NaN              1850    -1             [1.3834293, 21.708742, 34.451035, 34.728058000...

                                                  min  max  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             NaN  NaN
691       NaN              316     -1             NaN  NaN
692       NaN              317     -1             NaN  NaN
693       NaN             -1        1346          NaN  NaN
694       NaN              314     -1             NaN  NaN
...                                               ...  ...
3962      NaN              1844    -1             NaN  NaN
3963      NaN              1844    -1             NaN  NaN
3968      NaN              1846    -1             NaN  NaN
3974      NaN              1847    -1             NaN  NaN
3979      NaN              1850    -1             NaN  NaN

                                                                                                 sd  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [None, 0.007682712100943999, 0.008779730711669...
691       NaN              316     -1             [None, 0.0011, None, 0.0026000000000000003, 0....
692       NaN              317     -1             [None, 0.0001, None, 0.0011, 0.0048, 0.003, 0....
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.0079, 0.007200000000000001, 0.0052000000000...
...                                                                                             ...
3962      NaN              1844    -1             [0.0003674772, 0.0003820028, 0.000459372, 0.00...
3963      NaN              1844    -1             [0.000106382306, 5.319748493e-05, 0.0001885994...
3968      NaN              1846    -1                                                           NaN
3974      NaN              1847    -1                                                           NaN
3979      NaN              1850    -1                                                           NaN

                                                                                                 se  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [None, 0.0025609040336480003, 0.00292657690388...
691       NaN              316     -1             [None, 0.00055, None, 0.0013000000000000002, 0...
692       NaN              317     -1             [None, 5e-05, None, 0.00055, 0.0024, 0.0015, 0...
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.0027930717856868626, 0.002545584412271571, ...
...                                                                                             ...
3962      NaN              1844    -1             [9.18693e-05, 9.55007e-05, 0.000114843, 0.0001...
3963      NaN              1844    -1             [2.65955765e-05, 1.32993712325e-05, 4.71498725...
3968      NaN              1846    -1             [None, 6.6e-05, 4.6e-05, 4.2999999999999995e-0...
3974      NaN              1847    -1             [None, 3.0636716549844004e-06, 6.5319184065738...
3979      NaN              1850    -1             [None, 4.827178, 2.412738, 2.067942, 2.070484,...

                                                                                                 cv  \
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             [None, 0.779265465874696, 0.4807891924497527, ...
691       NaN              316     -1             [None, 1.8333333333333337, None, 2.0, 1.6875, ...
692       NaN              317     -1             [None, 0.07692307692307691, None, 0.3333333333...
693       NaN             -1        1346                                                        NaN
694       NaN              314     -1             [0.45142857142857146, 0.36734693877551017, 0.2...
...                                                                                             ...
3962      NaN              1844    -1             [0.10368376425380471, 0.1131905156050946, 0.14...
3963      NaN              1844    -1             [1.7302225198786676, 137.69671968905368, 1.258...
3968      NaN              1846    -1             [None, 0.8209983854527712, 0.5305297781943418,...
3974      NaN              1847    -1             [None, 0.7619992269654697, 1.334506875186959, ...
3979      NaN              1850    -1                                                           NaN

                                                          unit
subset_pk intervention_pk group_pk individual_pk
690       NaN              312     -1             gram / liter
691       NaN              316     -1             gram / liter
692       NaN              317     -1             gram / liter
693       NaN             -1        1346          gram / liter
694       NaN              314     -1             gram / liter
...                                                        ...
3962      NaN              1844    -1             gram / liter
3963      NaN              1844    -1             gram / liter
3968      NaN              1846    -1             gram / liter
3974      NaN              1847    -1             gram / liter
3979      NaN              1850    -1                     none

[419 rows x 28 columns]