In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter
from utils import PkdbModel, paraxanthine_idx, measurement_type_data, filter_out, convert_unit, unstring, to_numeric
plt.style.use('seaborn-whitegrid')
import numpy as np
from collections import namedtuple

In [9]:
from IPython.display import display, HTML

def multi_table(table_list):
    ''' Acceps a list of IpyTable objects and returns a table which contains each IpyTable in a cell    '''
    return HTML(
         '<table><tr style="background-color:white;">' +
         ''.join(['<td>' + table._repr_html_() + '</td>' for table in table_list]) +
         '</tr></table>'
     )

In [10]:
%load_ext autoreload
%autoreload 2

In [11]:
all_complete = PkdbModel("all_complete", destination="2-merged")
all_complete.read()
all_complete.to_numeric()
all_complete.data.loc[(all_complete.data[("sex","choice")] == "M"),("oral contraceptives","choice")] = "N"
complete_paraxanthine = all_complete.data[paraxanthine_idx(all_complete.data)]

/home/janekg89/Envs/pkdb_analysis/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (15,25,28,29,30,31,44,71,72,88,114,115,117,119,121,123,124,126,127,128,129,132,133,134,136,140,142,146,155,157,158,159,161,162,168,169,170,171,180,181,182,183,185,186,188,190,192,197,198,199,200,207,208,212,215,216,224,229,233,234,239,243) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [12]:
Inference = namedtuple("Inference",["name","filter_out","measurement_type"])

In [13]:
inferences = [
    Inference(
        name="paraxanthine_clearance",
        filter_out= {},
        measurement_type = "clearance",
    ),
    Inference(
        name="paraxanthine_timecourse",
        filter_out= {},
        measurement_type = "concentration"
    ),
    Inference(
        name="paraxanthine_thalf",
        filter_out= {},
        measurement_type = "thalf"
    ), 
    Inference(
        name="paraxanthine_tmax",
        filter_out= {},
        measurement_type = "tmax"
    ),
    Inference(
        name="paraxanthine_vd",
        filter_out= {},
        measurement_type = "vd"
    ),
     Inference(
        name="paraxanthine_auc_inf",
        filter_out= {},
        measurement_type = "auc_inf"
    ),
     Inference(
        name="paraxanthine_auc_end",
        filter_out= {},
        measurement_type = "auc_end"
    ),
    Inference(
        name="paraxanthine_kel",
        filter_out= {},
        measurement_type = "kel"
    ),
]

In [15]:
for inference in inferences:
    print(inference.name)
    data = measurement_type_data(complete_paraxanthine,inference.measurement_type)
    data_class = PkdbModel(inference.name,destination="3-inferred")
    data_class.data = data
    [data_class.filter_out(k,v)for k,v in inference.filter_out.items()]
    data_class.infer_from_interventions()
    data_class.infer_from_outputs()
    data_class.save()

    t1 = pd.DataFrame(data_class.data.groupby(["unit", "unit_intervention"]).apply(len), columns=["count"])
    t2 = pd.DataFrame(data_class.data.groupby(["inferred"]).apply(len), columns=["count"])
    t3 = pd.DataFrame(data_class.data.groupby(["calculated"]).apply(len), columns=["count"])
    display(multi_table([t1,t2,t3]))

{'token': '55388d17d53f133a3f7eb7c69dd0874731fe3445'}
paraxanthine_clearance

paraxanthine_timecourse

paraxanthine_thalf

paraxanthine_tmax

paraxanthine_vd

paraxanthine_auc_inf

paraxanthine_auc_end

paraxanthine_kel